@model dynamic

@using DomainModel

@{
    List<Subject> subjectList = Model.Subjects;

    TestTemplate testTemplate = Model.TestTemplate;
    if(testTemplate.Subject == null)
    {
        testTemplate.Subject = subjectList[0];
    }
    var startDate = testTemplate.StartDate.ToString("yyyy-MM-ddTHH:mm");
    if (startDate == "0001-01-01T00:00")
    {
        startDate = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
    }
    var endDate = testTemplate.EndDate.ToString("yyyy-MM-ddTHH:mm");
    if (endDate == "0001-01-01T00:00")
    {
        endDate = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
    }
    
    ViewData["Title"] = "Vytvoření zadání testu";
}

<div class="text-center">
    <h1>Vytvoření zadání testu</h1>

    <p>@ViewBag.Message</p>

    <form method="POST">
        <label for="title">Nadpis:</label>
        <input type="text" required id="title" name="Title" value="@testTemplate.Title"><br>
        <p>Záporné body:</p>
        <p><input class="radio input" title="Vypnuto (nejmenší možný počet bodů je vždy 0)" type="radio" id="Disabled" value="1" name="negativePoints"><label class="radio-label" title="Vypnuto (nejmenší možný počet bodů je 0)" for="negativePointsDisabled">Vypnuto (nejmenší možný počet bodů je 0)</label></p>
        <p><input class="radio input" title="Zapnuto pouze v rámci otázky" type="radio" id="EnabledForQuestion" value="2" name="negativePoints"><label class="radio-label" title="Zapnuto pouze v rámci otázky" for="negativePointsEnabledForQuestion">Zapnuto pouze v rámci otázky</label></p>
        <p><input class="radio input" title="Zapnuto" type="radio" id="Enabled" value="3" name="negativePoints"><label class="radio-label" title="Zapnuto" for="negativePointsEnabled">Zapnuto</label></p>
        <p>Čas začátku testu:</p>
        <p><input type="datetime-local" required name="StartDate" value="@startDate"></p>
        <p>Čas konce testu:</p>
        <p><input type="datetime-local" required name="EndDate" value="@endDate"></p>
        @{
            if (subjectList.Count == 0)
            {
                <p>Chyba: v systému neexistuje žádný předmět. Před přidáním testu přidejte do systému alespoň jeden předmět.</p>
            }
            else
            {
                <label for="subject">Předmět:</label><br> 
                <select class="input" name="subjectId" id="subject">
                    @{
                        for (int i = 0; i < subjectList.Count; i++)
                        {
                            string optionString = "(" + subjectList[i].Abbreviation + ") " + subjectList[i].Name + " - garant " + subjectList[i].Guarantor.FullName();
                            <option value="@subjectList[i].SubjectId">@optionString</option>
                        }
                    }
                </select>
                <br>
                <input class="button" title="Uložit" type="submit" value="Uložit">
            }
        }
    </form>
</div>

<script src="/js/site.js"></script>
<script>
    editTestTemplatePostProcessing('@testTemplate.NegativePoints', '@testTemplate.Subject.SubjectId');
</script>

<div id="backBtn">
    <a asp-action="TestTemplateList">Zpět</a>
</div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>