@model dynamic

@using DomainModel

@{
    List<Subject> subjectList = Model.Subjects;
    bool subjectsExist = true;
    if (subjectList.Count == 0)
    {
        subjectsExist = false;
    }

    TestTemplate testTemplate = Model.TestTemplate;
    if (testTemplate.Subject == null && subjectsExist)
    {
        testTemplate.Subject = subjectList[0];
    }
    var startDate = testTemplate.StartDate.ToString("yyyy-MM-ddTHH:mm");
    if (startDate == "0001-01-01T00:00")
    {
        startDate = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
    }
    var endDate = testTemplate.EndDate.ToString("yyyy-MM-ddTHH:mm");
    if (endDate == "0001-01-01T00:00")
    {
        endDate = DateTime.Now.ToString("yyyy-MM-ddTHH:mm");
    }
    
    ViewData["Title"] = "Vytvoření zadání testu";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <form method="POST" class="panel panel-medium">
        <div class="panel-content"><label for="title">Nadpis:</label></div>
        <div class="panel-content"><input type="text" required id="title" name="Title" value="@testTemplate.Title"></div>
        <div class="panel-content">Záporné body:</div>
        <div class="panel-content"><input class="radio input" title="Vypnuto (nejmenší možný počet bodů je vždy 0)" type="radio" id="Disabled" value="1" name="negativePoints"><label class="radio-label" title="Vypnuto (nejmenší možný počet bodů je 0)" for="negativePointsDisabled">Vypnuto (nejmenší možný počet bodů je 0)</label></div>
        <div class="panel-content"><input class="radio input" title="Zapnuto pouze v rámci otázky" type="radio" id="EnabledForQuestion" value="2" name="negativePoints"><label class="radio-label" title="Zapnuto pouze v rámci otázky" for="negativePointsEnabledForQuestion">Zapnuto pouze v rámci otázky</label></div>
        <div class="panel-content"><input class="radio input" title="Zapnuto" type="radio" id="Enabled" value="3" name="negativePoints"><label class="radio-label" title="Zapnuto" for="negativePointsEnabled">Zapnuto</label></div>
        <div class="panel-content">Čas začátku testu:</div>
        <div class="panel-content"><input type="datetime-local" required name="StartDate" value="@startDate"></div>
        <div class="panel-content">Čas konce testu:</div>
        <div class="panel-content"><input type="datetime-local" required name="EndDate" value="@endDate"></div>
        @{
            if (subjectList.Count == 0)
            {
                <div class="panel-content">Chyba: v systému neexistuje žádný předmět. Před přidáním testu přidejte do systému alespoň jeden předmět.</div>
            }
            else
            {
                <div class="panel-content"><label for="subject">Předmět:</label></div>
                <div class="panel-content">
                    <select class="input" name="subjectId" id="subject">
                    @{
                        for (int i = 0; i < subjectList.Count; i++)
                        {
                            string optionString = "(" + subjectList[i].Abbreviation + ") " + subjectList[i].Name + " - garant " + subjectList[i].Guarantor.FullName();
                            <option value="@subjectList[i].SubjectId">@optionString</option>
                        }
                    }
                    </select>
                </div>
                <div class="panel-content"><input class="button" title="Uložit" type="submit" value="Uložit"></div>
            }
        }
    </form>
</div>

<a id="backBtn" class="button" asp-action="TestTemplateList">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>

@{
    if (subjectsExist)
    {
        <script>
            editTestTemplatePostProcessing('@testTemplate.NegativePoints', '@testTemplate.Subject!.SubjectId');
        </script>
    }
}
