@model dynamic

@using DomainModel

@{
    ViewData["Title"] = "Prohlížení vyřešených testů";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <div id="test-result-list" class="panel panel-medium">
        @{
            if (Model.TestResults.Count > 0)
            {
                <table class="panel-table">
                    <tr>
                        <th>Datum</th>
                        <th>Vyučující</th>
                        <th>Prohlížení</th>
                    </tr>
                    @{
                        foreach (TestResult item in Model.TestResults)
                        {
                            string ownerFullName = item.TestTemplate.Owner.FullName();
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.TimeStamp)</td>
                                <td>@Html.DisplayFor(modelItem => ownerFullName)</td>
                                <td>
                                    <a class="button" title="Zobrazit test"
                                       asp-area=""
                                       asp-controller="Home"
                                       asp-action="SolvedQuestion"
                                       asp-route-testResultId="@item.TestResultId"
                                       asp-route-questionNr="0">Zobrazit test</a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <div class="panel-content">Nejsou dostupné žádné testy k prohlížení.</div>
            }
        }
    </div>

    <div class="panel panel-medium">
        <table id="student-information" class="panel-table">
            <tr>
                <th>Jméno</th>
                <td>@Model.Student.FullName()</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>@Model.Student.Login</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Student.Email</td>
            </tr>
            <tr>
                <th>Počet vyplněných testů</th>
                <td>@Model.TestResults.Count</td>
            </tr>
        </table>
    </div>
</div>

<a id="backBtn" class="button" asp-action="StudentMenu">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>