@model DomainModel.QuestionTemplate

@using DomainModel;

@{
    QuestionTemplate questionTemplate = Model;
    ViewData["Title"] = "Úprava zadání otázky";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <form method="POST" class="panel panel-medium">
        <div class="panel-content"><label for="title">Nadpis:</label></div>
        <div class="panel-content"><input type="text" required id="title" name="Title" value="@questionTemplate.Title"></div>
        <div class="panel-content">
            <input class="button" title="Uložit" type="submit" value="Uložit">
            <input type="hidden" value="@questionTemplate.TestTemplate.TestTemplateId" name="testTemplateId">
        </div>
    </form>
</div>

<a id="backBtn" class="button" asp-action="TestTemplate" asp-route-testTemplateId="@questionTemplate.TestTemplate.TestTemplateId">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>
