@model IEnumerable<DomainModel.UserRegistration>

@using Common
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage LocalStorage

@{
    string waitingString = "Čekající";
    string acceptedString = "Schválena";
    string rejectedString = "Zamítnuta";
    int studentsRegistrationsCount = Model.Where(u => u.Role == EnumTypes.Role.Student).Count();
    int staffRegistrationsCount = Model.Where(u => u.Role == EnumTypes.Role.Teacher || u.Role == EnumTypes.Role.Admin).Count();

    ViewData["Title"] = "Správa registrací";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <div id="student-registration-list" class="panel panel-medium">
        <div class="panel-title panel-content">Registrace studentů</div>
        @{
            if (studentsRegistrationsCount > 0)
            {
                <table class="panel-table">
                    <tr>
                        <th>Jméno</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Datum vytvoření</th>
                        <th>Schválení</th>
                        <th>Zamítnutí</th>
                        <th>Smazání</th>
                        <th>Stav</th>
                    </tr>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.Role != EnumTypes.Role.Student)
                            {
                                continue;
                            }
                            string fullName = item.FullName();
                            <tr>
                                <td>@Html.DisplayFor(modelItem => fullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Login)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                                @{
                                    if (item.State == EnumTypes.RegistrationState.Waiting)
                                    {
                                        <td><button type="button" onclick="showConfirmActionForm('acceptRegistration', null, '@item.Email', '@item.Login', '@item.FirstName', '@item.LastName', '@item.Role')">Schválit registraci</button></td>
                                    }
                                    else
                                    {
                                        <td>Registraci nelze schválit.</td>
                                    }

                                    if (item.State == EnumTypes.RegistrationState.Waiting)
                                    {
                                        <td><button type="button" onclick="showConfirmActionForm('refuseRegistration', null, '@item.Email', null, null, null, null)">Zamítnout registraci</button></td>
                                    }
                                    else
                                    {
                                        <td>Registraci nelze zamítnout.</td>
                                    }

                                    <td><button type="button" onclick="showConfirmActionForm('deleteRegistration', null, '@item.Email', null, null, null, null)">Smazat registraci</button></td>

                                    string state = "";
                                    if (item.State == EnumTypes.RegistrationState.Waiting)
                                    {
                                        state = waitingString;
                                    }
                                    else if (item.State == EnumTypes.RegistrationState.Accepted)
                                    {
                                        state = acceptedString;
                                    }
                                    else if (item.State == EnumTypes.RegistrationState.Rejected)
                                    {
                                        state = rejectedString;
                                    }
                                    <td>@Html.DisplayFor(modelItem => state)</td>
                                }
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <div class="panel-content">Žádné registrace studentů nebyly nalezeny.</div>
            }
        }
    </div>

    <div id="staff-registration-list" class="panel panel-medium">
        <div class="panel-title panel-content">Registrace učitelů a administrátorů</div>
        @{
            if (staffRegistrationsCount > 0)
            {
                <table class="panel-table">
                    <tr>
                        <th>Jméno</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Datum vytvoření</th>
                        <th>Role</th>
                        <th>Schválení</th>
                        <th>Zamítnutí</th>
                        <th>Smazání</th>
                        <th>Stav</th>
                    </tr>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.Role != EnumTypes.Role.Teacher && item.Role != EnumTypes.Role.Admin)
                            {
                                continue;
                            }
                            string fullName = item.FullName();
                            string role = "";
                            if (item.Role == EnumTypes.Role.Teacher)
                            {
                                role = "Učitel";
                            }
                            else if (item.Role == EnumTypes.Role.Admin)
                            {
                                role = "Správce";
                            }
                            <tr>
                                <td>@Html.DisplayFor(modelItem => fullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Login)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                                <td>@Html.DisplayFor(modelItem => role)</td>
                                @{
                                    if (item.State == EnumTypes.RegistrationState.Waiting)
                                    {
                                        <td><button type="button" onclick="showConfirmActionForm('acceptRegistration', null, '@item.Email', '@item.Login', '@item.FirstName', '@item.LastName', '@item.Role')">Schválit registraci</button></td>
                                    }
                                    else
                                    {
                                        <td>Registraci nelze schválit.</td>
                                    }

                                    if (item.State == EnumTypes.RegistrationState.Waiting)
                                    {
                                        <td><button type="button" onclick="showConfirmActionForm('refuseRegistration', null, '@item.Email', null, null, null, null)">Zamítnout registraci</button></td>
                                    }
                                    else
                                    {
                                        <td>Registraci nelze zamítnout.</td>
                                    }

                                    <td><button type="button" onclick="showConfirmActionForm('deleteRegistration', null, '@item.Email', null, null, null, null)">Smazat registraci</button></td>

                                    string state = "";
                                    if (item.State == EnumTypes.RegistrationState.Waiting)
                                    {
                                        state = waitingString;
                                    }
                                    else if (item.State == EnumTypes.RegistrationState.Accepted)
                                    {
                                        state = acceptedString;
                                    }
                                    else if (item.State == EnumTypes.RegistrationState.Rejected)
                                    {
                                        state = rejectedString;
                                    }
                                    <td>@Html.DisplayFor(modelItem => state)</td>
                                }
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <div class="panel-content">Žádné registrace učitelů a administrátorů nebyly nalezeny.</div>
            }
        }
    </div>

    <form method="POST" id="confirm-action" class="panel panel-medium">
        <div class="panel-content">
            <label>Opravdu si přejete provést tuto akci?</label>
        </div>
        <div class="panel-content">
            <input title="Ano" type="submit" value="Ano">
        </div>
        <div class="panel-content">
            <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
            <input type="hidden" id="email" name="email">
            <input type="hidden" id="login" name="login">
            <input type="hidden" id="firstName" name="firstName">
            <input type="hidden" id="lastName" name="lastName">
            <input type="hidden" id="role" name="role">
            <input type="hidden" id="action" name="action">
        </div>
    </form>

    <div id="registration-visibility" class="panel panel-medium">
        <div id="visibility-text" class="panel-content"></div>
        @(await Html.RenderComponentAsync<ViewLayer.Views.Shared.Components.RegistrationVisibility>(RenderMode.ServerPrerendered))
    </div>
</div>

<a id="backBtn" class="button" asp-action="MainAdminMenu">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>
