@model IEnumerable<DomainModel.Subject>

@{
    string login = ViewBag.login;
    int guarantorSubjectsCount = Model.Where(s => s.GuarantorLogin == login).Count();
    ViewData["Title"] = "Správa předmětů";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <div class="panel panel-large">
        <div class="panel-content">
            <a class="button" asp-controller="Home" asp-action="AddSubject">Přidat předmět</a>
        </div>
    </div>

    <div id="user-subjects-list" class="panel panel-large">
        <div class="panel-title panel-content">Vámi garantované předměty</div>
        @{
            if (guarantorSubjectsCount > 0)
            {
                <table class="panel-table">
                    <tr>
                        <th>Zkratka</th>
                        <th>Jméno předmětu</th>
                        <th>Upravit</th>
                        <th>Smazat</th>
                    </tr>
                    @{
                        foreach (var item in Model)
                        {
                            if (item.GuarantorLogin != login)
                            {
                                continue;
                            }
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Abbreviation)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>
                                    <a class="button" title="Správa testu"
                                       asp-area=""
                                       asp-controller="Home"
                                       asp-action="EditSubject"
                                       asp-route-subjectId="@item.SubjectId">Upravit předmět</a>
                                </td>
                                <td><button type="button" onclick="showConfirmActionForm('deleteSubject', '@item.SubjectId', null, null, null, null, null)">Smazat předmět</button></td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <div class="panel-content">Žádné vámi garantované předměty nebyly přidány.</div>
            }
        }
    </div>

    <div id="all-subjects-list" class="panel panel-large">
        <div class="panel-title panel-content">Všechny předměty</div>
        @{
            if (Model.Count() > 0)
            {
                <table class="panel-table">
                    <tr>
                        <th>Zkratka</th>
                        <th>Jméno předmětu</th>
                        <th>Garant</th>
                    </tr>
                    @{
                        foreach (var item in Model)
                        {
                            string fullName = item.Guarantor.FullName();
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Abbreviation)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => fullName)</td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <div class="panel-content">Nebyly přidány žádné předměty.</div>
            }
        }
    </div>
</div>

<form method="POST" id="confirm-action" class="panel panel-large">
    <div class="panel-content">
        <label><div id="confirm-action-label"></div></label>
    </div>
    <div class="panel-content">
        <input title="Ano" type="submit" value="Ano">
    </div>
    <div class="panel-content">
        <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
        <input type="hidden" id="subjectId" name="subjectId">
        <input type="hidden" id="action" name="action">
    </div>
</form>

<a id="backBtn" class="button" asp-action="@ViewBag.Return">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>
