@model IEnumerable<DomainModel.UserRegistration>

@using Common
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage LocalStorage

@{
    string waitingString = "Čekající";
    string acceptedString = "Schválena";
    string rejectedString = "Zamítnuta";

    ViewData["Title"] = "Správa registrací";
}

<div id="signOutBtn"><a class="button" title="Odhlásit se" asp-controller="Account" asp-action="SignOut">Odhlásit se</a></div>

<div class="text-center">
    <h1>Správa registrací</h1>
    <p>@ViewBag.Message</p>

    <div id="student-registration-list">
        <h2>Registrace studentů</h2>
        <table>
            <tr>
                <th>Jméno</th>
                <th>Login</th>
                <th>Email</th>
                <th>Datum vytvoření</th>
                <th>Schválení</th>
                <th>Zamítnutí</th>
                <th>Smazání</th>
                <th>Stav</th>
            </tr>
            @{
                foreach (var item in Model)
                {
                    if (item.Role != EnumTypes.Role.Student)
                    {
                        continue;
                    }
                    string fullName = item.FullName();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => fullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Login)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                        @{
                            if (item.State == EnumTypes.RegistrationState.Waiting)
                            {
                                <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('acceptRegistration', null, '@item.Email', '@item.Login', '@item.FirstName', '@item.LastName', '@item.Role')">Schválit registraci</button></td>
                            }
                            else
                            {
                                <td>Registraci nelze schválit.</td>
                            }

                            if (item.State == EnumTypes.RegistrationState.Waiting)
                            {
                                <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('refuseRegistration', null, '@item.Email', null, null, null, null)">Zamítnout registraci</button></td>
                            }
                            else
                            {
                                <td>Registraci nelze zamítnout.</td>
                            }

                            <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteRegistration', null, '@item.Email', null, null, null, null)">Smazat registraci</button></td>

                            string state = "";
                            if (item.State == EnumTypes.RegistrationState.Waiting)
                            {
                                state = waitingString;
                            }
                            else if (item.State == EnumTypes.RegistrationState.Accepted)
                            {
                                state = acceptedString;
                            }
                            else if (item.State == EnumTypes.RegistrationState.Rejected)
                            {
                                state = rejectedString;
                            }
                            <td>@Html.DisplayFor(modelItem => state)</td>
                        }
                    </tr>
                }
            }
        </table>
    </div>

    <div id="staff-registration-list">
        <h2>Registrace učitelů a administrátorů</h2>
        <table>
            <tr>
                <th>Jméno</th>
                <th>Login</th>
                <th>Email</th>
                <th>Datum vytvoření</th>
                <th>Role</th>
                <th>Schválení</th>
                <th>Zamítnutí</th>
                <th>Smazání</th>
                <th>Stav</th>
            </tr>
            @{
                foreach (var item in Model)
                {
                    if (item.Role != EnumTypes.Role.Teacher && item.Role != EnumTypes.Role.Admin)
                    {
                        continue;
                    }
                    string fullName = item.FullName();
                    string role = "";
                    if (item.Role == EnumTypes.Role.Teacher)
                    {
                        role = "Učitel";
                    }
                    else if (item.Role == EnumTypes.Role.Admin)
                    {
                        role = "Správce";
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => fullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Login)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
                        <td>@Html.DisplayFor(modelItem => role)</td>
                        @{
                            if (item.State == EnumTypes.RegistrationState.Waiting)
                            {
                                <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('acceptRegistration', null, '@item.Email', '@item.Login', '@item.FirstName', '@item.LastName', '@item.Role')">Schválit registraci</button></td>
                            }
                            else
                            {
                                <td>Registraci nelze schválit.</td>
                            }

                            if (item.State == EnumTypes.RegistrationState.Waiting)
                            {
                                <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('refuseRegistration', null, '@item.Email', null, null, null, null)">Zamítnout registraci</button></td>
                            }
                            else
                            {
                                <td>Registraci nelze zamítnout.</td>
                            }

                            <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteRegistration', null, '@item.Email', null, null, null, null)">Smazat registraci</button></td>

                            string state = "";
                            if (item.State == EnumTypes.RegistrationState.Waiting)
                            {
                                state = waitingString;
                            }
                            else if (item.State == EnumTypes.RegistrationState.Accepted)
                            {
                                state = acceptedString;
                            }
                            else if (item.State == EnumTypes.RegistrationState.Rejected)
                            {
                                state = rejectedString;
                            }
                            <td>@Html.DisplayFor(modelItem => state)</td>
                        }
                    </tr>
                }
            }
        </table>
    </div>

    <div id="confirm-action">
        <form method="POST">
            <label>Opravdu si přejete provést tuto akci?</label><br>
            <input title="Ano" type="submit" value="Ano"><br>
            <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
            <input type="hidden" id="email" name="email">
            <input type="hidden" id="login" name="login">
            <input type="hidden" id="firstName" name="firstName">
            <input type="hidden" id="lastName" name="lastName">
            <input type="hidden" id="role" name="role">
            <input type="hidden" id="action" name="action">
        </form>
    </div>

    <div id="registration-visibility">
        <p id="visibility-text"></p>
        @(await Html.RenderComponentAsync<ViewLayer.Views.Shared.Components.RegistrationVisibility>(RenderMode.ServerPrerendered))
    </div>
</div>

<script src="/js/site.js"></script>

<div id="backBtn"><a asp-action="MainAdminMenu">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>