@model IEnumerable<DomainModel.TestResult>

@{
    ViewData["Title"] = "Správa vyřešených testů";
}

<div class="text-center">
    <h1>Správa vyřešených testů</h1>

    <div id="test-result-list">
        <table>
            <tr>
                <th>Datum</th>
                <th>Jméno studenta</th>
                <th>Login studenta</th>
                <th>Smazat</th>
                <th>Správa</th>
            </tr>
            @{
                foreach (var item in Model)
                {
                    string fullName = item.Student.FullName();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TimeStamp)</td>
                        <td>@Html.DisplayFor(modelItem => fullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Student.Login)</td>
                        <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteResult', '@item.TestResultId', null, null, null, null, null)">Smazat test</button></td>
                        <td><a class="button" title="Správa testu"
                            asp-area="" 
                            asp-controller="Home" 
                            asp-action="ManageSolvedTest" 
                            asp-route-testResultId="@item.TestResultId">Správa testu</a></td>
                    </tr>
                }
            }
        </table>
    </div>

    <p>@ViewBag.Message</p>

    <button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteAllResults', null, null, null, null, null, null)">Smazat všechny testy</button>

    <div id="confirm-action">
        <form method="POST">
            <label><div id="confirm-action-label"></div></label><br>
            <input title="Ano" type="submit" value="Ano"><br>
            <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
            <input type="hidden" id="testResultId" name="testResultId">
            <input type="hidden" id="action" name="action">
        </form>
    </div>
</div>

<div id="backBtn"><a asp-action="@ViewBag.Return">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>