@model dynamic

@using DomainModel;
@using Common;

@{
    int studentsCount = Model.Students.Count;
    List<User> users = Model.Users;
    int teachersCount = users.Where(u => u.Role == EnumTypes.Role.Teacher).Count();
    int adminsCount = users.Where(u => u.Role == EnumTypes.Role.Admin || u.Role == EnumTypes.Role.MainAdmin).Count();

    ViewData["Title"] = "Správa uživatelů";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
</div>

<div id="main">
    <div id="student-management" class="panel panel-max">
        <div class="panel-title panel-content">Správa studentů</div>
        <div id="student-message" class="panel-content">@ViewBag.StudentMessage</div>
        <div class="panel-content">
            <button type="button" onclick="showConfirmActionForm('deleteAllStudents', null)">Smazat všechny studenty</button>
        </div>
        <div id="student-list">
            <div class="panel-sub-title panel-content">Seznam studentů</div>
            @{
                if (studentsCount > 0)
                {
                    <table id="student-table" class="panel-table">
                        <tr>
                            <th>Jméno</th>
                            <th>Login</th>
                            <th>Email</th>
                            <th>Úprava</th>
                            <th>Smazání</th>
                        </tr>
                        @{
                            int i = 1;
                            foreach (Student item in Model.Students)
                            {
                                string fullName = item.FullName();
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => fullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Login)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td><button type="button" onclick="showEditStudentLabel('@item.Login', '@item.Email', '@item.FirstName', '@item.LastName')">Upravit studenta</button></td>
                                    <td><button type="button" id="delete-@item.Login" onclick="showConfirmActionForm('deleteStudent', null, null, '@item.Login', null, null, null)">Smazat studenta</button></td>
                                </tr>
                                i++;
                            }
                        }
                    </table>
                }
                else
                {
                    <div class="panel-content">Žádní studenti nebyli nalezeni.</div>
                }
            }
        </div>
        <div id="add-student">
            <div class="panel-sub-title panel-content">Přidat/upravit studenta</div>
            <form method="POST">
                <div id="added-student" class="panel-content">Přidáváte studenta</div>
                <div id="edited-student">
                    <div class="panel-content">Upravujete studenta s loginem</div>
                    <div class="panel-content"><input type="text" readonly id="studentOldLogin" name="oldLogin"></div>
                    <div class="panel-content"><button type="button" onclick="hideEditStudentLabel()">Zrušit</button></div>
                </div>

                <div class="panel-content"><label for="studentFirstName">Jméno:</label></div>
                <div class="panel-content"><input type="text" required id="studentFirstName" name="firstName"></div>
                <div class="panel-content"><label for="studentLastName">Příjmení:</label></div>
                <div class="panel-content"><input type="text" required id="studentLastName" name="lastName"></div>
                <div class="panel-content"><label for="studentLogin">Login:</label></div>
                <div class="panel-content"><input type="text" required id="studentLogin" name="login"></div>
                <div class="panel-content"><label for="studentEmail">Email:</label></div>
                <div class="panel-content"><input type="text" required id="studentEmail" name="email"></div>
                <div class="panel-content">
                    <input type="hidden" value="addStudent" id="student-action" name="action">
                    <input type="submit" id="save-student" value="Uložit">
                </div>
            </form>
        </div>
    </div>

    <div id="teacher-management" class="panel panel-max">
        <div class="panel-title panel-content">Správa učitelů</div>
        <div id="teacher-message" class="panel-content">@ViewBag.TeacherMessage</div>
        <div class="panel-content">
            <button type="button" onclick="showConfirmActionForm('deleteAllTeachers', null)">Smazat všechny učitele</button>
        </div>
        <div id="teacher-list">
            <div class="panel-sub-title panel-content">Seznam učitelů</div>
            @{
                if (teachersCount > 0)
                {
                    <table class="panel-table">
                        <tr>
                            <th>Jméno</th>
                            <th>Login</th>
                            <th>Email</th>
                            <th>Úprava</th>
                            <th>Smazání</th>
                        </tr>
                        @{
                            foreach (User item in Model.Users)
                            {
                                if (item.Role != EnumTypes.Role.Teacher)
                                {
                                    continue;
                                }
                                string fullName = item.FullName();
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => fullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Login)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td><button type="button" onclick="showEditTeacherLabel('@item.Login', '@item.Email', '@item.FirstName', '@item.LastName')">Upravit učitele</button></td>
                                    <td><button type="button" id="delete-@item.Login" onclick="showConfirmActionForm('deleteTeacher', null, null, '@item.Login', null, null, null)">Smazat učitele</button></td>
                                </tr>
                            }
                        }
                    </table>
                }
                else
                {
                    <div class="panel-content">Žádní učitelé nebyli nalezeni.</div>
                }
            }
        </div>
        <div id="add-teacher">
            <div class="panel-sub-title panel-content">Přidat/upravit učitele</div>
            <form method="POST">
                <div id="added-teacher" class="panel-content">Přidáváte učitele</div>
                <div id="edited-teacher">
                    <div class="panel-content">Upravujete učitele s loginem</div>
                    <div class="panel-content"><input type="text" readonly id="teacherOldLogin" name="oldLogin"></div>
                    <div class="panel-content"><button type="button" onclick="hideEditTeacherLabel()">Zrušit</button></div>
                </div>

                <div class="panel-content"><label for="teacherFirstName">Jméno:</label></div>
                <div class="panel-content"><input type="text" required id="teacherFirstName" name="firstName"></div>
                <div class="panel-content"><label for="teacherLastName">Příjmení:</label></div>
                <div class="panel-content"><input type="text" required id="teacherLastName" name="lastName"></div>
                <div class="panel-content"><label for="teacherLogin">Login:</label></div>
                <div class="panel-content"><input type="text" required id="teacherLogin" name="login"></div>
                <div class="panel-content"><label for="teacherEmail">Email:</label></div>
                <div class="panel-content"><input type="text" required id="teacherEmail" name="email"></div>
                <div class="panel-content">
                    <input type="hidden" value="addTeacher" id="teacher-action" name="action">
                    <input type="submit" id="save-teacher" value="Uložit">
                </div>
            </form>
        </div>
    </div>

    <div id="admin-management" class="panel panel-max">
        <div class="panel-title panel-content">Seznam správců</div>
        <div id="admin-message" class="panel-content">@ViewBag.AdminMessage</div>
        <div id="admin-list">
            @{
                if (adminsCount > 0)
                {
                    <table class="panel-table">
                        <tr>
                            <th>Jméno</th>
                            <th>Login</th>
                            <th>Email</th>
                            <th>Typ</th>
                        </tr>
                        @{
                            foreach (User item in Model.Users)
                            {
                                if (item.Role != EnumTypes.Role.Admin && item.Role != EnumTypes.Role.MainAdmin)
                                {
                                    continue;
                                }
                                string fullName = item.FullName();

                                string type = "";
                                if (item.Role == EnumTypes.Role.Admin)
                                {
                                    type = "Správce";
                                }
                                else
                                {
                                    type = "Hlavní administrátor";
                                }
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => fullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Login)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => type)</td>
                                </tr>
                            }
                        }
                    </table>
                }
                else
                {
                    <div class="panel-content">Žádní správci nebyli nalezeni.</div>
                }
            }
        </div>
    </div>
</div>

<form method="POST" id="confirm-action" class="panel panel-medium">
    <div class="panel-content">
        <label><div id="confirm-action-label"></div></label>
    </div>
    <div class="panel-content">
        <input title="Ano" type="submit" value="Ano" id="confirm-action-yes">
    </div>
    <div class="panel-content">
        <input title="Ne" type="button" value="Ne" id="confirm-action-no" onclick="hideConfirmActionForm()">
        <input type="hidden" id="email" name="email">
        <input type="hidden" id="login" name="login">
        <input type="hidden" id="firstName" name="firstName">
        <input type="hidden" id="lastName" name="lastName">
        <input type="hidden" id="role" name="role">
        <input type="hidden" id="action" name="action">
    </div>
</form>

<a id="backBtn" class="button" asp-action="AdminMenu">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>

<script>
    document.getElementById("edited-student").style.display = 'none';
    document.getElementById("edited-teacher").style.display = 'none';

    document.getElementById("student-action").value = 'addStudent';
    document.getElementById("teacher-action").value = 'addTeacher';
</script>