@model IEnumerable<DomainModel.TestResult>

@{
    ViewData["Title"] = "Správa vyřešených testů";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <div id="test-result-list" class="panel panel-medium">
        @{
            if (Model.Count() > 0)
            {
                <table class="panel-table">
                    <tr>
                        <th>Datum</th>
                        <th>Jméno studenta</th>
                        <th>Login studenta</th>
                        <th>Smazat</th>
                        <th>Správa</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach (var item in Model)
                        {
                            string fullName = item.Student.FullName();
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.TimeStamp)</td>
                                <td>@Html.DisplayFor(modelItem => fullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Student.Login)</td>
                                <td><button type="button" onclick="showConfirmActionForm('deleteResult', '@item.TestResultId', null, null, null, null, null)">Smazat test</button></td>
                                <td>
                                    <a class="button" title="Správa testu" id="manage-solved-test-@i"
                                       asp-area=""
                                       asp-controller="Home"
                                       asp-action="ManageSolvedTest"
                                       asp-route-testResultId="@item.TestResultId">Správa testu</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            }
            else
            {
                <div class="panel-content">Nebyly přidány žádná řešení testů.</div>
            }
        }

        <div class="panel-content">
            <button type="button" onclick="showConfirmActionForm('deleteAllResults', null, null, null, null, null, null)">Smazat všechny testy</button>
        </div>
    </div>

    <form method="POST" id="confirm-action" class="panel panel-medium">
        <div class="panel-content">
            <label><div id="confirm-action-label"></div></label>
        </div>
        <div class="panel-content">
            <input title="Ano" type="submit" value="Ano">
        </div>
        <div class="panel-content">
            <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
            <input type="hidden" id="testResultId" name="testResultId">
            <input type="hidden" id="action" name="action">
        </div>
    </form>
</div>

<a id="backBtn" class="button" asp-action="@ViewBag.Return">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>
