@using DomainModel
@using Common
@model dynamic

@{
    ViewData["Title"] = "Správa umělé inteligence";

    bool userRequestedDeviceName = false;
    if (ViewBag.DeviceName != null)
    {
        userRequestedDeviceName = true;
    }
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    @{
        if (userRequestedDeviceName)
        {
            <div class="panel panel-large">
                <div class="panel-content">Používané zařízení (CPU/GPU): @ViewBag.DeviceName</div>
            </div>
        }
        else
        {
            <form method="POST" class="panel panel-large">
                <div class="panel-content">Používané zařízení (CPU/GPU): <button type="submit" value="getDeviceName" name="action">Zobrazit</button></div>
            </form>
        }
    }

    <div id="neural-network-templates" class="panel panel-large">
        <div class="panel-title panel-content">Zadání podotázek</div>
        <div id="templates-added-label" class="panel-content" style="display:none">Probíhá přidávání zadání podotázek..</div>
        <div class="panel-content">Počet existujících testovacích dat (šablony podotázek): @ViewBag.TestingDataSubquestionTemplates</div>
        <form method="POST" onsubmit="onAddTestingSubquestionTemplatesFormSubmission()">
            <div class="panel-content"><b>Přidat testovací data - náhodná data</b></div>
            <div class="panel-content">Počet testovacích dat (šablony podotázek):</div>
            <div class="panel-content"><input type="number" step="1" required name="amountOfSubquestionTemplates" /> <input type="submit" value="Přidat" /><input type="hidden" value="addSubquestionTemplateRandomData" name="action"></div>
        </form>
        <form method="POST" onsubmit="onAddTestingSubquestionTemplatesFormSubmission()">
            <div class="panel-content"><b>Přidat testovací data - data s kolerací</b></div>
            <div class="panel-content">Počet testovacích dat (šablony podotázek):</div>
            <div class="panel-content"><input type="number" step="1" required name="amountOfSubquestionTemplates" /> <input type="submit" value="Přidat" /><input type="hidden" value="addSubquestionTemplateCorrelationalData" name="action"></div>
        </form>
        <form method="POST">
            <div class="panel-content"><input type="submit" value="Smazat testovací data" /><input type="hidden" value="deleteSubquestionTemplateTestingData" name="action"></div>
        </form>

        <table class="panel-table">
            <tr>
                <th>Login</th>
                <th>Přesnost - neuronová síť</th>
                <th>Přesnost - strojové učení</th>
                <th>Použitý model</th>
            </tr>
            @{
                foreach (SubquestionTemplateStatistics item in Model.SubquestionTemplateStatistics)
                {
                    string usedModel = string.Empty;
                    if (item.UsedModel == EnumTypes.Model.NeuralNetwork)
                    {
                        usedModel = "Neuronová síť";
                    }
                    else if (item.UsedModel == EnumTypes.Model.MachineLearning)
                    {
                        usedModel = "Strojové učení";
                    }
                    if (item.UsedModel == EnumTypes.Model.NotDetermined)
                    {
                        usedModel = "Neurčeno";
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.UserLogin)</td>
                        <td>@Html.DisplayFor(modelItem => item.NeuralNetworkAccuracy)</td>
                        <td>@Html.DisplayFor(modelItem => item.MachineLearningAccuracy)</td>
                        <td>@usedModel</td>
                    </tr>
                }
            }
        </table>
    </div>

    <div id="neural-network-results" class="panel panel-large">
        <div class="panel-title panel-content">Výsledky podotázek</div>
        <div id="results-added-label" class="panel-content" style="display:none">Probíhá přidávání výsledků podotázek..</div>
        <div class="panel-content">Počet existujících testovacích dat (výsledky podotázek): @ViewBag.TestingDataSubquestionResults</div>
        <form method="POST" onsubmit="onAddTestingSubquestionResultsFormSubmission()">
            <div class="panel-content"><b>Přidat testovací data - náhodná data</b></div>
            <div class="panel-content">Počet testovacích dat (výsledky podotázek):</div>
            <div class="panel-content"><input type="number" step="1" required name="amountOfSubquestionResults" /> <input type="submit" value="Přidat" /><input type="hidden" value="addSubquestionResultRandomData" name="action"></div>
        </form>
        <form method="POST" onsubmit="onAddTestingSubquestionResultsFormSubmission()">
            <div class="panel-content"><b>Přidat testovací data - data s kolerací</b></div>
            <div class="panel-content">Počet testovacích dat (výsledky podotázek):</div>
            <div class="panel-content"><input type="number" step="1" required name="amountOfSubquestionResults" /> <input type="submit" value="Přidat" /><input type="hidden" value="addSubquestionResultCorrelationalData" name="action"></div>
        </form>
        <form method="POST">
            <div class="panel-content"><input type="submit" value="Smazat testovací data" /><input type="hidden" value="deleteSubquestionResultTestingData" name="action"></div>
        </form>

        <table class="panel-table">
            <tr>
                <th>Login</th>
                <th>Přesnost - neuronová síť</th>
                <th>Přesnost - strojové učení</th>
                <th>Použitý model</th>
            </tr>
            @{
                foreach (SubquestionResultStatistics item in Model.SubquestionResultStatistics)
                {
                    string usedModel = string.Empty;
                    if (item.UsedModel == EnumTypes.Model.NeuralNetwork)
                    {
                        usedModel = "Neuronová síť";
                    }
                    else if (item.UsedModel == EnumTypes.Model.MachineLearning)
                    {
                        usedModel = "Strojové učení";
                    }
                    if (item.UsedModel == EnumTypes.Model.NotDetermined)
                    {
                        usedModel = "Neurčeno";
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.UserLogin)</td>
                        <td>@Html.DisplayFor(modelItem => item.NeuralNetworkAccuracy)</td>
                        <td>@Html.DisplayFor(modelItem => item.MachineLearningAccuracy)</td>
                        <td>@usedModel</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<script>
    testt();
</script>

<a id="backBtn" class="button" asp-action="MainAdminMenu">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>
