@model IEnumerable<DomainModel.SubquestionTemplate>

@using DomainModel;
@using Common;
@using System.Globalization;

@{
    SubquestionTemplate subquestionTemplate = new SubquestionTemplate();
    int subquestionNumber = 0;
    if(ViewBag.subquestionTemplateId == null)
    {
        subquestionTemplate = Model.First();
    }
    else
    {
        foreach (var item in Model)
        {
            if (item.SubquestionTemplateId == int.Parse(ViewBag.subquestionTemplateId))
            {
                subquestionTemplate = item;
                break;
            }
            subquestionNumber++;
        }

        //in some cases (such as a subquestion template being deleted) an empty subquestion template may get used by mistake
        //in these cases it's necessary to use the first subquestion template in the collection
        if (subquestionTemplate.SubquestionTemplateId == -1)
        {
            subquestionTemplate = @Model.First();
        }
    }

    if (subquestionTemplate == null)
    {
        throw Exceptions.SubquestionTemplateNotFoundException;
    }

    //it's possible that no "real" subquestions exist for this question yet, only one dummy subquestion is added
    bool subquestionsAdded = true;
    if (subquestionTemplate.SubquestionTemplateId == -1)
    {
        subquestionsAdded = false;
    }

    ViewData["Title"] = "Správa zadání otázky " + subquestionTemplate.QuestionTemplate.QuestionTemplateId;

    bool singleSubquestion = true;
    if(Model.Count() > 1)
    {
        singleSubquestion = false;
    }

    string? subquestionPoints = "";
    if(subquestionsAdded)//todo: sjednotit (vsechny promenne na zacatek)
    {
        subquestionPoints = subquestionTemplate.SubquestionPoints.ToString();
    }

    double questionPoints = 0;
    string? questionPointsString = "";
    if(subquestionsAdded)
    {
        foreach(var item in Model)
        {
            questionPoints += item.SubquestionPoints;
        }
        double questionPointsRound = Math.Round(questionPoints, 2);
        questionPointsString = questionPointsRound.ToString();
    }

    bool userRequestedPointsSuggestion = false;
    bool defaultWrongChoicePointsChecked = false;
    if(subquestionsAdded)
    {
        if (ViewBag.SuggestedSubquestionPoints != null)
        {
            userRequestedPointsSuggestion = true;
        }

        if (subquestionTemplate.DefaultWrongChoicePoints == subquestionTemplate.WrongChoicePoints)
        {
            defaultWrongChoicePointsChecked = true;
        }
    }
}

<div class="text-center">
    <h1>Správa zadání otázky @subquestionTemplate.QuestionTemplate.QuestionTemplateId</h1>

    <div id="question-template">
        <h2>Parametry otázky</h2>
        <table>
            <tr>
                <th>Nadpis</th>
                <td>@Model.First().QuestionTemplate.Title</td>
            </tr>
            <tr>
                <th>Počet podotázek</th>
                @{
                    if(subquestionsAdded)
                    {
                        <td>@Model.Count()</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                }
            </tr>
            <tr>
                <th>Počet bodů</th>
                <td>@questionPointsString</td>
            </tr>
        </table>
    </div>

    <div id="subquestion-template">
        <h2>Parametry podotázky</h2>
        @{
            if (subquestionsAdded)
            {
                <table>
                    <tr>
                        <th>Typ podotázky</th>
                        <td>@ViewBag.SubquestionTypeTextArray[@Convert.ToInt32(subquestionTemplate.SubquestionType)]</td>
                    </tr>
                    <tr>
                        <th>Počet bodů za podotázku</th>
                        <td>@subquestionPoints</td>
                    </tr>
                    @{
                        if (subquestionTemplate.ImageSource != null)
                        {
                            string imageSource = "Uploads/" + subquestionTemplate.ImageSource;
                            <tr><td colspan="2"><img class="image" src="@imageSource"></td></tr>
                        }
                    }
                    <tr>
                        <th>Text podotázky</th>
                        <td>@subquestionTemplate.SubquestionText</td>
                    </tr>
                    <tr>
                        <th colspan="2">Možné odpovědi</th>
                    </tr>
                    @{
                        if (@subquestionTemplate.SubquestionType == EnumTypes.SubquestionType.FreeAnswer)
                        {
                            <tr><td colspan="2">Jedná se o otevřenou otázku, neobsahuje výběr z možností, odpovědi je nutné ověřit manuálně.</td></tr>
                        }
                        else if (@subquestionTemplate.SubquestionType == EnumTypes.SubquestionType.FreeAnswerWithDeterminedCorrectAnswer)
                        {
                            <tr><td colspan="2">Otázka neobsahuje výběr z možností.</td></tr>
                        }
                        else
                        {
                            foreach (string possibleAnswer in @subquestionTemplate.PossibleAnswerList)
                            {
                                <tr><td colspan="2" class="possible-answer-item">@possibleAnswer</td></tr>
                            }
                        }
                    }
                    @{
                        if (@subquestionTemplate.CorrectAnswerList.Length > 0)
                        {
                            <tr>
                                <th colspan="2">Správné odpovědi</th>
                            </tr>

                            foreach (string correctAnswer in @subquestionTemplate.CorrectAnswerList)
                            {
                                <tr><td colspan="2" class="correct-answer-item">@correctAnswer</td></tr>
                            }
                        }
                    }
                </table>
            }
        }
    </div>

    <br><a asp-controller="Home" asp-action="AddSubquestionTemplate" asp-route-questionTemplateId="@Model.First().QuestionTemplate.QuestionTemplateId">Přidat podotázku</a>

    <p>@ViewBag.Message</p>
    <div id="subquestion-selection">
        <h2>Výběr podotázky</h2>
        <form method="POST">
            <input type="hidden" value="@Model.First().QuestionTemplate.QuestionTemplateId" name="questionTemplateId">
            <input type="hidden" value="@subquestionTemplate.SubquestionTemplateId" name="currentSubquestionTemplateId">
            <button type="submit" id="previousSubquestion"  value="previousSubquestion" name="action">Předchozí</button>
            <button type="submit" id="nextSubquestion" value="nextSubquestion" name="action">Následující</button>
            @{
                string subquestionLabel = "";
                if(Model.Count() > 1)
                {
                    subquestionLabel = "Vyberte podotázku ze seznamu";
                }
                else
                {
                    if(!subquestionsAdded)
                    {
                        subquestionLabel = "Tato otázka neobsahuje žádné podotázky.";
                    }
                    else
                    {
                        subquestionLabel = "Tato otázka obsahuje pouze jednu podotázku.";

                    }
                }
                <p>@subquestionLabel</p>
            }

            <select class="input" name="subquestionTemplateId" id="subquestionTemplateId" disabled="@singleSubquestion">
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        if (item.SubquestionTemplateId == -1)
                        {
                            continue;
                        }
                        if(item.SubquestionText.Length > 60)
                        {
                            <option id="subquestion-item-@(i+1)" value="@item.SubquestionTemplateId">@(item.SubquestionText.Substring(0, 60) + " ...")</option>
                        }
                        else
                        {
                            <option id="subquestion-item-@(i+1)" value="@item.SubquestionTemplateId">@item.SubquestionText</option>
                        }
                        i++;
                    }
                }
            }
            </select>

            <input class="button" id="selectSubquestionButton" title="Vybrat" type="submit" value="Vybrat" disabled="@singleSubquestion">

        </form>
    </div>

    @if(subquestionsAdded)
    {
        <div id="edit-subquestion">
            <form method="POST">
                <input type="hidden" value="@subquestionTemplate.SubquestionTemplateId" name="subquestionTemplateId">
                <button type="submit" class="btn btn-primary" value="editSubquestionTemplate" name="action">Upravit podotázku</button>
            </form>
        </div>
        <div id="delete-subquestion">
            <button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteSubquestionTemplate', '@subquestionTemplate.SubquestionTemplateId', null, null, null, null, null)">Smazat podotázku</button>
        </div>
    }

    <div id="subquestion-template-points">
        <h2>Upravit body za podotázku</h2>
        @{
            if(subquestionsAdded)
            {
                <form method="POST">
                    <input type="hidden" value="@Model.First().QuestionTemplate.QuestionTemplateId" name="questionTemplateId">
                    <input type="hidden" value="@subquestionTemplate.SubquestionTemplateId" name="subquestionTemplateId">
                    <p>Počet bodů za otázku: <input class="input" type="number" step="any" min="0" required id="subquestion-points" name="subquestionPoints" value="@subquestionTemplate.SubquestionPoints.ToString()"></p>
                    @{
                        if (userRequestedPointsSuggestion)
                        {
                            <p>Doporučený počet bodů za otázku: @ViewBag.SuggestedSubquestionPoints</p>
                        }
                        else
                        {
                            <p>Doporučený počet bodů za otázku: <button type="submit" value="getPointsSuggestion" name="action">Zobrazit</button></p>
                        }
                    }
                    <p>Počet bodů za správnou volbu: <input class="input" readonly value="@subquestionTemplate.CorrectChoicePoints.ToString()"></p>
                    <p>Počet bodů za špatnou volbu:</p>
                    <input class="radio input" title="Automatický" type="radio" id="wrongChoicePoints_automatic_radio" value="wrongChoicePoints_automatic_radio" name="wrongChoicePointsRadio" checked="@defaultWrongChoicePointsChecked" onchange="setWrongChoicePointsInputs(this)"><label class="radio-label" title="Automatický" for="wrongChoicePoints_automatic_radio">Automatický</label>
                    <input class="input" value="@subquestionTemplate.DefaultWrongChoicePoints.ToString()" id="wrongChoicePoints_automatic" readonly> <br />
                    <input class="radio input" title="Vlastní" type="radio" id="wrongChoicePoints_manual_radio" value="wrongChoicePoints_manual_radio" name="wrongChoicePointsRadio" checked="@(!defaultWrongChoicePointsChecked)" onchange="setWrongChoicePointsInputs(this)"><label class="radio-label" title="Vlastní" for="wrongChoicePoints_manual_radio">Vlastní</label>

                    @{
                        if (defaultWrongChoicePointsChecked)
                        {
                            <input class="input" type="number" step="any" min="-@subquestionTemplate.CorrectChoicePoints.ToString()" max="0" id="wrongChoicePoints_manual" name="wrongChoicePoints" value="@subquestionTemplate.WrongChoicePoints.ToString()" readonly>
                        }
                        else
                        {
                            <input class="input" type="number" step="any" min="-@subquestionTemplate.CorrectChoicePoints.ToString()" max="0" id="wrongChoicePoints_manual" name="wrongChoicePoints" value="@subquestionTemplate.WrongChoicePoints.ToString()">
                        }
                    }
                    <br />
                    <button type="submit" value="savePoints" name="action">Uložit</button>
                </form>
            }
        }
    </div>
</div>

<div id="confirm-action">
    <form method="POST">
        <label><div id="confirm-action-label"></div></label><br>
        <input title="Ano" type="submit" value="Ano"><br>
        <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
        <input type="hidden" id="subquestionTemplateIdToDelete" name="subquestionTemplateId">
        <input type="hidden" name="questionTemplateId" value="@Model.First().QuestionTemplateId">
        <input type="hidden" id="action" name="action">
    </form>
</div>

<div id="backBtn"><a asp-action="TestTemplate"
       asp-route-testTemplateId="@Model.First().QuestionTemplate.TestTemplate.TestTemplateId">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>

<script src="/js/site.js"></script>
@{
    <script>
        questionTemplatePagePostProcessing(@subquestionNumber, @Model.Count());
    </script>
}