@model IEnumerable<DomainModel.SubquestionTemplate>

@using DomainModel;
@using Common;
@using System.Globalization;

@{
    SubquestionTemplate subquestionTemplate = new SubquestionTemplate();
    int subquestionNumber = 0;
    if(ViewBag.subquestionTemplateId == null)
    {
        subquestionTemplate = Model.First();
    }
    else
    {
        foreach (var item in Model)
        {
            if (item.SubquestionTemplateId == ViewBag.subquestionTemplateId)
            {
                subquestionTemplate = item;
                break;
            }
            subquestionNumber++;
        }

        //in some cases (such as a subquestion template being deleted) an empty subquestion template may get used by mistake
        //in these cases it's necessary to use the first subquestion template in the collection
        if (subquestionTemplate.SubquestionTemplateId == -1)
        {
            subquestionTemplate = @Model.First();
        }
    }

    if (subquestionTemplate == null)
    {
        throw Exceptions.SubquestionTemplateNotFoundException;
    }

    //it's possible that no "real" subquestions exist for this question yet, only one dummy subquestion is added
    bool subquestionsAdded = true;
    if (subquestionTemplate.SubquestionTemplateId == -1)
    {
        subquestionsAdded = false;
    }

    ViewData["Title"] = "Správa zadání otázky";

    bool singleSubquestion = true;
    if(Model.Count() > 1)
    {
        singleSubquestion = false;
    }

    string? subquestionPoints = "";
    if(subquestionsAdded)
    {
        subquestionPoints = subquestionTemplate.SubquestionPoints.ToString();
    }

    double questionPoints = 0;
    string? questionPointsString = "";
    if(subquestionsAdded)
    {
        foreach(var item in Model)
        {
            questionPoints += item.SubquestionPoints;
        }
        questionPointsString = Math.Round(questionPoints, 2).ToString();
    }

    string imageSource = "";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <div id="question-template" class="panel panel-large">
        <div class="panel-title panel-content">Parametry otázky</div>
        <table class="panel-table">
            <tr>
                <th>Nadpis</th>
                <td>@Model.First().QuestionTemplate.Title</td>
            </tr>
            <tr>
                <th>Počet podotázek</th>
                @{
                    if (subquestionsAdded)
                    {
                        <td>@Model.Count()</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                }
            </tr>
            <tr>
                <th>Počet bodů</th>
                <td id="question-points-string">@questionPointsString</td>
            </tr>
        </table>
    </div>

    <div id="subquestion-template" class="panel panel-large">
        <div class="panel-title panel-content">Parametry podotázky</div>
        @{
            if (subquestionsAdded)
            {
                <table class="panel-table">
                    <tr>
                        <th>Typ podotázky</th>
                        <td>@ViewBag.SubquestionTypeTextArray[@Convert.ToInt32(subquestionTemplate.SubquestionType)]</td>
                    </tr>
                    <tr>
                        <th>Počet bodů za podotázku</th>
                        <td id="subquestion-points-string">@Math.Round(double.Parse(subquestionPoints), 2)</td>
                    </tr>
                    @{
                        if (subquestionTemplate.ImageSource != null)
                        {
                            imageSource = "Uploads/" + subquestionTemplate.ImageSource;
                            <tr><td colspan="2"><img class="image" id="image" src="@imageSource"></td></tr>
                        }
                    }
                    <tr>
                        <th>Text podotázky</th>
                        <td>@subquestionTemplate.SubquestionText</td>
                    </tr>
                    <tr>
                        <th colspan="2">Možné odpovědi</th>
                    </tr>
                    @{
                        if (@subquestionTemplate.SubquestionType == EnumTypes.SubquestionType.FreeAnswer)
                        {
                            <tr><td colspan="2">Jedná se o otevřenou otázku, neobsahuje výběr z možností, odpovědi je nutné ověřit manuálně.</td></tr>
                        }
                        else if (@subquestionTemplate.SubquestionType == EnumTypes.SubquestionType.FreeAnswerWithDeterminedCorrectAnswer)
                        {
                            <tr><td colspan="2">Otázka neobsahuje výběr z možností.</td></tr>
                        }
                        else
                        {
                            foreach (string possibleAnswer in @subquestionTemplate.PossibleAnswers)
                            {
                                <tr><td colspan="2" class="possible-answer-item">@possibleAnswer</td></tr>
                            }
                        }
                    }
                    @{
                        if (@subquestionTemplate.CorrectAnswers.Length > 0)
                        {
                            <tr>
                                <th colspan="2">Správné odpovědi</th>
                            </tr>

                            foreach (string correctAnswer in @subquestionTemplate.CorrectAnswers)
                            {
                                <tr><td colspan="2" class="correct-answer-item">@correctAnswer</td></tr>
                            }
                        }
                    }
                </table>
            }
        }
    </div>

    <img style="display:none" id="hiddenimage" class="hiddenimage" src="@imageSource">
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalimage">
    </div>

    <div id="subquestion-selection" class="panel panel-large">
        <div class="panel-title panel-content">Výběr podotázky</div>
        <form method="POST">
            <div class="panel-content">
                <input type="hidden" value="@Model.First().QuestionTemplate.QuestionTemplateId" name="questionTemplateId">
                <input type="hidden" value="@subquestionTemplate.SubquestionTemplateId" name="currentSubquestionTemplateId">
                <button type="submit" id="previousSubquestion"  value="previousSubquestion" name="action">Předchozí</button>
                <button type="submit" id="nextSubquestion" value="nextSubquestion" name="action">Následující</button>
            </div>
            @{
                string subquestionLabel = "";
                if (Model.Count() > 1)
                {
                    subquestionLabel = "Vyberte podotázku ze seznamu";
                }
                else
                {
                    if (!subquestionsAdded)
                    {
                        subquestionLabel = "Tato otázka neobsahuje žádné podotázky.";
                    }
                    else
                    {
                        subquestionLabel = "Tato otázka obsahuje pouze jednu podotázku.";

                    }
                }
                <div class="panel-content">@subquestionLabel</div>
            }
            <div class="panel-content">
                <select class="input" name="subquestionTemplateId" id="subquestionTemplateId" disabled="@singleSubquestion">
                    @{
                        int i = 0;
                        foreach (var item in Model)
                        {
                            if (item.SubquestionTemplateId == -1)
                            {
                                continue;
                            }
                            if (item.SubquestionText.Length > 60)
                            {
                                <option id="subquestion-item-@(i+1)" value="@item.SubquestionTemplateId">@(item.SubquestionText.Substring(0, 60) + " ...")</option>
                            }
                            else
                            {
                                <option id="subquestion-item-@(i+1)" value="@item.SubquestionTemplateId">@item.SubquestionText</option>
                            }
                            i++;
                        }
                    }
                }
                </select>
            </div>
            <div class="panel-content"><input class="button" id="selectSubquestionButton" title="Vybrat" type="submit" value="Vybrat" disabled="@singleSubquestion"></div>
        </form>
    </div>

    <div class="panel panel-large">
        <div class="panel-content"><a class="button" asp-controller="Home" asp-action="AddSubquestionTemplate" asp-route-questionTemplateId="@Model.First().QuestionTemplate.QuestionTemplateId">Přidat podotázku</a></div>
        @if (subquestionsAdded)
        {
            <form method="POST" id="edit-subquestion">
                <div class="panel-content">
                    <input type="hidden" value="@subquestionTemplate.SubquestionTemplateId" name="subquestionTemplateId">
                    <button type="submit" class="btn btn-primary" value="editSubquestionTemplate" id="edit-subquestion-template" name="action">Upravit podotázku</button>
                </div>
            </form>
            <div id="delete-subquestion" class="panel-content">
                <button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteSubquestionTemplate', '@subquestionTemplate.SubquestionTemplateId', null, null, null, null, null)">Smazat podotázku</button>
            </div>
        }
    </div>
</div>

<form method="POST" id="confirm-action" class="panel panel-large">
    <div class="panel-content"><label><div id="confirm-action-label"></div></label></div>
    <div class="panel-content"><input title="Ano" type="submit" value="Ano"></div>
    <div class="panel-content">
        <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
        <input type="hidden" id="subquestionTemplateIdToDelete" name="subquestionTemplateId">
        <input type="hidden" name="questionTemplateId" value="@Model.First().QuestionTemplateId">
        <input type="hidden" id="action" name="action">
    </div>
</form>

<a id="backBtn" class="button" asp-action="TestTemplate" asp-route-testTemplateId="@Model.First().QuestionTemplate.TestTemplate.TestTemplateId">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>

@{
    <script>
        questionTemplatePagePostProcessing(@subquestionNumber, @Model.Count(), 'subquestionTemplateId');
        if (@imageSource.Length > 0) 
        {
            addModalImage();
        }
    </script>
}