@model DomainModel.SubquestionResult

@using DomainModel

@{
    SubquestionResult subquestionResult = Model;
    SubquestionTemplate subquestionTemplate = subquestionResult.SubquestionTemplate;
    int subquestionType;
    if (subquestionTemplate == null)
    {
        subquestionType = 0;
    }
    else
    {
        subquestionType = (int)subquestionTemplate.SubquestionType;
    }
    int subquestionsCount = ViewBag.SubquestionsCount;
    int subquestionResultIdIndex = ViewBag.SubquestionResultIdIndex;

    string possibleAnswerListString = "";
    string correctAnswerListString = "";
    string studentAnswerListString = "";
    string subquestionText = "";
    if (subquestionTemplate != null)
    {
        subquestionText = subquestionTemplate.SubquestionText;
        if (subquestionTemplate.PossibleAnswers != null)
        {
            for (int i = 0; i < subquestionTemplate.PossibleAnswers.Count(); i++)
            {
                possibleAnswerListString += subquestionTemplate.PossibleAnswers[i] + ";";
            }
        }

        if (subquestionTemplate.CorrectAnswers != null)
        {
            for (int i = 0; i < subquestionTemplate.CorrectAnswers.Count(); i++)
            {
                correctAnswerListString += subquestionTemplate.CorrectAnswers[i] + ";";
            }
        }
    }

    if(subquestionResult.StudentsAnswers != null)
    {
        for (int i = 0; i < subquestionResult.StudentsAnswers.Length; i++)
        {
            studentAnswerListString += subquestionResult.StudentsAnswers[i] + ";";
        }
    }

    int[] answerCompleteness = ViewBag.AnswerCompleteness;
    string answerCompletenessString = "";
    for(int i = 0; i < answerCompleteness.Length; i++)
    {
        answerCompletenessString += answerCompleteness[i] + ";";
    }

    ViewData["Title"] = "Řešení testové otázky";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <div id="number-list-navigation" class="panel panel-medium">
        <div class="panel-content">Tento test bude automaticky odevzdán @subquestionTemplate.QuestionTemplate.TestTemplate.EndDate</div>
        <div class="panel-title panel-content">@(subquestionResultIdIndex + 1) / @subquestionsCount</div>
        <div class="panel-content"><button class="navigation-element" value="1" onclick="navigateToSubquestion(this.value)">1</button></div>
    </div>

    <div id="subquestion-details" class="panel panel-medium">
        <div class="panel-title panel-content">Otázka č. @(subquestionResultIdIndex + 1)</div>
        @{
            if (subquestionTemplate == null)
            {
                <div class="panel-content">Chyba: otázku nelze zobrazit.</div>
            }
            else
            {
                <form method="POST" id="solve-question-form" onsubmit="onSolveQuestionFormSubmission(@subquestionType)">
                    <div class="panel-content">
                        <input type="hidden" name="subquestionResultIndex" value="@subquestionResultIdIndex">
                        <input type="hidden" name="action" id="action">
                        <button type="submit" id="previousSubquestion" value="@(subquestionResultIdIndex - 1)" name="newSubquestionResultIndex">Předchozí</button>
                        <button type="submit" id="nextSubquestion" value="@(subquestionResultIdIndex + 1)" name="newSubquestionResultIndex">Následující</button>
                    </div>
                    <div class="panel-content"><input type="button" onclick="resetStudentAnswers(@subquestionType)" value="Vymazat odpovědi"></div>
                    
                    <div class="panel-content">Maximální počet bodů: @subquestionTemplate.SubquestionPoints</div>
                    @{
                        if ((subquestionTemplate.QuestionTemplate.TestTemplate.NegativePoints == Common.EnumTypes.NegativePoints.Enabled ||
                            subquestionTemplate.QuestionTemplate.TestTemplate.NegativePoints == Common.EnumTypes.NegativePoints.EnabledForQuestion) &&
                            subquestionType != 5)
                        {
                            <div class="panel-content">Varování: U této otázky jsou za špatné odpovědi udělovány záporné body.</div>
                        }
                    }
                    @{
                        if (subquestionTemplate.ImageSource != null)
                        {
                            string imageSource = "Uploads/" + subquestionTemplate.ImageSource;
                            <tr><td colspan="2"><img class="image" src="@imageSource"></td></tr>
                        }
                    }
                    <div id="SubquestionText" class="panel-content">@subquestionTemplate.SubquestionText</div>
                    @{
                        switch (subquestionType)
                        {
                            case 1:
                                <table id="possible-answers-table" class="panel-table">
                                    <tr>
                                        <th>Možné odpovědi</th>
                                    </tr>
                                    <tr id="possible-answer-1">
                                        <td><div class="possible-answer-text"></div></td>
                                    </tr>
                                </table>
                                <table id="student-answers-table" class="panel-table">
                                    <tr>
                                        <th>Odpověď</th>
                                    </tr>
                                    <tr id="student-answer-1">
                                        <td><select class="student-answer-select" name="StudentsAnswers[]" onchange="updateStudentsAnswersSelect(this.parentNode.parentNode.id, '@subquestionType')"></select></td>
                                    </tr>
                                </table>
                                break;
                            case 2:
                                <table id="student-answers-table" class="panel-table">
                                    <tr>
                                        <th>Označit</th>
                                        <th>Odpověď</th>
                                    </tr>
                                    <tr id="student-answer-1">
                                        <input type="hidden" class="student-answer-hidden">
                                        <td><input type="checkbox" class="student-answer-checkbox"></td>
                                        <td></td>
                                    </tr>
                                </table>
                                break;
                            case 3:
                                <table id="possible-answers-table" class="panel-table">
                                    <tr>
                                        <th>Možné odpovědi</th>
                                    </tr>
                                    <tr id="possible-answer-1">
                                        <td><div class="possible-answer-text"></div></td>
                                    </tr>
                                </table>
                                <table id="student-answers-table" class="panel-table">
                                    <tr>
                                        <th>Odpověď</th>
                                    </tr>
                                    <tr id="student-answer-1">
                                        <td>
                                            <select class="student-answer-select" name="StudentsAnswers[]" onchange="updateStudentsAnswersSelect(this.parentNode.parentNode.id, '@subquestionType')"></select> -
                                            <select class="student-answer-select" name="StudentsAnswers[]" onchange="updateStudentsAnswersSelect(this.parentNode.parentNode.id, '@subquestionType')"></select>
                                        </td>
                                    </tr>
                                </table>
                                break;
                            case 4:
                                <table id="student-answers-table" class="panel-table">
                                    <tr>
                                        <th>Otázka</th>
                                        <th>Ano (platí)</th>
                                        <th>Ne (neplatí)</th>
                                    </tr>
                                    <tr id="student-answer-1">
                                        <td><div class="possible-answer-text"></div>
                                            <input type="hidden" class="possible-answer-hidden" name="possibleAnswers[]">
                                        </td>
                                        <td>
                                            <input checked class="student-answer-radio" type="radio" name="student-answer-radio-1">
                                            <input type="hidden" class="student-answer-hidden" name="StudentsAnswers[]">Ano
                                        </td>
                                        <td><input class="student-answer-radio" type="radio" name="student-answer-radio-1">Ne</td>
                                    </tr>
                                </table>
                                break;
                            case 5:
                                <textarea id="student-answer" name="StudentsAnswers[]" rows="4" cols="50" placeholder="Vaše odpověď"></textarea>
                                break;
                            case 6:
                                <table id="student-answers-table" class="panel-table">
                                    <tr>
                                        <th>Označit</th>
                                        <th>Odpověď</th>
                                    </tr>
                                    <tr id="student-answer-1">
                                        <td><input type="radio" id="student-answer-radio-1" name="student-answer-radio"></td>
                                        <td></td>
                                    </tr>
                                </table>
                                <input type="hidden" class="student-answer-hidden" name="StudentsAnswers[]">
                                break;
                            case 7:
                                <div id="subquestion-text-1" class="panel-content"></div>
                                <div class="panel-content"><select id="student-answer-select" name="StudentsAnswers[]"></select></div>
                                <div id="subquestion-text-2" class="panel-content"></div>
                                break;
                            case 8:
                                <div id="subquestion-text-1" class="panel-content"></div>
                                <div class="panel-content"><input type="text" id="gap-text" name="StudentsAnswers[]" placeholder="(DOPLŇTE)"></div>
                                <div id="subquestion-text-2" class="panel-content"></div>
                                break;
                            case 9:
                                <table id="possible-answers-table" class="panel-table">
                                    <tr>
                                        <th>Možné odpovědi</th>
                                    </tr>
                                    <tr id="possible-answer-1">
                                        <td><div class="possible-answer-text"></div></td>
                                    </tr>
                                </table>

                                <div id="subquestion-text-1" class="panel-content subquestion-text"></div>
                                <div class="panel-content"><select id="student-answer-select-1" class="student-answer-select" name="StudentsAnswers[]" onchange="updateStudentsAnswersSelect(this.parentNode.parentNode.id, '@subquestionType')"></select></div>
                                <div id="subquestion-text-2" class="panel-content subquestion-text"></div>
                                <div class="panel-content"><select id="student-answer-select-2" class="student-answer-select" name="StudentsAnswers[]" onchange="updateStudentsAnswersSelect(this.parentNode.parentNode.id, '@subquestionType')"></select></div>
                                <div id="subquestion-text-3" class="panel-content subquestion-text"></div>
                                <div id="additional-questions" class="panel-content"></div>
                                break;
                            case 10:
                                <div class="panel-content">
                                    <input type="hidden" id="student-answer-hidden" name="StudentsAnswers[]" value="Nezodpovězeno">
                                    <input type="range" id="slider-question" value="50" min="1" max="100" oninput="changeSliderOutputs(this.value)">
                                </div>
                                <output class="panel-content">Nezodpovězeno</output>
                                break;
                        }
                    }
                    @{
                        if ((subquestionResultIdIndex + 1) == subquestionsCount)
                        {
                            <div class="panel-content"><button onclick="turnTestIn()">Odevzdat a ukončit test</button></div>
                        }
                    }
                </form>
            }
        }
    </div>
</div>

<!--<a id="backBtn" class="button" asp-action="">Zpět</a>-->

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>

<script>
    solveQuestionPagePostProcessing('@subquestionsCount', '@subquestionResultIdIndex', '@subquestionType', '@Html.Raw(possibleAnswerListString)',
        '@Html.Raw(correctAnswerListString)', '@Html.Raw(subquestionText)', '@Html.Raw(studentAnswerListString)', '@Html.Raw(answerCompletenessString)');
</script>