@model IEnumerable<DomainModel.TestTemplate>

@{
    ViewData["Title"] = "Dostupné testy k vyřešení";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
</div>

<div id="main">
    <div id="test-template-list" class="panel panel-medium">
        @{
            if (Model.Count() > 0)
            {
                <table class="panel-table">
                    <tr>
                        <th>Nadpis</th>
                        <th>Předmět</th>
                        <th>Učitel</th>
                        <th>Otevřít</th>
                    </tr>
                    @{
                        foreach (var item in Model)
                        {
                            string subjectString = item.Subject.SubjectString();
                            string teacherFullName = item.Owner.FullName();
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => subjectString)</td>
                                <td>@teacherFullName</td>
                                <td>
                                    <a class="button" title="Správa testu"
                                       asp-area=""
                                       asp-controller="Home"
                                       asp-action="StudentAvailableTest"
                                       asp-route-testTemplateId="@item.TestTemplateId">Otevřít test</a>
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <div class="panel-content">Nejsou dostupné žádné testy k vyřešení.</div>
            }
        }
    </div>
</div>

<a id="backBtn" class="button" asp-action="StudentMenu">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>
