@model DomainModel.TestTemplate

@using DomainModel

@{
    TestTemplate testTemplate = Model;
    double testTemplatePointsSum = ViewBag.TestTemplatePointsSum;
    int subquestionsCount = 0;
    for (int i = 0; i < testTemplate.QuestionTemplates.Count; i++)
    {
        QuestionTemplate questionTemplate = testTemplate.QuestionTemplates.ElementAt(i);

        for (int j = 0; j < questionTemplate.SubquestionTemplates.Count; j++)
        {
            SubquestionTemplate subquestionTemplate = questionTemplate.SubquestionTemplates.ElementAt(j);
            subquestionsCount++;
        }
    }

    bool notTurnedInExists = ViewBag.NotTurnedInExists;
    string beginAttemptText = "";
    if (!notTurnedInExists)
    {
        beginAttemptText = "Začít pokus";
    }
    else
    {
        beginAttemptText = "Vrátit se k pokusu";
    }

    ViewData["Title"] = "Test k vyřešení";
}

<div class="text-center">
    <h1>Test k vyřešení</h1>

    <p>@ViewBag.Message</p>

    <div id="test-template">
        <h2>Parametry testu</h2>
        <table>
            <tr>
                <th>Nadpis</th>
                <td>@testTemplate.Title</td>
            </tr>
            <tr>
                <th>Předmět</th>
                <td>@testTemplate.Subject.SubjectString()</td>
            </tr>
            <tr>
                <th>Předmět</th>
                <td>@testTemplate.Owner.FullName()</td>
            </tr>
            <tr>
                <th>Počet otázek</th>
                <td>@subquestionsCount.ToString()</td>
            </tr>
            <tr>
                <th>Počet bodů</th>
                <td>@testTemplatePointsSum.ToString()</td>
            </tr>
            <tr>
                <th>Minimální počet bodů</th>
                <td>@testTemplate.MinimumPoints.ToString() / @testTemplatePointsSum.ToString()</td>
            </tr>
        </table>
    </div>

    <form method="POST">
        <input type="hidden" value="@Model.TestTemplateId" name="testTemplateId">
        <button type="submit" value="beginAttempt" name="action">@beginAttemptText</button>
    </form>

</div>

<div id="backBtn"><a asp-action="StudentAvailableTestList">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>