@model IEnumerable<DomainModel.QuestionTemplate>

@using DomainModel;
@using Common
@using System.Diagnostics;

@{
    double testPoints = 0;
    string? testPointsString = "";

    //minimum points
    double minimumPoints = Model.First().TestTemplate.MinimumPoints;
    string minimumPointsString = minimumPoints.ToString();

    bool userRequestedDifficultyPrediction = false;
    string testDifficultyMessage = string.Empty;
    string[] testDifficultyMessageArray;
    string testTemplatePredictedPoints = string.Empty;
    string difficultyText = string.Empty;
    if (ViewBag.TestDifficultyMessage != null)
    {
        userRequestedDifficultyPrediction = true;
        testDifficultyMessage = ViewBag.TestDifficultyMessage;
        testDifficultyMessageArray = testDifficultyMessage.Split(";");
        testTemplatePredictedPoints = testDifficultyMessageArray[0];
        difficultyText = testDifficultyMessageArray[1];
    }

    //it's possible that no "real" questions exist for this test yet, only one dummy question is added
    bool questionsAdded = true;
    if (@Model.First().QuestionTemplateId == -1)
    {
        questionsAdded = false;
    }

    ViewData["Title"] = "Správa zadání testu";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <div id="question-template-list" class="panel panel-large">
        <div class="panel-title panel-content">Seznam otázek</div>
        @{
            if (Model.Count() > 0)
            {
                <table class="panel-table">
                    <tr>
                        <th>Nadpis</th>
                        <th>Počet bodů</th>
                        <th>Úprava</th>
                        <th>Smazat</th>
                        <th>Otevřít</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach (var item in Model)
                        {
                            if (item.QuestionTemplateId == -1)
                            {
                                continue;
                            }

                            double questionPoints = 0;
                            foreach (SubquestionTemplate subquestionTemplate in item.SubquestionTemplates)
                            {
                                questionPoints += subquestionTemplate.SubquestionPoints;
                            }
                            testPoints += questionPoints;
                            string questionPointsString = Math.Round(questionPoints, 2).ToString();
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@questionPointsString</td>
                                <td>
                                    <a class="button" title="Upravit otázku" 
                                        asp-area=""
                                        asp-controller="Home" 
                                        asp-action="EditQuestionTemplate"
                                        asp-route-questionTemplateId="@item.QuestionTemplateId">Upravit otázku</a>
                                </td>
                                <td><button type="button" onclick="showConfirmActionForm('deleteQuestionTemplate', '@item.QuestionTemplateId', null, null, null, null, null)">Smazat otázku</button></td>
                                <td>
                                    <a class="button" title="Otevřít otázku" id="open-question-template-@i"
                                        asp-area="" 
                                        asp-controller="Home"
                                        asp-action="QuestionTemplate"
                                        asp-route-questionTemplateId="@item.QuestionTemplateId">Otevřít otázku</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            }
            else
            {
                <div class="panel-content">Žádná zadání otázek nebyla přidána.</div>
            }
        }
        <div class="panel-content"><a class="button" asp-controller="Home" asp-action="AddQuestionTemplate" asp-route-testTemplateId="@Model.First().TestTemplate.TestTemplateId">Přidat otázku</a></div>
    </div>

    @{
        testPointsString = Math.Round(testPoints, 2).ToString();
    }

    <div id="test-template" class="panel panel-large">
        <div class="panel-title panel-content">Parametry testu</div>
        <table class="panel-table">
            <tr>
                <th>Nadpis</th>
                <td>@Model.First().TestTemplate.Title</td>
            </tr>
            <tr>
                <th>Předmět</th>
                <td>@Model.First().TestTemplate.Subject.SubjectString()</td>
            </tr>
            <tr>
                <th>Počet otázek</th>
                    @{
                        if (!questionsAdded)
                        {
                            <td>0</td>
                        }
                        else
                        {
                            <td>@Model.Count()</td>
                        }
                    }
            </tr>
            <tr>
                <th>Počet bodů</th>
                <td>@testPointsString</td>
            </tr>
        </table>
    </div>

    <div id="test-difficulty" class="panel panel-large">
        <div class="panel-title panel-content">Obtížnost testu</div>
        <form method="POST" onsubmit="onTestDifficultyFormSubmission()">
            <div class="panel-content">@ViewBag.PredictedTestPointsMessage</div>
            @{
                if (userRequestedDifficultyPrediction)
                {
                    <div class="panel-content">Předpokládaný průměrný počet bodů: @testTemplatePredictedPoints</div>
                    <div class="panel-content">@difficultyText</div>
                }
                else
                {
                    <div id="suggested-points-label" class="panel-content">Předpokládaný průměrný počet bodů:</div>
                    <div id="suggested-points-button" class="panel-content"><button type="submit" value="getDifficultyPrediction" name="action">Zobrazit</button></div>
                }
            }
        </form>
    </div>
</div>

<form method="POST" id="confirm-action" class="panel panel-large">
    <div class="panel-content"><label><div id="confirm-action-label"></div></label></div>
    <div class="panel-content"><input title="Ano" type="submit" value="Ano"></div>
    <div class="panel-content">
        <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
        <input type="hidden" id="questionTemplateId" name="questionTemplateId">
        <input type="hidden" id="action" name="action">
    </div>
</form>

<a id="backBtn" class="button" asp-action="TestTemplateList">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>
