@model IEnumerable<DomainModel.QuestionTemplate>

@using DomainModel;
@using Common
@using System.Diagnostics;

@{
    double testPoints = 0;
    string? testPointsString = "";

    //minimum points
    double minimumPoints = Model.First().TestTemplate.MinimumPoints;
    string minimumPointsString = minimumPoints.ToString();

    bool userRequestedDifficultyPrediction = false;
    string testDifficultyMessage = string.Empty;
    string[] testDifficultyMessageArray;
    string testTemplatePredictedPoints = string.Empty;
    string difficultyText = string.Empty;
    if (ViewBag.TestDifficultyMessage != null)
    {
        userRequestedDifficultyPrediction = true;
        testDifficultyMessage = ViewBag.TestDifficultyMessage;
        testDifficultyMessageArray = testDifficultyMessage.Split(";");
        testTemplatePredictedPoints = testDifficultyMessageArray[0];
        difficultyText = testDifficultyMessageArray[1];
    }

    //it's possible that no "real" questions exist for this test yet, only one dummy question is added
    bool questionsAdded = true;
    if (@Model.First().QuestionTemplateId == -1)
    {
        questionsAdded = false;
    }

    ViewData["Title"] = "Správa zadání testu " + Model.First().TestTemplate.TestTemplateId;
}

<div class="text-center">
    <h1>Správa zadání testu @Model.First().TestTemplate.TestTemplateId</h1>

    <div id="negative-points">
        <h2>Záporné body</h2>
        <form method="POST">
            <p>@ViewBag.NegativePointsMessage</p>
            <input type="hidden" value="@Model.First().TestTemplate.TestTemplateId" name="testTemplateId">
            <p><input class="radio input" title="Vypnuto (nejmenší možný počet bodů je vždy 0)" type="radio" id="negativePointsDisabled" value="1" name="negativePoints"><label class="radio-label" title="Vypnuto (nejmenší možný počet bodů je 0)" for="negativePointsDisabled">Vypnuto (nejmenší možný počet bodů je 0)</label></p>
            <p><input class="radio input" title="Zapnuto pouze v rámci otázky" type="radio" id="negativePointsEnabledForQuestion" value="2" name="negativePoints"><label class="radio-label" title="Zapnuto pouze v rámci otázky" for="negativePointsEnabledForQuestion">Zapnuto pouze v rámci otázky</label></p>
            <p><input class="radio input" title="Zapnuto" type="radio" id="negativePointsEnabled" value="3" name="negativePoints"><label class="radio-label" title="Zapnuto" for="negativePointsEnabled">Zapnuto</label></p>
            <p><input class="button" id="setNegativePointsBtn" title="Uložit" type="submit" value="Uložit"></p>
            <input type="hidden" value="setNegativePoints" name="action">
        </form>
    </div>

    <br><a asp-controller="Home" asp-action="AddQuestionTemplate" asp-route-testTemplateId="@Model.First().TestTemplate.TestTemplateId">Přidat otázku</a>

    <div id="question-template-list">
        <p>@ViewBag.Message</p>
        <h2>Seznam otázek</h2>
        <table>
            <tr>
               <th>Nadpis</th>
               <th>Počet bodů</th>
               <th>Smazat</th>
               <th>Správa otázky</th>
            </tr>
            @{
                int i = 0;
                foreach (var item in Model)
                {
                    if (item.QuestionTemplateId == -1)
                    {
                        continue;
                    }

                    double questionPoints = 0;
                    foreach(SubquestionTemplate subquestionTemplate in item.SubquestionTemplates)
                    {
                        questionPoints += subquestionTemplate.SubquestionPoints;
                    }
                    testPoints += questionPoints;
                    string questionPointsString = Math.Round(questionPoints, 2).ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@questionPointsString</td>
                        <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteQuestionTemplate', '@item.QuestionTemplateId', null, null, null, null, null)">Smazat otázku</button></td>
                        <td><a class="button" id="questionTemplateBtn_@i" title="Správa otázky" asp-area="" asp-controller="Home" asp-action="QuestionTemplate"
                       asp-route-questionTemplateId="@item.QuestionTemplateId">Správa otázky</a>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

@{
    testPointsString = Math.Round(testPoints, 2).ToString();

    //negative points
    EnumTypes.NegativePoints negativePoints = Model.First().TestTemplate.NegativePoints;
    if (negativePoints == EnumTypes.NegativePoints.Enabled)
    {
        <script>
        document.getElementById("negativePointsEnabled").checked = true;
        </script>
    }
    else if (negativePoints == EnumTypes.NegativePoints.EnabledForQuestion)
    {
        <script>
        document.getElementById("negativePointsEnabledForQuestion").checked = true;
        </script>
    }
    else if (negativePoints == EnumTypes.NegativePoints.Disabled)
    {
        <script>
        document.getElementById("negativePointsDisabled").checked = true;
        </script>
    }
}

<div id="test-template">
    <h2>Parametry testu</h2>
    <table>
        <tr>
            <th>Nadpis</th>
            <td>@Model.First().TestTemplate.Title</td>
        </tr>
        <tr>
            <th>Předmět</th>
            <td>@Model.First().TestTemplate.Subject.SubjectString()</td>
        </tr>
        <tr>
            <th>Počet otázek</th>
            @{
                if (!questionsAdded)
                {
                    <td>0</td>
                }
                else
                {
                    <td>@Model.Count()</td>
                }
            }
        </tr>
        <tr>
            <th>Počet bodů</th>
            <td>@testPointsString</td>
        </tr>
    </table>
</div>

<div id="minimum-points">
    <h2>Minimální počet bodů</h2>
    <form method="POST">
        <p>@ViewBag.MinimumPointsMessage</p>
        <p>Minimální počet bodů: <input type="number" min="0" step=".01" required name="minimumPointsAmount" value="@minimumPointsString" /></p>
        <p><input class="button" id="setMinimumPointsBtn" title="Uložit" type="submit" value="Uložit"></p>
        <input type="hidden" value="setMinimumPoints" name="action">
    </form>
</div>

<div id="test-difficulty">
    <h2>Obtížnost testu</h2>
    <form method="POST">
        <p>@ViewBag.PredictedTestPointsMessage</p>
        @{
            if (userRequestedDifficultyPrediction)
            {
                <p>Předpokládaný průměrný počet bodů: @testTemplatePredictedPoints</p>
                <p>@difficultyText</p>
            }
            else
            {
                <p>Předpokládaný průměrný počet bodů: <button type="submit" value="getDifficultyPrediction" name="action">Zobrazit</button></p>
            }
        }
    </form>
</div>

<div id="confirm-action">
    <form method="POST">
        <label><div id="confirm-action-label"></div></label><br>
        <input title="Ano" type="submit" value="Ano"><br>
        <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
        <input type="hidden" id="questionTemplateId" name="questionTemplateId">
        <input type="hidden" id="action" name="action">
    </form>
</div>

<div id="backBtn"><a asp-action="TestTemplateList">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>