@model IEnumerable<DomainModel.TestTemplate>

@{
    ViewData["Title"] = "Správa zadání testů";
}

<div class="text-center">
    <h1>Správa zadání testů</h1>

    <div id="test-template-list">
        @{
            if (Model.Count() > 0)
            {
                <table>
                    <tr>
                        <th>Nadpis</th>
                        <th>Předmět</th>
                        <th>Úprava</th>
                        <th>Smazat</th>
                        <th>Otevřít</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach (var item in Model)
                        {
                            string subjectString = item.Subject.SubjectString();
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => subjectString)</td>
                                <td>
                                    <a class="button" title="Upravit test" asp-area="" asp-controller="Home" asp-action="EditTestTemplate"
                                        asp-route-testTemplateId="@item.TestTemplateId">Upravit test</a>
                                </td>
                                <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteTemplate', '@item.TestTemplateId', null, null, null, null, null)">Smazat test</button></td>
                                <td>
                                    <a class="button" title="Otevřít test" id="open-test-template-@i"
                                        asp-area="" 
                                        asp-controller="Home" 
                                        asp-action="TestTemplate"
                                        asp-route-testTemplateId="@item.TestTemplateId">Otevřít test</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            }
            else
            {
                <p>Nebyly přidány žádná zadání testů.</p>
            }
        }
    </div>

    <p>@ViewBag.Message</p>

    <button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteAllTemplates', null, null, null, null, null, null)">Smazat všechny testy</button>

    <br><a asp-action="AddTestTemplate">Přidat test</a>

    <div id="confirm-action">
        <form method="POST">
            <label><div id="confirm-action-label"></div></label><br>
            <input title="Ano" type="submit" value="Ano"><br>
            <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
            <input type="hidden" id="testTemplateId" name="testTemplateId">
            <input type="hidden" id="action" name="action">
        </form>
    </div>
</div>

<div id="backBtn"><a asp-action="@ViewBag.Return">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>