@model IEnumerable<DomainModel.UserRegistration>

@using Common;

@{
    ViewData["Title"] = "Registrace";
}

<div id="header">
    <div id="header-title">@ViewData["Title"]</div>
    <div id="header-notice">@ViewBag.Message</div>
</div>

<div id="main">
    <div id="user-registration" class="panel panel-max">
        <div class="panel-title panel-content">Vaše registrace</div>
        <div class="panel-content">@ViewBag.firstRegistrationMessage</div>
        @{
            if (Model.Count() == 0)
            {
                <div class="panel-content">Zatím jste se nezaregistroval</div>
            }
            else
            {
                <table class="panel-table">
                    <tr>
                        <th>Jméno</th>
                        <th>Příjmení</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Datum vytvoření</th>
                        <th>Stav</th>
                    </tr>
                    <tr>
                        <td>@Model.First().FirstName</td>
                        <td>@Model.First().LastName</td>
                        <td>@Model.First().Login</td>
                        <td>@Model.First().Email</td>
                        @{
                            string role = "";
                            if (Model.First().Role == EnumTypes.Role.Student)
                            {
                                role = "Student";
                            }
                            else if (Model.First().Role == EnumTypes.Role.Teacher)
                            {
                                role = "Učitel";
                            }
                            else if (Model.First().Role == EnumTypes.Role.Admin)
                            {
                                role = "Správce";
                            }
                            <td>@role</td>

                            <td>@Model.First().CreationDate</td>

                            string state = "";
                            if (Model.First().State == EnumTypes.RegistrationState.Waiting)
                            {
                                state = "Čekající";
                            }
                            else if (Model.First().State == EnumTypes.RegistrationState.Rejected)
                            {
                                state = "Zamítnuta";
                            }
                            <td>@state</td>
                        }
                    </tr>
                </table>
            }
        }
    </div>

    <form method="POST" id="registration-form" class="panel panel-max">
        <div class="panel-content"><label for="firstName">Jméno:</label></div>
        <div class="panel-content"><input type="text" id="firstName" name="firstName" value="@ViewBag.firstName"></div>
        <div class="panel-content"><label for="lastName">Příjmení:</label></div>
        <div class="panel-content"><input type="text" id="lastName" name="lastName" value="@ViewBag.lastName"></div>
        <div class="panel-content"><label for="login">Login:</label></div>
        <div class="panel-content"><input type="text" id="login" name="login"></div>
        <div class="panel-content"><label for="email">Email:</label></div>
        <div class="panel-content"><input type="text" id="email" name="email" value="@ViewBag.email" readonly></div>
        <div class="panel-content"><label for="role">Role:</label></div>
        <div class="panel-content">
            <select name="role" id="role">
                <option value="1">Student</option>
                <option value="2">Učitel</option>
                <option value="3">Správce</option>
            </select>
        </div>
        <div class="panel-content"><input type="submit" value="Zaregistrovat se"></div>
    </form>
</div>

<a id="backBtn" class="button" asp-action="Index">Zpět</a>

<a id="signOutBtn" class="button" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a>

@{
    if(ViewBag.firstRegistrationMessage != null)
    {
        <script>
            var opt = document.createElement('option');
            opt.value = "4";
            opt.innerHTML = "Hlavní administrátor";
            document.getElementById("role").appendChild(opt);

            document.getElementById("role").value = "4";

            document.getElementById("role").disabled = true;
        </script>
    }
}