@model DomainModel.SubquestionTemplate

@{
    string questionNumberIdentifier = ViewBag.QuestionNumberIdentifier;
    string[] subquestionTypeTextArray = ViewBag.SubquestionTypeTextArray;
    int selectedSubquestionType;
    if (ViewBag.SelectedSubquestionType == null)
    {
        selectedSubquestionType = 0;
    }
    else
    {
        selectedSubquestionType = int.Parse(ViewBag.SelectedSubquestionType);
    }

    Random random = new Random();
    int tempSubquestionIdentifier = random.Next(1, 1000000);

    ViewData["Title"] = "Vytvoření zadání podotázky";
}

<div class="text-center">
    <h1>Vytvoření zadání otázky</h1>

    <div id="subquestion-type">
        <h2>Typ podotázky</h2>
        <form method="POST">
            <select class="input" name="subquestionType" id="subquestionType" onchange="setSubquestionTypeDetails(this)">
                @{
                    int i = 0;
                    foreach (string type in subquestionTypeTextArray)
                    {
                        if (i == 0)
                        {
                            i++;
                            continue;
                        }
                        <option id="subquestion-type-@(i+1)" value="@i">@type</option>
                        i++;
                    }
                }
            </select>
            <input type="hidden" value="selectType" name="action">
            <input class="button" id="selectSubquestionButton" title="Vybrat" type="submit" value="Vybrat">
        </form>
        <div id="subquestion-type-details">Úkolem je seřadit pojmy v daném pořadí (např. od nejnižšího po nejvyšší, od nejmenšího po největší).</div>
    </div>

    <div id="subquestion-details">
        <h2>Detaily podotázky</h2>
        @{
            <p>@ViewBag.Message</p>
            if (selectedSubquestionType != 0)
            {
                <p>Typ otázky: @subquestionTypeTextArray[selectedSubquestionType]</p>
            }
            if (selectedSubquestionType == 0)
            {
                <p>Pro vyplnění detailů podotázky prosím zvolte z nabídky typ podotázky.</p>
            }
            else
            {
                <form method="POST" enctype="multipart/form-data" id="add-subquestion-form">
                    <label for="subquestionText">Text:</label>
                    <input type="text" required id="SubquestionText" name="SubquestionText"><br>
                    @{
                        switch (selectedSubquestionType)
                        {
                            case 1:
                                <button type="button" onclick="editPossibleAnswers('enable', @selectedSubquestionType)" id="possible-answer-edit">Upravit možné odpovědi</button>
                                <button type="button" onclick="editPossibleAnswers('disable', @selectedSubquestionType)" id="possible-answer-save">Uložit</button>
                                <table id="possible-answers-table">
                                    <tr>
                                        <th>Možná odpověď</th>
                                        <th>Nahoru</th>
                                        <th>Dolů</th>
                                        <th>Smazat odpověď</th>
                                    </tr>
                                    <tr id="possible-answer-1">
                                        <td><input readonly class="possible-answer-input" type="text" name="PossibleAnswerList[]"></td>
                                        <td><button type="button" class="possible-answer-move" onclick="movePossibleAnswer('up', this.parentNode.parentNode.id)">∧</button></td>
                                        <td><button type="button" class="possible-answer-move" onclick="movePossibleAnswer('down', this.parentNode.parentNode.id)">∨</button></td>
                                        <td><button type="button" class="possible-answer-delete" onclick="deletePossibleAnswer(this.parentNode.parentNode.id)">Smazat</button></td>
                                    </tr>
                                    <tr id="possible-answer-2">
                                        <td><input readonly class="possible-answer-input" type="text" name="PossibleAnswerList[]"></td>
                                        <td><button type="button" class="possible-answer-move" onclick="movePossibleAnswer('up', this.parentNode.parentNode.id)">∧</button></td>
                                        <td><button type="button" class="possible-answer-move" onclick="movePossibleAnswer('down', this.parentNode.parentNode.id)">∨</button></td>
                                        <td><button type="button" class="possible-answer-delete" onclick="deletePossibleAnswer(this.parentNode.parentNode.id)">Smazat</button></td>
                                    </tr>
                                </table>
                                <button type="button" onclick="addPossibleAnswer()" id="possible-answer-add">Přidat možnou odpověď</button>
                                <br>
                                <button type="button" onclick="editCorrectAnswers('enable', @selectedSubquestionType)" id="correct-answer-edit">Upravit správné odpovědi</button>
                                <button type="button" onclick="editCorrectAnswers('disable', @selectedSubquestionType)" id="correct-answer-save">Uložit</button>
                                <br>
                                <table id="correct-answers-table">
                                    <tr>
                                        <th>Správná odpověď</th>
                                        <th>Nahoru</th>
                                        <th>Dolů</th>
                                    </tr>
                                    <tr id="correct-answer-1">
                                        <td><input readonly class="correct-answer-input" type="text" name="CorrectAnswerList[]"></td>
                                        <td><button type="button" class="correct-answer-move" onclick="moveCorrectAnswer('up', this.parentNode.parentNode.id)">∧</button></td>
                                        <td><button type="button" class="correct-answer-move" onclick="moveCorrectAnswer('down', this.parentNode.parentNode.id)">∨</button></td>
                                    </tr>
                                </table>
                                break;

                            case 2:
                                <button type="button" onclick="editPossibleAnswers('enable', @selectedSubquestionType)" id="possible-answer-edit">Upravit možné odpovědi</button>
                                <button type="button" onclick="editPossibleAnswers('disable', @selectedSubquestionType)" id="possible-answer-save">Uložit</button>
                                <table id="possible-answers-table">
                                    <tr>
                                        <th>Možná odpověď</th>
                                        <th>Smazat odpověď</th>
                                    </tr>
                                    <tr id="possible-answer-1">
                                        <td><input readonly class="possible-answer-input" type="text" name="PossibleAnswerList[]"></td>
                                        <td><button type="button" class="possible-answer-delete" onclick="deletePossibleAnswer(this.parentNode.parentNode.id)">Smazat</button></td>
                                    </tr>
                                    <tr id="possible-answer-2">
                                        <td><input readonly class="possible-answer-input" type="text" name="PossibleAnswerList[]"></td>
                                        <td><button type="button" class="possible-answer-delete" onclick="deletePossibleAnswer(this.parentNode.parentNode.id)">Smazat</button></td>
                                    </tr>
                                </table>
                                <button type="button" onclick="addPossibleAnswer()" id="possible-answer-add">Přidat možnou odpověď</button>
                                <br>
                                <button type="button" onclick="editCorrectAnswers('enable', @selectedSubquestionType)" id="correct-answer-edit">Upravit správné odpovědi</button>
                                <button type="button" onclick="editCorrectAnswers('disable', @selectedSubquestionType)" id="correct-answer-save">Uložit</button>
                                <br>
                                <table id="correct-answers-table">
                                    <tr>
                                        <th>Správná odpověď</th>
                                        <th>Smazat odpověď</th>
                                    </tr>
                                    <tr id="correct-answer-1">
                                        <td><select class="correct-answer-select" onchange="updateCorrectAnswersSelect('correctAnswerChosen')"></select></td>
                                        <td><button type="button" class="correct-answer-delete" onclick="deleteCorrectAnswer(this.parentNode.parentNode.id)">Smazat</button></td>
                                    </tr>
                                </table>
                                <br>
                                <button type="button" onclick="addCorrectAnswer()" id="correct-answer-add">Přidat správnou odpověď</button>
                                break;
                        }
                    }
                    <br>
                    <p>
                        Počet bodů za podotázku: <input class="input" type="number" step="any" min="0" required id="subquestion-points" name="subquestionPoints"
                                                    onchange="updateChoicePoints(this, @selectedSubquestionType)">
                    </p>
                    <p>Počet bodů za správnou volbu: <input type="number" readonly id="correct-choice-points" name="CorrectChoicePoints"></p>
                    <p>Počet bodů za špatnou volbu:</p>
                    <input class="radio input" title="Automatický" type="radio" id="wrongChoicePoints_automatic_radio" value="wrongChoicePoints_automatic_radio"
                       name="wrongChoicePointsRadio" checked onchange="setWrongChoicePointsInputs(this)">
                    <label class="radio-label" title="Automatický" for="wrongChoicePoints_automatic_radio">Automatický</label>
                    <input type="number" id="wrongChoicePoints_automatic" readonly name="defaultWrongChoicePoints"> <br />
                    <input class="radio input" title="Vlastní" type="radio" id="wrongChoicePoints_manual_radio" value="wrongChoicePoints_manual_radio"
                       name="wrongChoicePointsRadio" onchange="setWrongChoicePointsInputs(this)">
                    <label class="radio-label" title="Vlastní" for="wrongChoicePoints_manual_radio">Vlastní</label>
                    <input class="input" type="number" step="any" max="0" id="wrongChoicePoints_manual" name="wrongChoicePoints_manual" readonly required value="0">
                    <br>
                    <p>Obrázek:</p>
                    <input type="file" id="imagePath" name="image">
                    <br>
                    <button type="button" onclick="removeImage()">Odebrat obrázek</button>
                    <p>Maximální velikost: 4 MB. Povolené formáty: .jpg, .png, .jpeg, .webp</p>
                    <br>
                    <button disabled type="submit" value="addSubquestion" name="action" id="subquestion-add">Uložit</button>
                    <input type="hidden" name="QuestionNumberIdentifier" value="@questionNumberIdentifier">
                    <input type="hidden" name="SubquestionIdentifier" value="@tempSubquestionIdentifier">
                    <input type="hidden" name="SubquestionType" value="@selectedSubquestionType">
                    <input type="hidden" name="action" value="addSubquestion">
                    @{
                        if (selectedSubquestionType == 2)
                        {
                            <input type="hidden" name="CorrectAnswerList[]" id="hidden-correct-answer-list">
                        }
                    }
                </form>
            }
        }
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    //disable elements in the possible answers table on load
    document.getElementById("possible-answer-add").disabled = true;
    $(".possible-answer-delete").prop('disabled', true);
    document.getElementById("possible-answer-save").disabled = true;
    $(".possible-answer-move").prop('disabled', true);

    //disable elements in the correct answers table on load
    document.getElementById("correct-answer-save").disabled = true;
    $(".correct-answer-move").prop('disabled', true);
</script>

@{
    if (selectedSubquestionType == 2)
    {
        <script>
            document.getElementById("correct-answer-add").disabled = true;
            $(".correct-answer-delete").prop('disabled', true);
            $('.correct-answer-select').prop('disabled', true);
        </script>
    }
}