@model ViewLayer.Models.BrowseSolvedItemModel

@{
    if(Model.ResponseIdentifiers.Item3 == 1)
    {
        string errorMessage = "Chyba: otázka obsahuje více než jeden obrázek.";
        WriteMessageToUser(errorMessage);
    }
    else if (Model.ResponseIdentifiers.Item3 == 2)
    {
        string errorMessage = "Chyba: otázka nemá pravděpodobně zadaný žádný text";
        WriteMessageToUser(errorMessage);
    }
}

@functions{
    public void WriteMessageToUser(string message)
    {
        <script>
        window.alert('@message');
        </script>
    }
}

<header class="header">
    <div class="header-content content-width">
        <div class="header-left">
            <a class="header-button button button-transparent material-icons" id="backBtn" title="Zpět" asp-area="" asp-controller="Home" asp-action="BrowseSolvedTest"
            asp-route-testNameIdentifier="@Model.TestNameIdentifier"
            asp-route-testNumberIdentifier="@Model.TestNumberIdentifier"
            asp-route-deliveryExecutionIdentifier="@Model.DeliveryExecutionIdentifier"
            asp-route-studentIdentifier="@Model.StudentIdentifier">arrow_back</a>
        </div>
        <h1 class="header-center header-title title" title="@Model.Title">@Model.Title</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" id="signOutBtn" title="Odhlásit se" asp-area="" asp-controller="Home" asp-action="Index">logout</a>
        </div>
    </div>
</header>
<main class="main content-width">
    <section class="section">
        <article class="article">
            <h2 class="article-title title" title="Parametry otázky">Parametry otázky</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jmenný identifikátor otázky</th>
                        <td>@Model.ItemNameIdentifier</td>
                    </tr>
                    <tr>
                        <th>Číselný identifikátor otázky</th>
                        <td>@Model.ItemNumberIdentifier</td>
                    </tr>
                    <tr>
                        <th>Nadpis</th>
                        <td>@Model.ItemParameters.Item3</td>
                    </tr>
                    <tr>
                        <th>Označení</th>
                        <td>@Model.ItemParameters.Item4</td>
                    </tr>
                    <tr>
                        <th>Počet podotázek</th>
                        <td>@Model.ItemParameters.Item5</td>
                    </tr>
                    <tr>
                        <th>Počet bodů za otázku</th>
                        @{
                            if(@Model.QuestionPoints.Item4)
                            {
                                <td>@Model.StudentsSubitemPointsListSum / @Model.QuestionPoints.Item3</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                    </tr>
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Výběr podotázky">Výběr podotázky</h2>
            <div class="article-content">
                <form method="POST">
                    <input type="hidden" value="@Model.TestNameIdentifier" name="testNameIdentifier">
                    <input type="hidden" value="@Model.ItemNameIdentifier" name="itemNameIdentifier">
                    <input type="hidden" value="@Model.ItemNumberIdentifier" name="itemNumberIdentifier">
                    <table class="article-table">
                        <tr>
                            <th>
                                @{
                                    string subItemLabel = "";
                                    if(@Model.ItemParameters.Item5 > 1)
                                    {
                                        subItemLabel = "Vyberte podotázku ze seznamu";
                                    }
                                    else
                                    {
                                        subItemLabel = "Tato otázka obsahuje pouze jednu podotázku.";
                                    }
                                    @subItemLabel
                                }
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-wrapper">
                                    <select class="input" name="selectedSubitem" id="selectedSubitem" onchange="loadSubitemInfo(this)" disabled="@Model.IsSelectDisabled">
                                        @{
                                            int i = 0;
                                            foreach(string _ in Model.ResponseIdentifiers.Item1)
                                            {
                                                <option title="@Model.ResponseIdentifiers.Item2[@i]" value="@Model.ResponseIdentifiers.Item1[@i]">@Model.ResponseIdentifiers.Item2[@i]</option>
                                                i++;
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input class="button" id="setSubitemBtn" title="Vybrat" type="submit" value="Vybrat" disabled="@Model.IsSelectDisabled">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Parametry podotázky">Parametry podotázky</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Typ otázky</th>
                        <td>@Model.QuestionTypeText</td>
                    </tr>
                    <tr>
                        <th>Jmenný identifikátor testu</th>
                        <td>@Model.ResponseIdentifier</td>
                    </tr>
                    <tr>
                        <th>Počet bodů za podotázku</th>
                        @{
                            if(@Model.SubitemParameters.Item4)
                            {
                                <td>@Model.StudentsSubitemPoints / @Model.SubitemParameters.Item3</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                    </tr>
                    @{
                        if(@Model.SubitemParameters.Item6 != "")
                        {
                            <tr><td colspan="2"><img class="image" src="@Model.SubitemParameters.Item6"></td></tr>
                        }
                    }
                    <tr>
                        <th colspan="2">Otázka</th>
                    </tr>
                    <tr>
                        <td colspan="2">@Model.SubitemParameters.Item7</td>
                    </tr>
                    @{
                        if(Model.SubitemParameters.Item2 == 4)
                        {
                            string subquestions = "";
                            int subquestionArrayIterator = 0;
                            foreach (string answer in Model.SubitemParameters.Item9)
                            {
                                if (subquestionArrayIterator != Model.SubitemParameters.Item9.Count - 1)
                                {
                                    subquestions += answer + ", ";
                                }
                                else
                                {
                                    subquestions += answer;
                                }
                                subquestionArrayIterator++;
                            }
                            <tr><td colspan="2">(@subquestions)</td></tr>
                        }
                    }
                    <tr>
                        <th colspan="2">Možné odpovědi</th>
                    </tr>
                    @{
                        if(Model.SubitemParameters.Item2 == 5)
                        {
                            <tr><td colspan="2">Jedná se o otevřenou otázku, neobsahuje výběr z možností, odpovědi je nutné ověřit manuálně.</td></tr>
                        }
                        else if (Model.SubitemParameters.Item2 == 8)
                        {
                            <tr><td colspan="2">Otázka neobsahuje výběr z možností.</td></tr>
                        }
                        else
                        {
                            foreach(string possibleAnswer in Model.SubitemParameters.Item8)
                            {
                                <tr><td colspan="2">@possibleAnswer</td></tr>
                            }
                        }
                    }
                    @{
                        if(Model.SubitemParameters.Item11.Count > 0)
                        {
                            <tr>
                                <th colspan="2">Správná odpověď</th>
                            </tr>
                        }
                        if (Model.SubitemParameters.Item2 == 3 || Model.SubitemParameters.Item2 == 4)
                        {
                            for(int answerNumber = 0; answerNumber < Model.SubitemParameters.Item11.Count; answerNumber+=2)
                            {
                                <tr><td colspan="2">@Model.SubitemParameters.Item11[answerNumber] -> @Model.SubitemParameters.Item11[answerNumber + 1]</td></tr>
                            }
                        }
                        else if(Model.SubitemParameters.Item2 == 9)
                        {
                            int answerNumber = 1;
                            foreach (string answer in Model.SubitemParameters.Item11)
                            {
                                <tr><td colspan="2">[@answerNumber] - @answer</td></tr>
                                answerNumber++;
                            }
                        }
                        else
                        {
                            foreach (string answer in Model.SubitemParameters.Item11)
                            {
                                <tr><td colspan="2">@answer</td></tr>
                            }
                        }
                    }
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Vaše odpověď">Vaše odpověď</h2>
            <div class="article-content">
                <table class="article-table">
                    @{
                        foreach (string answer in Model.DeliveryExecutionInfo.Item2)
                        {
                            <tr><td colspan="2">@answer</td></tr>
                        }
                    }
                    <tr>
                        <th class="@Model.AnswerClass" colspan="2" align="center">@Model.DeliveryExecutionInfo.Item3</th></tr>
                    <tr>
                        @{
                            string[] studentsAnswerPointsLabelSplit = @Model.DeliveryExecutionInfo.Item4.Split(": ");
                            <th class="@Model.AnswerClass">@studentsAnswerPointsLabelSplit[0]</th>
                            <td class="@Model.AnswerClass">@studentsAnswerPointsLabelSplit[1]</td>
                        }
                    </tr>
                </table>
            </div>
        </article>
    </section>
</main>