@model ViewLayer.Models.BrowseSolvedQuestionModel

@using DomainModel;

@{
    ViewData["Title"] = @Model.Title;

    //Model.SelectedSubquestionTemplate is null in case the user has just opened the question template without selecting the subquestion
    //therefore we set Model.SelectedSubquestionTemplate to the first subquestion template from the list of subquestions
    SubquestionTemplate defaultSubquestionTemplate = Model.QuestionTemplate.SubquestionTemplateList[0];
    if(Model.SubquestionTemplate == null)
    {
        Model.SubquestionTemplate = defaultSubquestionTemplate;
    }

    bool singleSubquestion = true;
    if(Model.QuestionTemplate.SubquestionTemplateList.Count > 1)
    {
        singleSubquestion = false;
    }
}

<div class="text-center">
    <h1>@Model.Title</h1>

    <div id="question-template">
        <table>
            <tr>
                <th>Jmenný identifikátor otázky</th>
                <td>@Model.QuestionTemplate.QuestionNameIdentifier</td>
            </tr>
            <tr>
                <th>Číselný identifikátor otázky</th>
                <td>@Model.QuestionTemplate.QuestionNumberIdentifier</td>
            </tr>
            <tr>
                <th>Nadpis</th>
                <td>@Model.QuestionTemplate.Title</td>
            </tr>
            <tr>
                <th>Počet podotázek</th>
                <td>@Model.QuestionTemplate.SubquestionTemplateList.Count</td>
            </tr>
        </table>
    </div>

    <div id="subquestion-template">
        <table>
            <tr>
                <th>Jmenný identifikátor podotázky</th>
                <td>@Model.SubquestionTemplate.SubquestionIdentifier</td>
            </tr>
            <tr>
                <th>Typ podotázky</th>
                <td>@Model.SubquestionTypeTextArray[@Model.SubquestionTemplate.SubquestionType]</td>
            </tr>
            @{
                if(@Model.SubquestionTemplate.ImageSource != "")
                {
                    <tr><td colspan="2"><img class="image" src="@Model.SubquestionTemplate.ImageSource"></td></tr>
                }
            }
            <tr>
                <th>Text podotázky</th>
                <td>@Model.SubquestionTemplate.SubquestionText</td>
            </tr>
            <tr>
                <th colspan="2">Možné odpovědi</th>
            </tr>
            @{
                if(@Model.SubquestionTemplate.SubquestionType == 5)
                {
                    <tr><td colspan="2">Jedná se o otevřenou otázku, neobsahuje výběr z možností, odpovědi je nutné ověřit manuálně.</td></tr>
                }
                else if (@Model.SubquestionTemplate.SubquestionType == 8)
                {
                    <tr><td colspan="2">Otázka neobsahuje výběr z možností.</td></tr>
                }
                else
                {
                    foreach(string possibleAnswer in @Model.SubquestionTemplate.PossibleAnswerList)
                    {
                        <tr><td colspan="2" class="possible-answer-item">@possibleAnswer</td></tr>
                    }
                }
            }
            @{
                if(@Model.SubquestionTemplate.CorrectAnswerList.Count > 0)
                {
                    <tr>
                        <th colspan="2">Správné odpovědi</th>
                    </tr>
            
                    foreach(string correctAnswer in @Model.SubquestionTemplate.CorrectAnswerList)
                    {
                        <tr><td colspan="2" class="correct-answer-item">@correctAnswer</td></tr>
                    }
                }
            }
        </table>
    </div>

    <div id="subquestion-selection">
        <form method="POST">

            <input type="hidden" value="@Model.TestNameIdentifier" name="testNameIdentifier">
            <input type="hidden" value="@Model.TestNumberIdentifier" name="testNumberIdentifier">
            <input type="hidden" value="@Model.QuestionTemplate.QuestionNameIdentifier" name="questionNameIdentifier">
            <input type="hidden" value="@Model.QuestionTemplate.QuestionNumberIdentifier" name="questionNumberIdentifier">
            <input type="hidden" value="@Model.TestResultIdentifier" name="testResultIdentifier">

            @{
                string subquestionLabel = "";
                if(Model.QuestionTemplate.SubquestionTemplateList.Count > 1)
                {
                    subquestionLabel = "Vyberte podotázku ze seznamu";
                }
                else
                {
                    subquestionLabel = "Tato otázka obsahuje pouze jednu podotázku.";
                }
                <p>@subquestionLabel</p>
            }

            <select class="input" name="subquestionIdentifier" id="subquestionIdentifier" disabled="@singleSubquestion">
                @{
                    int i = 0;
                    foreach(SubquestionTemplate subquestionTemplate in Model.QuestionTemplate.SubquestionTemplateList)
                    {
                        if(@subquestionTemplate.SubquestionText.Length > 60)
                        {
                            <option id="subquestion-item-@(i+1)" value="@subquestionTemplate.SubquestionIdentifier">@(subquestionTemplate.SubquestionText.Substring(0,60) + " ...")</option>
                        }
                        else
                        {
                            <option id="subquestion-item-@(i+1)" value="@subquestionTemplate.SubquestionIdentifier">@subquestionTemplate.SubquestionText</option>
                        }
                    i++;
                }
            }
            </select>

            <input class="button" id="selectSubquestionButton" title="Vybrat" type="submit" value="Vybrat" disabled="@singleSubquestion">


        </form>
    </div>

    <div id="subquestion-result">
        <p><b>Studentova odpověď</b></p>
        @{
            for(int j = 0; j < Model.QuestionResult.SubquestionResultList.Count; j++)
            {
                if(Model.QuestionResult.SubquestionResultList[j].SubquestionTemplateIdentifier == Model.SubquestionTemplate.SubquestionIdentifier)
                {
                    for(int k = 0; k < Model.QuestionResult.SubquestionResultList[j].StudentsAnswerList.Count; k++)
                    {
                        <p>@Model.QuestionResult.SubquestionResultList[j].StudentsAnswerList[k]</p>
                    }
                }
            }
        }
    </div>
</div>

<footer>
    <div class="container">
        <a asp-action="ManageSolvedTest"
        asp-route-testNameIdentifier="@Model.TestNameIdentifier" 
        asp-route-testResultIdentifier="@Model.TestResultIdentifier">Zpět</a>
    </div>
</footer>