@model dynamic

@using DomainModel

@{
    ViewData["Title"] = "Prohlížení vyřešených testů";
}

<div class="text-center">
    <h1>Prohlížení vyřešených testů</h1>

    <div id="test-result-list">
        <table>
            <tr>
                <th>Jmenný identifikátor testu</th>
                <th>Datum</th>
                <th>Prohlížení</th>
            </tr>
            @{
                foreach(TestResult item in Model.TestResults)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TestNameIdentifier)</td>
                        <td>@Html.DisplayFor(modelItem => item.TimeStamp)</td>
                        <td><a class="button" id="testResultBtn_i" title="Zobrazit test"
                            asp-area="" 
                            asp-controller="Home" 
                            asp-action="BrowseSolvedTest" 
                            asp-route-testResultIdentifier="@item.TestResultIdentifier">Zobrazit test</a></td>
                    </tr>
                }
            }
        </table>
    </div>

    <div id="student-information">
        <table>
            <tr>
                <th>Jméno</th>
                <td>@Model.Student.FullName()</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>@Model.Student.Login</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Student.Email</td>
            </tr>
            <tr>
                <th>Počet vyplněných testů</th>
                <td>@Model.TestResults.Count</td>
            </tr>
        </table>
    </div>
</div>

<div id="backBtn"><a asp-action="Index">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>