@model ViewLayer.Models.BrowseSolvedTestListModel

<header class="header">
    <div class="header-content content-width">
        <!--<div class="header-left">
            <a class="header-button button button-transparent material-icons" id="backBtn" title="Zpět" asp-area="" asp-controller="Home" asp-action="StudentMenu">arrow_back</a>
            <a class="header-button button button-transparent material-icons" id="backBtn" title="Zpět" asp-area="" asp-controller="Home" asp-action="Index">arrow_back</a>
        </div>-->
        <h1 class="header-center header-title title" title="@Model.Title">@Model.Title</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" id="signOutBtn" title="Odhlásit se" asp-area="" asp-controller="Home" asp-action="Index">logout</a>
        </div>
    </div>
</header>
<main class="main content-width">
    <section class="section">
        <article class="article">
            <h2 class="article-title title" title="Student">Student</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jméno</th>
                        <td>@Model.Student.Item4 @Model.Student.Item5</td>
                    </tr>
                    <tr>
                        <th>Login</th>
                        <td>@Model.Student.Item3</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Student.Item6</td>
                    </tr>
                    <tr>
                        <th>Počet vyplněných testů</th>
                        <td>@Model.StudentTestList.Count</td>
                    </tr>
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Seznam výsledků">Seznam výsledků</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jmenný identifikátor testu</th>
                        <th>Časová známka</th>
                        <th>Zobrazit test</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach ((string, string, string, string) studentTest in Model.StudentTestList)
                        {
                            <tr>
                                <td>@studentTest.Item1</td>
                                <td>@studentTest.Item2</td>
                                <td><a class="button" id="browseSolvedTestBtn" title="Zobrazit test" asp-area="" asp-controller="Home" asp-action="BrowseSolvedTest"
                                asp-route-studentIdentifier="@Model.StudentIdentifier"
                                asp-route-deliveryExecutionIdentifier="@studentTest.Item3"
                                asp-route-testNameIdentifier="@studentTest.Item1"
                                asp-route-testNumberIdentifier="@studentTest.Item4">Zobrazit test</a></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </article>
    </section>
</main>