@model dynamic

@using DomainModel
@using Common;

@{
    ViewData["Title"] = "TaoEnhancer";

    <script src="https://accounts.google.com/gsi/client" async defer></script>

    int mainAdminCount = 0;
    int adminCount = 0;
    int teacherCount = 0;
}

<script>
    function optGroupUpdate(login, email, role, mainAdminCount, adminCount, teacherCount) {
        opt = document.createElement('OPTION');
        opt.textContent = "Email: " + email + ", login: " + login;
        opt.value = login;
        if (role == "Teacher") {
            document.getElementById("teacher-optgroup").appendChild(opt);
            document.getElementById("teacher-optgroup").setAttribute('label', 'Učitelé (' + teacherCount + ")");
        }
        else if (role == "Admin") {
            document.getElementById("admin-optgroup").appendChild(opt);
            document.getElementById("admin-optgroup").setAttribute('label', 'Správci (' + adminCount + ")");
        }
        else if (role == "MainAdmin") {
            document.getElementById("main-admin-optgroup").appendChild(opt);
            document.getElementById("main-admin-optgroup").setAttribute('label', 'Hlavní administrátoři (' + mainAdminCount + ")");
        }
    }
</script>

<div class="text-center">
    <h1>TaoEnhancer</h1>
    <p>@ViewBag.Message</p>
</div>

<div id="test-login">
    <h2>Testovací přihlášení</h2>

    <form method="POST">
        <select name="selectedUserLogin" id="selectedUserLogin">
        @{
            <optgroup id="main-admin-optgroup" label="Hlavní administrátoři (0)"></optgroup>
            <optgroup id="admin-optgroup" label="Správci (0)"></optgroup>
            <optgroup id="teacher-optgroup" label="Učitelé (0)"></optgroup>
            if(Model != null)
            {
                foreach(User item in Model.Users)
                {
                    if(item.Role == EnumTypes.Role.Teacher)
                    {
                        teacherCount++;
                    }
                    else if (item.Role == EnumTypes.Role.Admin)
                    {
                        adminCount++;
                    }
                    else if (item.Role == EnumTypes.Role.MainAdmin)
                    {
                        mainAdminCount++;
                    }
                    <script>
                        optGroupUpdate('@item.Login', '@item.Email', '@item.Role', '@mainAdminCount', '@adminCount', '@teacherCount');
                    </script>
                }

                <optgroup label="Studenti (@Model.Students.Count)">
                @{
                    foreach(Student item in Model.Students)
                    {
                        string email = "";
                        if(item.Email != null)
                        {
                            email = item.Email;
                        }
                        else
                        {
                            email = "<nevyplněno>";
                        }
                        <option value="@item.Login">Email: @email, Login: @item.Login</option>
                    }
                }
                </optgroup>
            }
        }
        </select>
        <input type="submit" value="Přihlásit se">
    </form>
</div>

<div id="google-login">
    @{
        string signInURL = Config.GetSignInURL();
        <h2>Google přihlášení</h2>
        <div id="g_id_onload"
                data-client_id="@Config.GoogleClientId"
                data-context="signin"
                data-ux_mode="redirect"
                data-login_uri="@signInURL"
                data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-logo_alignment="left">
        </div>
    }
</div>

@{
    if(Config.TestingMode)
    {
    <script>
            document.getElementById("test-login").style.visibility = 'visible';
    </script>
    }
}

<script>
    document.getElementById("selectedUserLogin").selectedIndex = "0"; 
</script>