@using Common
@model ViewLayer.Models.IndexModel

<header class="header">
    @{
        if(@Model.HeaderMessageData.message.Length > 0)
        {
            <div class="header-message @Model.HeaderMessageData.messageClass">
                <div class="header-center header-message-text title" title="@Model.HeaderMessageData.message">@Model.HeaderMessageData.message</div>
            </div>
        }
    }
    <div class="header-content content-width">
        <div class="header-left">
            <button class="header-button button button-transparent material-icons" id="themeBtn" title="Přepnout do tmavého režimu" onclick="changeTheme(this)">dark_mode</button>
        </div>
        <img class="header-center header-logo" title="@Model.Solution" src="~/logo.ico">
        <!--<h1 class="header-center header-title title" title="@Model.Solution">@Model.Solution</h1>-->
    </div>
</header>
@{
    string mainHeaderMessagePadding = (Model.HeaderMessageData.message.Length > 0 ? "main-header-message-padding" : "");
}
<main class="main max-content-width @mainHeaderMessagePadding">
    <section class="section justify-content-center">
        <article class="article flex">
            <h2 class="article-title title" title="Přihlášení">Přihlášení</h2>
            <div class="article-content">
                <table class="article-table">
                    @{
                        if(@Model.Text != "")
                        {
                            string[] textRowSplit = @Model.Text.Split("\n");
                            if(textRowSplit.Length > 0)
                            {
                                <tr>
                                    <th class="@Model.TextClass" align="center">@textRowSplit[0]</th>
                                </tr>
                                for(int i = 1; i < textRowSplit.Length; i++)
                                {
                                    <tr>
                                        <td class="@Model.TextClass" align="center">@textRowSplit[1]</td>
                                    </tr>
                                }
                            }
                        }
                    }
                    <tr>
                        <td align="center">
                            <div id="g_id_onload"
                                data-client_id="@Settings.GoogleSignInClientId"
                                data-context="signin"
                                data-ux_mode="redirect"
                                data-login_uri="@Model.SignInURL"
                                data-auto_prompt="false">
                            </div>
                            <div id="g_id_signin" class="g_id_signin"
                                data-type="standard"
                                data-shape="rectangular"
                                data-theme="outline"
                                data-text="signin_with"
                                data-size="large"
                                data-logo_alignment="left">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</main>