@using Common
@model ViewLayer.Models.IndexModel

<header class="header">
    <div class="header-content content-width">
        <h1 class="header-center header-title title" title="@Model.Solution">@Model.Solution</h1>
    </div>
</header>
<main class="main content-width">
    <section class="section justify-content-center">
        <article class="article">
            <h2 class="article-title title" title="Přihlášení">Přihlášení</h2>
            <div class="article-content">
                <table class="article-table">
                    @{
                        if(@Model.Text != "")
                        {
                            string[] textRowSplit = @Model.Text.Split("\n");
                            if(textRowSplit.Length > 0)
                            {
                                <tr>
                                    <th class="@Model.TextClass" align="center">@textRowSplit[0]</th>
                                </tr>
                                for(int i = 1; i < textRowSplit.Length; i++)
                                {
                                    <tr>
                                        <td class="@Model.TextClass" align="center">@textRowSplit[1]</td>
                                    </tr>
                                }
                            }
                        }
                    }
                    <tr>
                        <td align="center">
                            <div id="g_id_onload"
                                data-client_id="@Settings.GoogleSignInClientId"
                                data-context="signin"
                                data-ux_mode="redirect"
                                data-login_uri="@Model.SignInURL"
                                data-auto_prompt="false">
                            </div>
                            <div id="g_id_signin" class="g_id_signin"
                                data-type="standard"
                                data-shape="rectangular"
                                data-theme="outline"
                                data-text="signin_with"
                                data-size="large"
                                data-logo_alignment="left">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</main>