@model ViewLayer.Models.ManageSolvedTestModel

@using DomainModel;

@{
    ViewData["Title"] = @Model.Title;
}

<div class="text-center">
    <h1>@Model.Title</h1>

    <div id="test-template">
        <table>
            <tr>
                <th>Jmenný identifikátor testu</th>
                <td>@Model.TestTemplate.TestNameIdentifier</td>
            </tr>
            <tr>
                <th>Číselný identifikátor testu</th>
                <td>@Model.TestTemplate.TestNumberIdentifier</td>
            </tr>
            <tr>
                <th>Nadpis</th>
                <td>@Model.TestTemplate.Title</td>
            </tr>
            <tr>
                <th>Počet otázek</th>
                <td>@Model.TestTemplate.QuestionTemplateList.Count</td>
            </tr>
        </table>
    </div>

    <div id="question-result-list">
        <table>
            <tr>
                <th>Jmenný identifikátor otázky</th>
                <th>Číselný identifikátor otázky</th>
                <th>Nadpis</th>
               <th>Správa otázky</th>
            </tr>
            @{
                int i = 0;
                foreach (QuestionTemplate questionTemplate in @Model.TestTemplate.QuestionTemplateList)
                {
                    <tr>
                        <td>@questionTemplate.QuestionNameIdentifier</td>
                        <td>@questionTemplate.QuestionNumberIdentifier</td>
                        <td>@questionTemplate.Title</td>
                        <td><a class="button" id="questionTemplateBtn_@i" title="Správa otázky" asp-area="" asp-controller="Home" asp-action="ManageSolvedQuestion"
                        asp-route-testNameIdentifier="@Model.TestTemplate.TestNameIdentifier"
                        asp-route-testNumberIdentifier="@Model.TestTemplate.TestNumberIdentifier"
                        asp-route-questionNameIdentifier="@Model.TestTemplate.QuestionTemplateList[i].QuestionNameIdentifier"
                        asp-route-questionNumberIdentifier="@Model.TestTemplate.QuestionTemplateList[i].QuestionNumberIdentifier"
                        asp-route-testResultIdentifier="@Model.TestResult.TestResultIdentifier">Správa otázky</a></td>
                    </tr>
                    i++;
                }
            }
        </table>
    </div>

    <div id="test-result">
        <table>
            <tr>
                <th>Identifikátor pokusu</th>
                <td>@Model.TestResult.TestResultIdentifier</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>@Model.TestResult.TimeStamp</td>
            </tr>
            <tr>
                <th>Identifikátor studenta</th>
                <td>@Model.TestResult.StudentIdentifier</td>
            </tr>
        </table>
    </div>
</div>

<footer>
    <div class="container">
        <a asp-action="ManageSolvedTestList">Zpět</a>
    </div>
</footer>