@model ViewLayer.Models.ManageSolvedTestModel

@{
    if (@Model.QuestionResultPoints.Item2 == 1)
    {
        string errorMessage = "Chyba: otázka nemá pravděpodobně zadaný žádný text";
        WriteMessageToUser(errorMessage);
    }
}

@functions{
    public void WriteMessageToUser(string message)
    {
        <script>
        window.alert('@message');
        </script>
    }
}

<header class="header">
    <div class="header-content content-width">
        <div class="header-left">
            <a class="header-button button button-transparent material-icons" id="backBtn" title="Zpět" asp-area="" asp-controller="Home" asp-action="ManageSolvedTestList">arrow_back</a>
        </div>
        <h1 class="header-center header-title title" title="@Model.Title">@Model.Title</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" id="signOutBtn" title="Odhlásit se" asp-area="" asp-controller="Home" asp-action="Index">logout</a>
        </div>
    </div>
</header>
<main class="main content-width">
    <section class="section">
        <article class="article">
            <h2 class="article-title title" title="Parametry testu">Parametry testu</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jmenný identifikátor testu</th>
                        <td>@Model.TestNameIdentifier</td>
                    </tr>
                    <tr>
                        <th>Číselný identifikátor testu</th>
                        <td>@Model.TestNumberIdentifier</td>
                    </tr>
                    <tr>
                        <th>Nadpis</th>
                        <td>@Model.TestParameters.Item3</td>
                    </tr>
                    <tr>
                        <th>Počet otázek</th>
                        <td>@Model.TestParameters.Item4</td>
                    </tr>
                    <tr>
                        <th>Počet bodů</th>
                        @{
                            if(@Model.TestPoints.Item2)
                            {
                                <td>@Model.TotalStudentsPoints / @Model.TestPoints.Item1</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                    </tr>
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Seznam otázek">Seznam otázek</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Část testu</th>
                        <th>Sekce testu</th>
                        <th>Jmenný identifikátor otázky</th>
                        <th>Číselný identifikátor otázky</th>
                        <th>Počet bodů</th>
                        <th>Detaily otázky</th>
                        <th>Správa otázky</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach ((string, string, string, string) question in Model.QuestionList)
                        {
                            string points = "";
                            if(!(@Model.ItemParameters[i].Item6))
                            {
                                points = "N/A";
                            }
                            else
                            {
                                points = @Model.QuestionResultPoints.Item1[i].Item1 + "/" + @Model.ItemParameters[i].Item5.ToString();
                            }
                            <tr>
                                <td>@question.Item1</td>
                                <td>@question.Item2</td>
                                <td>@question.Item3</td>
                                <td>@question.Item4</td>
                                <td>@points</td>
                                <td><button class="button" title="Detaily otázky" onclick="loadQuestionInfo('@Model.ItemParameters[i].Item1', '@Model.ItemParameters[i].Item2', '@Model.ItemParameters[i].Item3', '@Model.ItemParameters[i].Item4', '@Model.QuestionResultPoints.Item1[i].Item1 / @Model.ItemParameters[i].Item5', '@Model.ItemParameters[i].Item6')">Detaily otázky</button></td>
                                <td><a class="button" id="manageSolvedItemBtn_@i" title="Správa otázky" asp-area="" asp-controller="Home" asp-action="ManageSolvedItem"
                                asp-route-testNameIdentifier="@Model.TestNameIdentifier"
                                asp-route-testNumberIdentifier="@Model.TestNumberIdentifier"
                                asp-route-itemNumberIdentifier="@Model.ItemParameters[i].Item1"
                                asp-route-itemNameIdentifier="@Model.ItemParameters[i].Item2"
                                asp-route-deliveryExecutionIdentifier="@Model.DeliveryExecutionIdentifier"
                                asp-route-studentIdentifier="@Model.StudentIdentifier">Správa otázky</a></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Parametry otázky">Parametry otázky</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Číselný identifikátor otázky</th>
                        <td id="testtemplate-item-itemnumberidentifier"></td>
                    </tr>
                    <tr>
                        <th>Jmenný identifikátor otázky</th>
                        <td id="testtemplate-item-itemnameidentifier"></td>
                    </tr>
                    <tr>
                        <th>Nadpis otázky</th>
                        <td id="testtemplate-item-title"></td>
                    </tr>
                    <tr>
                        <th>Označení otázky</th>
                        <td id="testtemplate-item-label"></td>
                    </tr>
                    <tr>
                        <th>Počet bodů za otázku</th>
                        <td id="testtemplate-item-points"></td>
                    </tr>
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Parametry pokusu">Parametry pokusu</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Identifikátor pokusu</th>
                        <td>@Model.ResultParameters.Item1</td>
                    </tr>
                    <tr>
                        <th>Časová známka</th>
                        <td>@Model.ResultParameters.Item2</td>
                    </tr>
                    <tr>
                        <th>Jméno studenta</th>
                        <td>@Model.ResultParameters.Item3</td>
                    </tr>
                    <tr>
                        <th>Login studenta</th>
                        <td>@Model.ResultParameters.Item4</td>
                    </tr>
                    <tr>
                        <th>Identifikátor studenta</th>
                        <td>@Model.StudentIdentifier</td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</main>