@model IEnumerable<DomainModel.UserRegistration>

@{
    string waitingString = "Čekající";
    string acceptedString = "Schválena";
    string rejectedString = "Zamítnuta";

    ViewData["Title"] = "Správa registrací";
}

<div class="text-center">
    <h1>Správa registrací</h1>
    <p>@ViewBag.Message</p>

    <div id="student-registration-list">
        <h2>Registrace studentů</h2>    
        <table>
            <tr>
                <th>Jméno</th>
                <th>Login</th>
                <th>Email</th>
                <th>Importovaný student s tímto loginem</th>
                <th>Schválení</th>
                <th>Zamítnutí</th>
                <th>Smazání</th>
                <th>Stav</th>
            </tr>
            @{
                foreach(var item in Model)
                {
                    if(item.Role != 1)
                    {
                        continue;
                    }
                    string fullName = item.FullName();
                    string? studentData = null;
                    if(item.Student != null)
                    {
                        studentData = "Identifikátor: " + item.Student.StudentIdentifier + ", jméno: " + item.Student.FullName() + ", login: " + item.Student.Login;
                    }
                    else
                    {
                        studentData = "Student s tímto loginem nebyl nalezen.";
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => fullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Login)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => studentData)</td>
                        @{
                            if(item.Student != null && item.State == 1)
                            {
                                <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('acceptRegistration', null, '@item.Email', '@item.Login', '@item.FirstName', '@item.LastName', '@item.Role')">Schválit registraci</button></td>
                            }
                            else
                            {
                                <td>Registraci nelze schválit.</td>
                            }

                            if(item.State == 1)
                            {
                                <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('refuseRegistration', null, '@item.Email', null, null, null, null)">Zamítnout registraci</button></td>
                            }
                            else
                            {
                                <td>Registraci nelze zamítnout.</td>
                            }

                            <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteRegistration', null, '@item.Email', null, null, null, null)">Smazat registraci</button></td>

                            string state = "";
                            if(item.State == 1)
                            {
                                state = waitingString;
                            }
                            else if(item.State == 2)
                            {
                                state = acceptedString;
                            }
                            else if(item.State == 3)
                            {
                                state = rejectedString;
                            }
                            <td>@Html.DisplayFor(modelItem => state)</td>
                        }
                    </tr>
                }
            }
        </table>
    </div>

    <div id="staff-registration-list">
        <h2>Registrace učitelů a administrátorů</h2>  
        <table>
            <tr>
                <th>Jméno</th>
                <th>Login</th>
                <th>Email</th>
                <th>Role</th>
                <th>Schválení</th>
                <th>Zamítnutí</th>
                <th>Smazání</th>
                <th>Stav</th>
            </tr>
            @{
                foreach(var item in Model)
                {
                    if(item.Role != 2 && item.Role != 3)
                    {
                        continue;
                    }
                    string fullName = item.FullName();
                    string role = "";
                    if(item.Role == 2)
                    {
                        role = "Učitel";
                    }
                    else if(item.Role == 3)
                    {
                        role = "Správce";
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => fullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Login)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => role)</td>
                        @{
                            if(item.State == 1)
                            {
                                <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('acceptRegistration', null, '@item.Email', '@item.Login', '@item.FirstName', '@item.LastName', '@item.Role')">Schválit registraci</button></td>
                            }
                            else
                            {
                                <td>Registraci nelze schválit.</td>
                            }

                            if(item.State == 1)
                            {
                                <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('refuseRegistration', null, '@item.Email', null, null, null, null)">Zamítnout registraci</button></td>
                            }
                            else
                            {
                                <td>Registraci nelze zamítnout.</td>
                            }

                            <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteRegistration', null, '@item.Email', null, null, null, null)">Smazat registraci</button></td>

                            string state = "";
                            if(item.State == 1)
                            {
                                state = waitingString;
                            }
                            else if(item.State == 2)
                            {
                                state = acceptedString;
                            }
                            else if(item.State == 3)
                            {
                                state = rejectedString;
                            }
                            <td>@Html.DisplayFor(modelItem => state)</td>
                        }
                    </tr>
                }
            }
        </table>
    </div>

    <button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteAllRegistrations', null)">Smazat všechny registrace</button>

    <div id="confirm-action">
        <form method="POST">
            <label>Opravdu si přejete provést tuto akci?</label><br>
            <input title="Ano" type="submit" value="Ano"><br>
            <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
            <input type="hidden" id="email" name="email">
            <input type="hidden" id="login" name="login">
            <input type="hidden" id="firstName" name="firstName">
            <input type="hidden" id="lastName" name="lastName">
            <input type="hidden" id="role" name="role">
            <input type="hidden" id="action" name="action">
        </form>
    </div>

    <div id="registration-visibility">
        <p id="visibility-text"></p>
        @(await Html.RenderComponentAsync<ViewLayer.Views.Shared.Components.RegistrationVisibility>(RenderMode.ServerPrerendered))
    </div>
</div>

<div id="backBtn"><a asp-action="MainAdminMenu">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>