@{
    ViewData["Title"] = "Správa vyřešeného testu " + @ViewBag.deliveryExecutionIdentifier;
    string testNameIdentifier = @ViewBag.testNameIdentifier;
    string testNumberIdentifier = @ViewBag.testNumberIdentifier;
    string deliveryExecutionIdentifier = @ViewBag.deliveryExecutionIdentifier;
    string studentIdentifier = @ViewBag.studentIdentifier;
    
    TestController testController = new TestController();
    (_, _, string title, int amountOfItems) = testController.LoadTestParameters(testNameIdentifier, testNumberIdentifier);
    {}
    List<(string, string, string, string)> questionList = testController.LoadQuestions(testNameIdentifier, testNumberIdentifier);
    List<(string, string, string, string, int, bool)> itemParameters = testController.LoadItemInfo(testNameIdentifier, testNumberIdentifier);
    (int testPoints, bool testPointsDetermined) = testController.GetTestPoints(itemParameters);
    (List<(double questionResultPoints, bool questionResultPointsDetermined)> studentsPoints, int errorMessageNumber) = testController.GetQuestionResultPoints(itemParameters, testNameIdentifier, testNumberIdentifier, deliveryExecutionIdentifier);
    if (errorMessageNumber == 1)
    {
        string errorMessage = "Chyba: otázka nemá pravděpodobně zadaný žádný text";
        WriteMessageToUser(errorMessage);
    }

    double totalStudentsPoints = testController.GetTotalStudentsPoints(studentsPoints);
    (string resultIdentifier, string resultTimestamp, string studentName, string studentLogin, _) = testController.LoadResultParameters(testNameIdentifier, deliveryExecutionIdentifier, studentIdentifier);
}

@functions{

    public void WriteMessageToUser(string message)
    {
        <script>
        window.alert('@message');
        </script>
    }

}

<header class="header">
    <div class="header-content content-width">
        <div class="header-left">
            <a class="header-button button button-transparent material-icons" title="Zpět" asp-area="" asp-controller="Home" asp-action="ManageSolvedTestList">arrow_back</a>
        </div>
        <h1 class="header-center header-title title" title="@ViewData["Title"]">@ViewData["Title"]</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons" title="Odhlásit se" onclick="signOut">logout</a>
        </div>
    </div>
</header>
<main class="main content-width">
    <section class="section">
        <article class="article">
            <h2 class="article-title title" title="Parametry testu">Parametry testu</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jmenný identifikátor testu</th>
                        <td>@testNameIdentifier</td>
                    </tr>
                    <tr>
                        <th>Číselný identifikátor testu</th>
                        <td>@testNumberIdentifier</td>
                    </tr>
                    <tr>
                        <th>Nadpis</th>
                        <td>@title</td>
                    </tr>
                    <tr>
                        <th>Počet otázek</th>
                        <td>@amountOfItems</td>
                    </tr>
                    <tr>
                        <th>Počet bodů</th>
                        @{
                            if(@testPointsDetermined)
                            {
                                <td>@totalStudentsPoints / @testPoints</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                    </tr>
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Seznam otázek">Seznam otázek</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Část testu</th>
                        <th>Sekce testu</th>
                        <th>Jmenný identifikátor otázky</th>
                        <th>Číselný identifikátor otázky</th>
                        <th>Počet bodů</th>
                        <th>Detaily otázky</th>
                        <th>Správa otázky</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach ((string, string, string, string) question in questionList)
                        {
                            string points = "";
                            if(!(@itemParameters[i].Item6))
                            {
                                points = "N/A";
                            }
                            else
                            {
                                points = @studentsPoints[i].Item1 + "/" + @itemParameters[i].Item5.ToString();
                            }
                            <tr>
                                <td>@question.Item1</td>
                                <td>@question.Item2</td>
                                <td>@question.Item3</td>
                                <td>@question.Item4</td>
                                <td>@points</td>
                                <td><button class="button" title="Detaily otázky" id="@i" onclick="loadQuestionInfo('@itemParameters[i].Item1', '@itemParameters[i].Item2', '@itemParameters[i].Item3', '@itemParameters[i].Item4', '@studentsPoints[i].Item1 / @itemParameters[i].Item5', '@itemParameters[i].Item6')">Detaily otázky</button></td>
                                <td><a class="button" title="Správa otázky" asp-area="" asp-controller="Home" asp-action="ManageSolvedItem"
                                asp-route-testNameIdentifier="@testNameIdentifier"
                                asp-route-testNumberIdentifier="@testNumberIdentifier"
                                asp-route-itemNumberIdentifier="@itemParameters[i].Item1"
                                asp-route-itemNameIdentifier="@itemParameters[i].Item2"
                                asp-route-deliveryExecutionIdentifier="@deliveryExecutionIdentifier"
                                asp-route-studentIdentifier="@studentIdentifier">Správa otázky</a></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Parametry otázky">Parametry otázky</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Číselný identifikátor otázky</th>
                        <td id="testtemplate-item-itemnumberidentifier"></td>
                    </tr>
                    <tr>
                        <th>Jmenný identifikátor otázky</th>
                        <td id="testtemplate-item-itemnameidentifier"></td>
                    </tr>
                    <tr>
                        <th>Nadpis otázky</th>
                        <td id="testtemplate-item-title"></td>
                    </tr>
                    <tr>
                        <th>Označení otázky</th>
                        <td id="testtemplate-item-label"></td>
                    </tr>
                    <tr>
                        <th>Počet bodů za otázku</th>
                        <td id="testtemplate-item-points"></td>
                    </tr>
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Parametry pokusu">Parametry pokusu</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Identifikátor pokusu</th>
                        <td>@resultIdentifier</td>
                    </tr>
                    <tr>
                        <th>Časová známka</th>
                        <td>@resultTimestamp</td>
                    </tr>
                    <tr>
                        <th>Jméno studenta</th>
                        <td>@studentName</td>
                    </tr>
                    <tr>
                        <th>Login studenta</th>
                        <td>@studentLogin</td>
                    </tr>
                    <tr>
                        <th>Identifikátor studenta</th>
                        <td>@studentIdentifier</td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</main>