@model IEnumerable<DomainModel.Student>

@using DomainModel;

@{
    ViewData["Title"] = "Správa studentů";
}

<div class="text-center">
    <h1>Správa studentů</h1>

    <p>@ViewBag.Message</p>
    <form method="POST">
        <input type="submit" value="Načíst studenty" class="btn btn-primary" />
        <input type="hidden" value="add" name="action">
    </form>

    <form method="POST">
        <input type="submit" value="Smazat studenty" class="btn btn-primary" />
        <input type="hidden" value="delete" name="action">
    </form>

    <div id="student-list">
        <table>
            <tr>
                <th>Identifikátor</th>
                <th>Jméno</th>
                <th>Login</th>
                <th>Email</th>
            </tr>
            @{
                foreach (var item in Model)
                {
                    string fullName = item.FullName();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.StudentIdentifier)</td>
                        <td>@Html.DisplayFor(modelItem => fullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Login)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<footer>
    <div class="container">
        <a asp-action="TeacherMenu">Zpět</a>
    </div>
</footer>