@model ViewLayer.Models.ManageSolvedTestListModel

<header class="header">
    <div class="header-content content-width">
        <div class="header-left">
            <a class="header-button button button-transparent material-icons" id="backBtn" title="Zpět" asp-area="" asp-controller="Home" asp-action="TeacherMenu">arrow_back</a>
        </div>
        <h1 class="header-center header-title title" title="@Model.Title">@Model.Title</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" id="signOutBtn" title="Odhlásit se" asp-area="" asp-controller="Account" asp-action="SignOut">logout</a>
        </div>
    </div>
</header>
<main class="main content-width">
    <section class="section">
        <article class="article">
            <h2 class="article-title title" title="Student">Student</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jmenný identifikátor testu</th>
                        <th>Časová známka</th>
                        <th>Identifikátor pokusu</th>
                        <th>Login studenta</th>
                        <th>Detaily</th>
                        <th>Správa testu</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach ((string, string, string, string, string, string, string, string) solvedTest in @Model.SolvedTests)
                        {
                            <tr>
                                <td>@solvedTest.Item2</td>
                                <td>@solvedTest.Item3</td>
                                <td>@solvedTest.Item4</td>
                                <td>@solvedTest.Item5</td>
                                <td><button class="button" title="Detaily" onclick="loadSolvedTestDetails('@solvedTest.Item6', '@solvedTest.Item5', '@solvedTest.Item7')">Detaily</button></td>
                                <td><a class="button" id="manageSolvedTestBtn_@i" title="Správa testu"
                                    asp-area="" 
                                    asp-controller="Home" 
                                    asp-action="ManageSolvedTest" 
                                    asp-route-testNameIdentifier="@solvedTest.Item2" 
                                    asp-route-testNumberIdentifier="@solvedTest.Item1"
                                    asp-route-deliveryExecutionIdentifier="@solvedTest.Item4"
                                    asp-route-studentIdentifier="@solvedTest.Item8">Správa testu</a></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Student">Student</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jméno studenta</th>
                        <td id="managesolvedtestlist-student-name"></td>
                    </tr>
                    <tr>
                        <th>Login studenta</th>
                        <td id="managesolvedtestlist-student-login"></td>
                    </tr>
                    <tr>
                        <th>Email studenta</th>
                        <td id="managesolvedtestlist-student-email"></td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</main>