@{
    ViewData["Title"] = "Správa vyřešeného testu " + @ViewBag.deliveryExecutionIdentifier;
    string testNameIdentifier = @ViewBag.testNameIdentifier;
    string testNumberIdentifier = @ViewBag.testNumberIdentifier;
    string deliveryExecutionIdentifier = @ViewBag.deliveryExecutionIdentifier;
    string studentIdentifier = @ViewBag.studentIdentifier;
    
    TestController testController = new TestController();
    (_, _, string title, int amountOfItems) = testController.LoadTestParameters(testNameIdentifier, testNumberIdentifier);
    {}
    List<(string, string, string, string)> questionList = testController.LoadQuestions(testNameIdentifier, testNumberIdentifier);
    List<(string, string, string, string, int, bool)> itemParameters = testController.LoadItemInfo(testNameIdentifier, testNumberIdentifier);
    (int testPoints, bool testPointsDetermined) = testController.GetTestPoints(itemParameters);
    (List<(double questionResultPoints, bool questionResultPointsDetermined)> studentsPoints, int errorMessageNumber) = testController.GetQuestionResultPoints(itemParameters, testNameIdentifier, testNumberIdentifier, deliveryExecutionIdentifier);
    if (errorMessageNumber == 1)
    {
        string errorMessage = "Chyba: otázka nemá pravděpodobně zadaný žádný text";
        WriteMessageToUser(errorMessage);
    }

    double totalStudentsPoints = testController.GetTotalStudentsPoints(studentsPoints);
    (string resultIdentifier, string resultTimestamp, string studentName, string studentLogin, _) = testController.LoadResultParameters(testNameIdentifier, deliveryExecutionIdentifier, studentIdentifier);
}

@functions{

    public void WriteMessageToUser(string message)
    {
        <script>
        window.alert('@message');
        </script>
    }

}

<h1>@ViewData["Title"]</h1>

<div class="managesolvedtest-to-managesolvedtestlist"><a asp-area="" asp-controller="Home" asp-action="ManageSolvedTestList">Zpět</a></div>

<div class="managesolvedtest-test-parameters">
    Parametry testu:
    <br>
    Jmenný identifikátor testu: @testNameIdentifier
    <br>
    Číselný identifikátor testu: @testNumberIdentifier
    <br>
    Nadpis: @title
    <br>
    Počet otázek: @amountOfItems
    <br>
    @{
        if(@testPointsDetermined)
        {
            <label>Počet bodů: @totalStudentsPoints / @testPoints</label>
        }
        else
        {
            <label>Počet bodů: N/A</label>
        }
    }
</div>

<div class="testtemplate-questionlist">
    Seznam otázek:
    <table class="table table-bordered">
        <tr>
            <th>Část testu</th>
            <th>Sekce testu</th>
            <th>Jmenný identifikátor otázky</th>
            <th>Číselný identifikátor otázky</th>
            <th>Počet bodů</th>
            <th>Detaily otázky</th>
            <th>Správa otázky</th>
        </tr>
        @{
            int i = 0;
            foreach ((string, string, string, string) question in questionList)
            {
                string points = "";
                if(!(@itemParameters[i].Item6))
                {
                    points = "N/A";
                }
                else
                {
                    points = @studentsPoints[i].Item1 + "/" + @itemParameters[i].Item5.ToString();
                }
                <tr>
                    <td>@question.Item1</td>
                    <td>@question.Item2</td>
                    <td>@question.Item3</td>
                    <td>@question.Item4</td>
                    <td>@points</td>
                    <td><button class="item-details-button" id="@i" onclick="loadQuestionInfo('@itemParameters[i].Item1', '@itemParameters[i].Item2', '@itemParameters[i].Item3', '@itemParameters[i].Item4', '@studentsPoints[i].Item1 / @itemParameters[i].Item5', '@itemParameters[i].Item6')">Detaily otázky</button></td>
                    <td><button class="managesolvedtest-to-managesolveditem"><a asp-area="" asp-controller="Home" asp-action="ManageSolvedItem"
                    asp-route-testNameIdentifier="@testNameIdentifier"
                    asp-route-testNumberIdentifier="@testNumberIdentifier"
                    asp-route-itemNumberIdentifier="@itemParameters[i].Item1"
                    asp-route-itemNameIdentifier="@itemParameters[i].Item2"
                    asp-route-deliveryExecutionIdentifier="@deliveryExecutionIdentifier"
                    asp-route-studentIdentifier="@studentIdentifier">Správa otázky</a></button></td>
                </tr>
                i++;
            }
        }
    </table>
</div>

<div class="testtemplate-item-parameters">
    Parametry otázky:
    <br>
    <div id="testtemplate-item-itemnumberidentifier">Číselný identifikátor otázky:</div>
    <br>
    <div id="testtemplate-item-itemnameidentifier">Jmenný identifikátor otázky:</div>
    <br>
    <div id="testtemplate-item-title">Nadpis otázky:</div>
    <br>
    <div id="testtemplate-item-label">Označení otázky:</div>
    <br>
    <div id="testtemplate-item-points">Počet bodů za otázku:</div>
</div>

<div class="managesolvedtest-result-parameters">
    Parametry testu:
    <br>
    Identifikátor pokusu: @resultIdentifier
    <br>
    Časová známka: @resultTimestamp
    <br>
    Jméno studenta: @studentName
    <br>
    Login studenta: @studentLogin
    <br>
    Identifikátor studenta: @studentIdentifier
</div>