@model IEnumerable<DomainModel.UserRegistration>

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage LocalStorage

@{
    string waitingString = "Čekající";
    string acceptedString = "Schválena";
    string rejectedString = "Zamítnuta";

    ViewData["Title"] = "Správa registrací";
}

<div id="signOutBtn"><a class="button" title="Odhlásit se" asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>

<div class="text-center">
    <h1>Správa registrací</h1>
    <p>@ViewBag.Message</p>

    <div id="student-registration-list">
        <h2>Registrace studentů</h2>    
        <table>
            <tr>
                <th>Jméno</th>
                <th>Login</th>
                <th>Email</th>
                <th>Importovaný student s tímto loginem</th>
                <th>Schválení</th>
                <th>Zamítnutí</th>
                <th>Stav</th>
            </tr>
            @{
                foreach(var item in Model)
                {
                    if(item.Role != 1)
                    {
                        continue;
                    }
                    string fullName = item.FullName();
                    string? studentData = null;
                    if(item.User != null)
                    {
                        studentData = "Identifikátor: " + item.User.UserIdentifier + ", jméno: " + item.User.FullName() + ", login: " + item.User.Login;
                    }
                    else
                    {
                        studentData = "Student s tímto loginem nebyl nalezen.";
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => fullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Login)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => studentData)</td>
                        @{
                            if(item.User != null && item.State == 1)
                            {
                                <form method="POST">
                                    <td><input type="submit" value="Schválit registraci" class="btn btn-primary" /></td>
                                    <input type="hidden" value="@item.Email" name="email">
                                    <input type="hidden" value="@item.Login" name="login">
                                    <input type="hidden" value="@item.FirstName" name="firstName">
                                    <input type="hidden" value="@item.LastName" name="lastName">
                                    <input type="hidden" value="@item.Role" name="role">
                                    <input type="hidden" value="accept" name="action">
                                </form>
                            }
                            else
                            {
                                <td>Registraci nelze schválit.</td>
                            }

                            if(item.State == 1)
                            {
                                <form method="POST">
                                    <td><input type="submit" value="Odmítnout registraci" class="btn btn-primary" /></td>
                                    <input type="hidden" value="@item.Email" name="email">
                                    <input type="hidden" value="refuse" name="action">
                                </form>
                            }
                            else
                            {
                                <td>Registraci nelze zamítnout.</td>
                            }

                            string state = "";
                            if(item.State == 1)
                            {
                                state = waitingString;
                            }
                            else if(item.State == 2)
                            {
                                state = acceptedString;
                            }
                            else if(item.State == 3)
                            {
                                state = rejectedString;
                            }
                            <td>@Html.DisplayFor(modelItem => state)</td>
                        }
                    </tr>
                }
            }
        </table>
    </div>

    <div id="staff-registration-list">
        <h2>Registrace učitelů a administrátorů</h2>  
        <table>
            <tr>
                <th>Jméno</th>
                <th>Login</th>
                <th>Email</th>
                <th>Role</th>
                <th>Schválení</th>
                <th>Zamítnutí</th>
                <th>Stav</th>
            </tr>
            @{
                foreach(var item in Model)
                {
                    if(item.Role != 2 && item.Role != 3)
                    {
                        continue;
                    }
                    string fullName = item.FullName();
                    string role = "";
                    if(item.Role == 2)
                    {
                        role = "Učitel";
                    }
                    else if(item.Role == 3)
                    {
                        role = "Správce";
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => fullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Login)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => role)</td>
                        @{
                            if(item.State == 1 && item.Role == 2)
                            {
                                <form method="POST">
                                    <td><input type="submit" value="Schválit registraci" class="btn btn-primary" /></td>
                                    <input type="hidden" value="@item.Email" name="email">
                                    <input type="hidden" value="@item.Login" name="login">
                                    <input type="hidden" value="@item.FirstName" name="firstName">
                                    <input type="hidden" value="@item.LastName" name="lastName">
                                    <input type="hidden" value="@item.Role" name="role">
                                    <input type="hidden" value="accept" name="action">
                                </form>
                            }
                            else
                            {
                                <td>Registraci nelze schválit.</td>
                            }

                            if(item.State == 1 && item.Role == 2)
                            {
                                <form method="POST">
                                    <td><input type="submit" value="Odmítnout registraci" class="btn btn-primary" /></td>
                                    <input type="hidden" value="@item.Email" name="email">
                                    <input type="hidden" value="refuse" name="action">
                                </form>
                            }
                            else
                            {
                                <td>Registraci nelze zamítnout.</td>
                            }

                            string state = "";
                            if(item.State == 1)
                            {
                                state = waitingString;
                            }
                            else if(item.State == 2)
                            {
                                state = acceptedString;
                            }
                            else if(item.State == 3)
                            {
                                state = rejectedString;
                            }
                            <td>@Html.DisplayFor(modelItem => state)</td>
                        }
                    </tr>
                }
            }
        </table>
    </div>

<div id="registration-visibility">
        <p id="visibility-text"></p>
        @(await Html.RenderComponentAsync<ViewLayer.Views.Shared.Components.RegistrationVisibility>(RenderMode.ServerPrerendered))
    </div>
</div>

<div id="backBtn"><a asp-action="AdminMenu">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>