@{
    ViewData["Title"] = "Správa vyřešeného testu " + @ViewBag.deliveryExecutionIdentifier + ", otázka " + @ViewBag.itemNameIdentifier;
    string testNameIdentifier = @ViewBag.testNameIdentifier;
    string testNumberIdentifier = @ViewBag.testNumberIdentifier;
    string itemNameIdentifier = @ViewBag.itemNameIdentifier;
    string itemNumberIdentifier = @ViewBag.itemNumberIdentifier;
    string deliveryExecutionIdentifier = @ViewBag.deliveryExecutionIdentifier;
    string studentIdentifier = @ViewBag.studentIdentifier;
    string viewBagStudentsPoints = @ViewBag.studentsPoints;
    string errorText = @ViewBag.errorText;

    ItemController itemController = new ItemController();

    (_, _, string title, string label, int amountOfSubitems) = itemController.LoadItemParameters(testNameIdentifier, itemNameIdentifier, itemNumberIdentifier);
    {}
    (List<string> responseIdentifierArray, List<string> responseValueArray, int errorMessageNumber) = itemController.GetResponseIdentifiers(amountOfSubitems, testNameIdentifier, itemNumberIdentifier);

    if(errorMessageNumber == 1)
    {
        string errorMessage = "Chyba: otázka obsahuje více než jeden obrázek.";
        WriteMessageToUser(errorMessage);
    }
    else if (errorMessageNumber == 2)
    {
        string errorMessage = "Chyba: otázka nemá pravděpodobně zadaný žádný text";
        WriteMessageToUser(errorMessage);
    }

    if(amountOfSubitems == 1 || ViewBag.selectedSubitem == null)
    {
        ViewBag.selectedSubitem = responseIdentifierArray[0];
    }

    string responseIdentifier = @ViewBag.selectedSubitem;
    string responseIdentifierTemp = "", imageSource = "", subitemText = "";
    bool subquestionPointsDetermined;
    {}
    List<string> possibleAnswerArray = new List<string>();
    List<string> subquestionArray = new List<string>();
    List<string> correctChoiceArray = new List<string>();
    List<string> correctAnswerArray = new List<string>();
    int questionType = 0, subquestionPoints = 0;
    double wrongChoicePoints = 0;
    (responseIdentifierTemp, questionType, subquestionPoints, subquestionPointsDetermined, wrongChoicePoints, imageSource, subitemText, possibleAnswerArray, subquestionArray, correctChoiceArray, correctAnswerArray) = itemController.LoadSubitemParameters(responseIdentifier, amountOfSubitems, responseIdentifierArray, responseValueArray, testNameIdentifier, itemNumberIdentifier);
    {}
    List<double> studentsSubitemPointsList = itemController.GetStudentsSubitemPointsList(testNameIdentifier, itemNameIdentifier, deliveryExecutionIdentifier);
    double studentsSubitemPoints = itemController.GetStudentsSubitemPoints(studentsSubitemPointsList, responseIdentifier, responseIdentifierArray);
    double correctChoicePoints = itemController.GetCorrectChoicePoints(subquestionPoints, correctChoiceArray, questionType);
    (bool recommendedWrongChoicePoints, double selectedWrongChoicePoints, int questionPoints, bool questionPointsDetermined) = itemController.LoadQuestionPoints(testNameIdentifier, itemNumberIdentifier, responseIdentifier, amountOfSubitems, correctChoicePoints);
    (_, List<string> studentsAnswers, string studentsAnswerCorrectLabel, string studentsAnswerPointsLabel) = itemController.LoadDeliveryExecutionInfo(testNameIdentifier, testNumberIdentifier, itemNumberIdentifier, itemNameIdentifier, responseIdentifier, 
        deliveryExecutionIdentifier, correctAnswerArray, correctChoiceArray, subquestionPoints, recommendedWrongChoicePoints, selectedWrongChoicePoints, true, itemController.GetCurrentSubitemIndex(responseIdentifier, responseIdentifierArray));

    string answerClass = "";
    switch(@studentsAnswerCorrectLabel) {
        case "Správná odpověď":
            answerClass = "correct";
            break;
        case "Částečně správná odpověď":
            answerClass = "partiallyCorrect";
            break;
        case "Nesprávná odpověď":
            answerClass = "incorrect";
            break;
    }
}

@functions{

    public bool IsSelectDisabled(int amountOfSubitems)
    {
        if(amountOfSubitems > 1)
        {
            return false;
        }
        return true;
    }

    public void WriteMessageToUser(string message)
    {
        <script>
        window.alert('@message');
        </script>
    }

}

<header class="header">
    <div class="header-content content-width">
        <div class="header-left">
            <a class="header-button button button-transparent material-icons" title="Zpět" asp-area="" asp-controller="Home" asp-action="ManageSolvedTest"
            asp-route-testNameIdentifier="@testNameIdentifier"
            asp-route-testNumberIdentifier="@testNumberIdentifier"
            asp-route-deliveryExecutionIdentifier="@deliveryExecutionIdentifier"
            asp-route-studentIdentifier="@studentIdentifier">arrow_back</a>
        </div>
        <h1 class="header-center header-title title" title="@ViewData["Title"]">@ViewData["Title"]</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" title="Odhlásit se" asp-area="" asp-controller="Account" asp-action="SignOut">logout</a>
        </div>
    </div>
</header>
<main class="main content-width">
    <section class="section">
        <article class="article">
            <h2 class="article-title title" title="Parametry otázky">Parametry otázky</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jmenný identifikátor otázky</th>
                        <td>@itemNameIdentifier</td>
                    </tr>
                    <tr>
                        <th>Číselný identifikátor otázky</th>
                        <td>@itemNumberIdentifier</td>
                    </tr>
                    <tr>
                        <th>Nadpis</th>
                        <td>@title</td>
                    </tr>
                    <tr>
                        <th>Označení</th>
                        <td>@label</td>
                    </tr>
                    <tr>
                        <th>Počet podotázek</th>
                        <td>@amountOfSubitems</td>
                    </tr>
                    <tr>
                        <th>Počet bodů za otázku</th>
                        @{
                            if(@questionPointsDetermined)
                            {
                                <td>@studentsSubitemPointsList.Sum() / @questionPoints</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                    </tr>
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Výběr podotázky">Výběr podotázky</h2>
            <div class="article-content">
                <form method="POST">
                    <input type="hidden" value="@testNameIdentifier" name="testNameIdentifier">
                    <input type="hidden" value="@itemNameIdentifier" name="itemNameIdentifier">
                    <input type="hidden" value="@itemNumberIdentifier" name="itemNumberIdentifier">
                    <table class="article-table">
                        <tr>
                            <th>
                                @{
                                    string subItemLabel = "";
                                    if(@amountOfSubitems > 1)
                                    {
                                        subItemLabel = "Vyberte podotázku ze seznamu";
                                    }
                                    else
                                    {
                                        subItemLabel = "Tato otázka obsahuje pouze jednu podotázku.";
                                    }
                                    @subItemLabel
                                }
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-wrapper">
                                    <select class="input" name="selectedSubitem" id="selectedSubitem" onchange="loadSubitemInfo(this)" disabled="@IsSelectDisabled(@amountOfSubitems)">
                                        @{
                                            int i = 0;
                                            foreach(string _ in responseIdentifierArray)
                                            {
                                                <option title="@responseValueArray[@i]" value="@responseIdentifierArray[@i]">@responseValueArray[@i]</option>
                                                i++;
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input class="button" title="Vybrat" type="submit" value="Vybrat" disabled="@IsSelectDisabled(@amountOfSubitems)">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Parametry podotázky">Parametry podotázky</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Typ otázky</th>
                        <td>@itemController.GetQuestionTypeText(@questionType)</td>
                    </tr>
                    <tr>
                        <th>Jmenný identifikátor testu</th>
                        <td>@responseIdentifier</td>
                    </tr>
                    <tr>
                        <th>Počet bodů za podotázku</th>
                        @{
                            if(@subquestionPointsDetermined)
                            {
                                <td>@studentsSubitemPoints / @subquestionPoints</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                    </tr>
                    @{
                        if(@imageSource != "")
                        {
                            <tr><td colspan="2"><img class="image" src="@imageSource"></td></tr>
                        }
                    }
                    <tr>
                        <th colspan="2">Otázka</th>
                    </tr>
                    <tr>
                        <td colspan="2">@subitemText</td>
                    </tr>
                    @{
                        if(questionType == 4)
                        {
                            string subquestions = "";
                            int subquestionArrayIterator = 0;
                            foreach (string answer in subquestionArray)
                            {
                                if (subquestionArrayIterator != subquestionArray.Count - 1)
                                {
                                    subquestions += answer + ", ";
                                }
                                else
                                {
                                    subquestions += answer;
                                }
                                subquestionArrayIterator++;
                            }
                            <tr><td colspan="2">(@subquestions)</td></tr>
                        }
                    }
                    <tr>
                        <th colspan="2">Možné odpovědi</th>
                    </tr>
                    @{
                        if(questionType == 5)
                        {
                            <tr><td colspan="2">Jedná se o otevřenou otázku, neobsahuje výběr z možností, odpovědi je nutné ověřit manuálně.</td></tr>
                        }
                        else if (questionType == 8)
                        {
                            <tr><td colspan="2">Otázka neobsahuje výběr z možností.</td></tr>
                        }
                        else
                        {
                            foreach(string possibleAnswer in possibleAnswerArray)
                            {
                                <tr><td colspan="2">@possibleAnswer</td></tr>
                            }
                        }
                    }
                    @{
                        if(correctAnswerArray.Count > 0)
                        {
                            <tr>
                                <th colspan="2">Správná odpověď</th>
                            </tr>
                        }
                        if (questionType == 3 || questionType == 4)
                        {
                            for(int answerNumber = 0; answerNumber < correctAnswerArray.Count; answerNumber+=2)
                            {
                                <tr><td colspan="2">@correctAnswerArray[answerNumber] -> @correctAnswerArray[answerNumber + 1]</td></tr>
                            }
                        }
                        else if(questionType == 9)
                        {
                            int answerNumber = 1;
                            foreach (string answer in correctAnswerArray)
                            {
                                <tr><td colspan="2">[@answerNumber] - @answer</td></tr>
                                answerNumber++;
                            }
                        }
                        else
                        {
                            foreach (string answer in correctAnswerArray)
                            {
                                <tr><td colspan="2">@answer</td></tr>
                            }
                        }
                    }
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Studentova odpověď">Studentova odpověď</h2>
            <div class="article-content">
                <table class="article-table">
                    @{
                        foreach (string answer in studentsAnswers)
                        {
                            <tr><td colspan="2">@answer</td></tr>
                        }
                    }
                    <tr>
                        <th class="@answerClass" colspan="2" align="center">@studentsAnswerCorrectLabel</th></tr>
                    <tr>
                        @{
                            string[] studentsAnswerPointsLabelSplit = @studentsAnswerPointsLabel.Split(": ");
                            <th class="@answerClass">@studentsAnswerPointsLabelSplit[0]</th>
                            <td class="@answerClass">@studentsAnswerPointsLabelSplit[1]</td>
                        }
                    </tr>
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Upravit body">Upravit body</h2>
            <div class="article-content">
                <form method="POST">
                    @{
                        int questionPointsDeterminedToInt = 0;
                        if(@questionPointsDetermined)
                        {
                            questionPointsDeterminedToInt = 1;
                        }
                    }
                    <input type="hidden" value="@testNameIdentifier" name="testNameIdentifier">
                    <input type="hidden" value="@itemNameIdentifier" name="itemNameIdentifier">
                    <input type="hidden" value="@itemNumberIdentifier" name="itemNumberIdentifier">
                    <input type="hidden" value="@amountOfSubitems" name="amountOfSubitems">
                    <input type="hidden" value="@questionPointsDeterminedToInt" name="questionPointsDetermined">
                    <input type="hidden" value="@itemController.GetCurrentSubitemIndex(responseIdentifier, responseIdentifierArray)" name="subitemIndex">
                    <table class="article-table">
                        @{
                            if(viewBagStudentsPoints != null)
                            {
                                if(errorText != null)
                                {
                                    <tr><th class="incorrect" colspan="2" align="center">@errorText</th></tr>
                                }
                                else
                                {
                                    <tr><th class="correct" colspan="2" align="center">Počet získaných bodů byl u studenta úspěšně upraven.</th></tr>
                                }
                            }
                        }
                        <tr>
                            <th>Počet bodů získaných studentem</th>
                            <td>
                                <div class="input-wrapper">
                                    <input class="input" type="number" id="studentsPointsLabel" name="studentsPoints" value="@studentsSubitemPoints.ToString().Replace(",",".")">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input class="button" title="Uložit" type="submit" value="Uložit">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </article>
    </section>
</main>