@model IEnumerable<DomainModel.TestResult>

@{
    ViewData["Title"] = "Správa vyřešených testů";
}

<div class="text-center">
    <h1>Správa vyřešených testů</h1>

    <div id="test-result-list">
        <table>
            <tr>
                <th>Jmenný identifikátor testu</th>
                <th>Datum</th>
                <th>Identifikátor pokusu</th>
                <th>Jméno studenta</th>
                <th>Login studenta</th>
                <th>Správa</th>
            </tr>
            @{
                int i = 0;
                foreach (var item in Model)
                {
                    string fullName = item.Student.FullName();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TestNameIdentifier)</td>
                        <td>@Html.DisplayFor(modelItem => item.TimeStamp)</td>
                        <td>@Html.DisplayFor(modelItem => item.TestResultIdentifier)</td>
                        <td>@Html.DisplayFor(modelItem => fullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Student.UserIdentifier)</td>
                        <td><a class="button" id="manageSolvedTestBtn_@i" title="Správa testu"
                            asp-area="" 
                            asp-controller="Home" 
                            asp-action="ManageSolvedTest" 
                            asp-route-testResultIdentifier="@item.TestResultIdentifier">Správa testu</a></td>
                    </tr>
                }
            }
        </table>
    </div>

    <p>@ViewBag.Message</p>

    <form method="POST">
        <input type="submit" value="Načíst testy" class="btn btn-primary" />
        <input type="hidden" value="add" name="action">
    </form>

    <form method="POST">
        <input type="submit" value="Smazat testy" class="btn btn-primary" />
        <input type="hidden" value="delete" name="action">
    </form>
</div>

<div id="backBtn"><a asp-action="@ViewBag.Return">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>