@model ViewLayer.Models.ManageSolvedTestListModel

<header class="header">
    @{
        if(@Model.HeaderMessageData.message.Length > 0)
        {
            <div class="header-message @Model.HeaderMessageData.messageClass">
                <div class="header-center header-message-text title" title="@Model.HeaderMessageData.message">@Model.HeaderMessageData.message</div>
            </div>
        }
    }
    <div class="header-content content-width">
        <div class="header-left">
            <a class="header-button button button-transparent material-icons" id="backBtn" title="Zpět" asp-area="" asp-controller="Home" asp-action="TeacherMenu">arrow_back</a>
            <button class="header-button button button-transparent material-icons" id="themeBtn" title="Přepnout do světlého režimu" onclick="changeTheme(this)">light_mode</button>
        </div>
        <h1 class="header-center header-title title" title="@Model.Title">@Model.Title</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" id="signOutBtn" title="Odhlásit se" asp-area="" asp-controller="Account" asp-action="SignOut">logout</a>
        </div>
    </div>
</header>
@{
    string mainHeaderMessagePadding = (Model.HeaderMessageData.message.Length > 0 ? "main-header-message-padding" : "");
}
<main class="main max-content-width @mainHeaderMessagePadding">
    <section class="section content-width">
        <article class="article flex">
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jmenný identifikátor testu</th>
                        <th>Datum</th>
                        <th>Identifikátor pokusu</th>
                        <th>Jméno studenta</th>
                        <th>Login studenta</th>
                        <th>Správa testu</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach ((string, string, string, string, string, string, string, string) solvedTest in @Model.SolvedTests)
                        {
                            <tr>
                                <td>@solvedTest.Item2</td>
                                <td>@DateTime.Parse(solvedTest.Item3, null, System.Globalization.DateTimeStyles.RoundtripKind)</td>
                                <td>@solvedTest.Item4</td>
                                <td>@solvedTest.Item6</td>
                                <td>@solvedTest.Item5</td>
                                <td><a class="button" id="manageSolvedTestBtn_@i" title="Správa testu"
                                    asp-area="" 
                                    asp-controller="Home" 
                                    asp-action="ManageSolvedTest" 
                                    asp-route-testNameIdentifier="@solvedTest.Item2" 
                                    asp-route-testNumberIdentifier="@solvedTest.Item1"
                                    asp-route-deliveryExecutionIdentifier="@solvedTest.Item4"
                                    asp-route-studentIdentifier="@solvedTest.Item8">Správa testu</a></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </article>
    </section>
</main>