@using DomainModel
@using Common
@model dynamic

@{
    ViewData["Title"] = "Správa umělé inteligence";

    bool userRequestedDeviceName = false;
    if (ViewBag.DeviceName != null)
    {
        userRequestedDeviceName = true;
    }
}

<div class="text-center">
    <h1>Správa neuronových sítí</h1>

    @{
        if (userRequestedDeviceName)
        {
            <p>Používané zařízení (CPU/GPU): @ViewBag.DeviceName</p>
        }
        else
        {
            <form method="POST">
                <p>Používané zařízení (CPU/GPU): <button type="submit" value="getDeviceName" name="action">Zobrazit</button></p>
            </form>
        }
    }

    <p>@ViewBag.Message</p>

    <div id="neural-network-templates">
        <h2>Šablony podotázek</h2>
        <p>Počet existujících testovacích dat (šablony podotázek): @ViewBag.TestingDataSubquestionTemplates</p>
        <br />
        <form method="POST">
            Přidat testovací data - náhodná data<br />
            Počet testovacích dat (šablony podotázek): <input type="number" step="1" required name="amountOfSubquestionTemplates" /> <input type="submit" value="Přidat" class="btn btn-primary" />
            <input type="hidden" value="addSubquestionTemplateRandomData" name="action">
        </form>
        <form method="POST">
            Přidat testovací data - data s kolerací<br />
            Počet testovacích dat (šablony podotázek): <input type="number" step="1" required name="amountOfSubquestionTemplates" /> <input type="submit" value="Přidat" class="btn btn-primary" />
            <input type="hidden" value="addSubquestionTemplateCorrelationalData" name="action">
        </form>

        <form method="POST">
            <input type="submit" value="Smazat testovací data" class="btn btn-primary" />
            <input type="hidden" value="deleteSubquestionTemplateTestingData" name="action">
        </form>

        <table>
            <tr>
                <th>Login</th>
                <th>Přesnost - neuronová síť</th>
                <th>Přesnost - strojové učení</th>
                <th>Použitý model</th>
            </tr>
            @{
                foreach (SubquestionTemplateStatistics item in Model.SubquestionTemplateStatistics)
                {
                    string usedModel = string.Empty;
                    if(item.UsedModel == EnumTypes.Model.NeuralNetwork)
                    {
                        usedModel = "Neuronová síť";
                    }
                    else if(item.UsedModel == EnumTypes.Model.MachineLearning)
                    {
                        usedModel = "Strojové učení";
                    }
                    if (item.UsedModel == EnumTypes.Model.NotDetermined)
                    {
                        usedModel = "Neurčeno";
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.UserLogin)</td>
                        <td>@Html.DisplayFor(modelItem => item.NeuralNetworkAccuracy)</td>
                        <td>@Html.DisplayFor(modelItem => item.MachineLearningAccuracy)</td>
                        <td>@usedModel</td>
                    </tr>
                }
            }
        </table>
    </div>

    <div id="neural-network-results">
        <h2>Výsledky podotázek</h2>
        <p>Počet existujících testovacích dat (výsledky podotázek): @ViewBag.TestingDataSubquestionResults</p>
        <br />
        <form method="POST">
            Přidat testovací data - náhodná data<br />
            Počet testovacích dat (výsledky podotázek): <input type="number" step="1" required name="amountOfSubquestionResults" /> <input type="submit" value="Přidat" class="btn btn-primary" />
            <input type="hidden" value="addSubquestionResultRandomData" name="action">
        </form>
        <form method="POST">
            Přidat testovací data - data s kolerací<br />
            Počet testovacích dat (výsledky podotázek): <input type="number" step="1" required name="amountOfSubquestionResults" /> <input type="submit" value="Přidat" class="btn btn-primary" />
            <input type="hidden" value="addSubquestionResultCorrelationalData" name="action">
        </form>

        <form method="POST">
            <input type="submit" value="Smazat testovací data" class="btn btn-primary" />
            <input type="hidden" value="deleteSubquestionResultTestingData" name="action">
        </form>

        <table>
            <tr>
                <th>Login</th>
                <th>Přesnost - neuronová síť</th>
                <th>Přesnost - strojové učení</th>
                <th>Použitý model</th>
            </tr>
            @{
                foreach (SubquestionResultStatistics item in Model.SubquestionResultStatistics)
                {
                    string usedModel = string.Empty;
                    if (item.UsedModel == EnumTypes.Model.NeuralNetwork)
                    {
                        usedModel = "Neuronová síť";
                    }
                    else if (item.UsedModel == EnumTypes.Model.MachineLearning)
                    {
                        usedModel = "Strojové učení";
                    }
                    if (item.UsedModel == EnumTypes.Model.NotDetermined)
                    {
                        usedModel = "Neurčeno";
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.UserLogin)</td>
                        <td>@Html.DisplayFor(modelItem => item.NeuralNetworkAccuracy)</td>
                        <td>@Html.DisplayFor(modelItem => item.MachineLearningAccuracy)</td>
                        <td>@usedModel</td>
                    </tr>
                }
            }
        </table>
    </div>

</div>

<div id="backBtn">
    <a asp-action="MainAdminMenu">Zpět</a>
</div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>
