@model IEnumerable<DomainModel.SubquestionTemplate>

@using DomainModel;
@using Common;

@{
    SubquestionTemplate subquestionTemplate = new SubquestionTemplate();
    if(ViewBag.subquestionIdentifier == null)
    {
        subquestionTemplate = @Model.First();
    }
    else
    {
        foreach (var item in Model)
        {
            if(item.SubquestionIdentifier == ViewBag.subquestionIdentifier)
            {
                subquestionTemplate = item;
                break;
            }
        }
    }

    if (subquestionTemplate == null)
    {
        throw Exceptions.SubquestionTemplateNotFoundException;
    }

    ViewData["Title"] = "Správa zadání otázky " + subquestionTemplate.QuestionTemplate.QuestionNameIdentifier;

    bool singleSubquestion = true;
    if(Model.Count() > 1)
    {
        singleSubquestion = false;
    }

    string? subquestionPoints = "";
    if(subquestionTemplate.SubquestionPoints == null)
    {
        subquestionPoints = "N/A";
    }
    else
    {
        subquestionPoints = subquestionTemplate.SubquestionPoints.ToString();
    }

    double? questionPoints = 0;
    bool questionPointsDetermined = true;
    string? questionPointsString = "";
    foreach(var item in Model)
    {
        if(item.SubquestionPoints == null)
        {
            questionPointsDetermined = false;
            break;
        }
        questionPoints += item.SubquestionPoints;
    }
    if(!questionPointsDetermined)
    {
        questionPointsString = "N/A";
    }
    else
    {
        questionPointsString = questionPoints.ToString();
    }
}

<div class="text-center">
    <h1>Správa zadání otázky @subquestionTemplate.QuestionTemplate.QuestionNameIdentifier</h1>

    <div id="question-template">
        <h2>Parametry otázky</h2>
        <table>
            <tr>
                <th>Jmenný identifikátor otázky</th>
                <td>@Model.First().QuestionTemplate.QuestionNameIdentifier</td>
            </tr>
            <tr>
                <th>Číselný identifikátor otázky</th>
                <td>@Model.First().QuestionTemplate.QuestionNumberIdentifier</td>
            </tr>
            <tr>
                <th>Nadpis</th>
                <td>@Model.First().QuestionTemplate.Title</td>
            </tr>
            <tr>
                <th>Počet podotázek</th>
                <td>@Model.Count()</td>
            </tr>
            <tr>
                <th>Počet bodů</th>
                <td>@questionPointsString</td>
            </tr>
        </table>
    </div>

    <div id="subquestion-template">
        <h2>Parametry podotázky</h2>
        <table>
            <tr>
                <th>Jmenný identifikátor podotázky</th>
                <td>@subquestionTemplate.SubquestionIdentifier</td>
            </tr>
            <tr>
                <th>Typ podotázky</th>
                <td>@ViewBag.SubquestionTypeTextArray[@subquestionTemplate.SubquestionType]</td>
            </tr>
            <tr>
                <th>Počet bodů za podotázku</th>
                <td>@subquestionPoints</td>
            </tr>
            @{
                string imageSource = Config.GetURL() + subquestionTemplate.ImageSource;
                if(subquestionTemplate.ImageSource != "")
                {
                    <tr><td colspan="2"><img class="image" src="@imageSource"></td></tr>
                }
            }
            <tr>
                <th>Text podotázky</th>
                <td>@subquestionTemplate.SubquestionText</td>
            </tr>
            <tr>
                <th colspan="2">Možné odpovědi</th>
            </tr>
            @{
                if(@subquestionTemplate.SubquestionType == 5)
                {
                    <tr><td colspan="2">Jedná se o otevřenou otázku, neobsahuje výběr z možností, odpovědi je nutné ověřit manuálně.</td></tr>
                }
                else if (@subquestionTemplate.SubquestionType == 8)
                {
                    <tr><td colspan="2">Otázka neobsahuje výběr z možností.</td></tr>
                }
                else
                {
                    foreach(string possibleAnswer in @subquestionTemplate.PossibleAnswerList)
                    {
                        <tr><td colspan="2" class="possible-answer-item">@possibleAnswer</td></tr>
                    }
                }
            }
            @{
                if(@subquestionTemplate.CorrectAnswerList.Length > 0)
                {
                    <tr>
                        <th colspan="2">Správné odpovědi</th>
                    </tr>
            
                    foreach(string correctAnswer in @subquestionTemplate.CorrectAnswerList)
                    {
                        <tr><td colspan="2" class="correct-answer-item">@correctAnswer</td></tr>
                    }
                }
            }
        </table>
    </div>

    <div id="subquestion-selection">
        <h2>Výběr podotázky</h2>
        <form method="POST">
            <input type="hidden" value="@Model.First().QuestionTemplate.QuestionNumberIdentifier" name="questionNumberIdentifier">

            @{
                string subquestionLabel = "";
                if(Model.Count() > 1)
                {
                    subquestionLabel = "Vyberte podotázku ze seznamu";
                }
                else
                {
                    subquestionLabel = "Tato otázka obsahuje pouze jednu podotázku.";
                }
                <p>@subquestionLabel</p>
            }

            <select class="input" name="subquestionIdentifier" id="subquestionIdentifier" disabled="@singleSubquestion">
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        if(item.SubquestionText.Length > 60)
                        {
                            <option id="subquestion-item-@(i+1)" value="@item.SubquestionIdentifier">@(item.SubquestionText.Substring(0,60) + " ...")</option>
                        }
                        else
                        {
                            <option id="subquestion-item-@(i+1)" value="@item.SubquestionIdentifier">@item.SubquestionText</option>
                        }
                        i++;
                    }
                }
            }
            </select>

            <input class="button" id="selectSubquestionButton" title="Vybrat" type="submit" value="Vybrat" disabled="@singleSubquestion">

        </form>
    </div>

    <div id="subquestion-template-points">
        <h2>Upravit body za podotázku</h2>
        <p>@ViewBag.Message</p>
        <form method="POST">
            <input type="hidden" value="@Model.First().QuestionTemplate.QuestionNumberIdentifier" name="questionNumberIdentifier">
            <input type="hidden" value="@subquestionTemplate.SubquestionIdentifier" name="subquestionIdentifier">

            <p>Počet bodů za otázku: <input class="input" required id="subquestion-points" name="subquestionPoints" value="@subquestionTemplate.SubquestionPoints.ToString()"></p>
            <input class="button" id="setSubquestionPointsBtn" title="Uložit" type="submit" value="Uložit">
        </form>
    </div>
</div>

<div id="backBtn"><a asp-action="TestTemplate"
        asp-route-testNameIdentifier="@Model.First().QuestionTemplate.TestTemplate.TestNameIdentifier" 
        asp-route-testNumberIdentifier="@Model.First().QuestionTemplate.TestTemplate.TestNumberIdentifier">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>