@model IEnumerable<DomainModel.SubquestionTemplate>

@using DomainModel;
@using Common;
@using System.Globalization;

@{
    SubquestionTemplate subquestionTemplate = new SubquestionTemplate();
    if(ViewBag.subquestionIdentifier == null)
    {
        subquestionTemplate = @Model.First();
    }
    else
    {
        foreach (var item in Model)
        {
            if(item.SubquestionIdentifier == ViewBag.subquestionIdentifier)
            {
                subquestionTemplate = item;
                break;
            }
        }
    }

    if (subquestionTemplate == null)
    {
        throw Exceptions.SubquestionTemplateNotFoundException;
    }

    //it's possible that no "real" subquestions exist for this question yet, only one dummy subquestion is added
    bool subquestionsAdded = true;
    if(subquestionTemplate.SubquestionIdentifier == "placeholder")
    {
        subquestionsAdded = false;
    }

    ViewData["Title"] = "Správa zadání otázky " + subquestionTemplate.QuestionTemplate.QuestionNameIdentifier;

    bool singleSubquestion = true;
    if(Model.Count() > 1)
    {
        singleSubquestion = false;
    }

    string? subquestionPoints = "";
    if(subquestionsAdded)//todo: sjednotit (vsechny promenne na zacatek)
    {
        if(subquestionTemplate.SubquestionPoints == null)
        {
            subquestionPoints = "N/A";
        }
        else
        {
            subquestionPoints = subquestionTemplate.SubquestionPoints.ToString();
        }
    }

    double? questionPoints = 0;
    bool questionPointsDetermined = true;
    string? questionPointsString = "";
    if(subquestionsAdded)
    {
        foreach(var item in Model)
        {
            if(item.SubquestionPoints == null)
            {
                questionPointsDetermined = false;
                break;
            }
            questionPoints += item.SubquestionPoints;
        }
        if(!questionPointsDetermined)
        {
            questionPointsString = "N/A";
        }
        else
        {
            double? questionPointsRound = CommonFunctions.RoundDecimal(questionPoints);
            questionPointsString = questionPointsRound.ToString();
        }
    }

    bool userRequestedPointsSuggestion = false;
    bool defaultWrongChoicePointsChecked = false;
    if(subquestionsAdded)
    {
        if (ViewBag.SuggestedSubquestionPoints != null)
        {
            userRequestedPointsSuggestion = true;
        }

    
        if (subquestionTemplate.DefaultWrongChoicePoints == subquestionTemplate.WrongChoicePoints || subquestionTemplate.DefaultWrongChoicePoints == null)
        {
            defaultWrongChoicePointsChecked = true;
        }
    }
}

<div class="text-center">
    <h1>Správa zadání otázky @subquestionTemplate.QuestionTemplate.QuestionNameIdentifier</h1>

    <div id="question-template">
        <h2>Parametry otázky</h2>
        <table>
            <tr>
                <th>Jmenný identifikátor otázky</th>
                <td>@Model.First().QuestionTemplate.QuestionNameIdentifier</td>
            </tr>
            <tr>
                <th>Číselný identifikátor otázky</th>
                <td>@Model.First().QuestionTemplate.QuestionNumberIdentifier</td>
            </tr>
            <tr>
                <th>Nadpis</th>
                <td>@Model.First().QuestionTemplate.Title</td>
            </tr>
            <tr>
                <th>Počet podotázek</th>
                @{
                    if(subquestionsAdded)
                    {
                        <td>@Model.Count()</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                }
            </tr>
            <tr>
                <th>Počet bodů</th>
                <td>@questionPointsString</td>
            </tr>
        </table>
    </div>

    <div id="subquestion-template">
        <h2>Parametry podotázky</h2>
        @{
            if (subquestionsAdded)
            {
                <table>
                    <tr>
                        <th>Jmenný identifikátor podotázky</th>
                        <td>@subquestionTemplate.SubquestionIdentifier</td>
                    </tr>
                    <tr>
                        <th>Typ podotázky</th>
                        <td>@ViewBag.SubquestionTypeTextArray[@Convert.ToInt32(subquestionTemplate.SubquestionType)]</td>
                    </tr>
                    <tr>
                        <th>Počet bodů za podotázku</th>
                        <td>@subquestionPoints</td>
                    </tr>
                    @{
                        string imageSource = Config.GetURL() + subquestionTemplate.ImageSource;
                        if (subquestionTemplate.ImageSource != "")
                        {
                            <tr><td colspan="2"><img class="image" src="@imageSource"></td></tr>
                        }
                    }
                    <tr>
                        <th>Text podotázky</th>
                        <td>@subquestionTemplate.SubquestionText</td>
                    </tr>
                    <tr>
                        <th colspan="2">Možné odpovědi</th>
                    </tr>
                    @{
                        if (@subquestionTemplate.SubquestionType == EnumTypes.SubquestionType.FreeAnswer)
                        {
                            <tr><td colspan="2">Jedná se o otevřenou otázku, neobsahuje výběr z možností, odpovědi je nutné ověřit manuálně.</td></tr>
                        }
                        else if (@subquestionTemplate.SubquestionType == EnumTypes.SubquestionType.FreeAnswerWithDeterminedCorrectAnswer)
                        {
                            <tr><td colspan="2">Otázka neobsahuje výběr z možností.</td></tr>
                        }
                        else
                        {
                            foreach (string possibleAnswer in @subquestionTemplate.PossibleAnswerList)
                            {
                                <tr><td colspan="2" class="possible-answer-item">@possibleAnswer</td></tr>
                            }
                        }
                    }
                    @{
                        if (@subquestionTemplate.CorrectAnswerList.Length > 0)
                        {
                            <tr>
                                <th colspan="2">Správné odpovědi</th>
                            </tr>

                            foreach (string correctAnswer in @subquestionTemplate.CorrectAnswerList)
                            {
                                <tr><td colspan="2" class="correct-answer-item">@correctAnswer</td></tr>
                            }
                        }
                    }
                </table>
            }
        }
    </div>

    <br><a asp-controller="Home" asp-action="AddSubquestionTemplate" asp-route-questionNumberIdentifier="@Model.First().QuestionTemplate.QuestionNumberIdentifier">Přidat podotázku</a>

    <div id="subquestion-selection">
        <h2>Výběr podotázky</h2>
        <form method="POST">
            <input type="hidden" value="@Model.First().QuestionTemplate.QuestionNumberIdentifier" name="questionNumberIdentifier">

            @{
                string subquestionLabel = "";
                if(Model.Count() > 1)
                {
                    subquestionLabel = "Vyberte podotázku ze seznamu";
                }
                else
                {
                    subquestionLabel = "Tato otázka obsahuje pouze jednu podotázku.";
                }
                <p>@subquestionLabel</p>
            }

            <select class="input" name="subquestionIdentifier" id="subquestionIdentifier" disabled="@singleSubquestion">
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        if(item.SubquestionIdentifier == "placeholder")
                        {
                            continue;
                        }
                        if(item.SubquestionText.Length > 60)
                        {
                            <option id="subquestion-item-@(i+1)" value="@item.SubquestionIdentifier">@(item.SubquestionText.Substring(0,60) + " ...")</option>
                        }
                        else
                        {
                            <option id="subquestion-item-@(i+1)" value="@item.SubquestionIdentifier">@item.SubquestionText</option>
                        }
                        i++;
                    }
                }
            }<!--TODO ? -->
            </select>

            <input class="button" id="selectSubquestionButton" title="Vybrat" type="submit" value="Vybrat" disabled="@singleSubquestion">

        </form>
    </div>

    <div id="subquestion-template-points">
        <h2>Upravit body za podotázku</h2>
        <p>@ViewBag.Message</p>
        @{
            if(subquestionsAdded)
            {
                <form method="POST">
                    <input type="hidden" value="@Model.First().QuestionTemplate.QuestionNumberIdentifier" name="questionNumberIdentifier">
                    <input type="hidden" value="@subquestionTemplate.SubquestionIdentifier" name="subquestionIdentifier">
                    <p>Počet bodů za otázku: <input class="input" type="number" step="any" min="0" required id="subquestion-points" name="subquestionPoints" value="@subquestionTemplate.SubquestionPoints.ToString().Replace(",", ".")"></p>
                    @{
                        if (userRequestedPointsSuggestion)
                        {
                            <p>Doporučený počet bodů za otázku: @ViewBag.SuggestedSubquestionPoints</p>
                        }
                        else
                        {
                            <p>Doporučený počet bodů za otázku: <button type="submit" value="getPointsSuggestion" name="action">Zobrazit</button></p>
                        }
                    }
                    <p>Počet bodů za správnou volbu: <input class="input" readonly value="@subquestionTemplate.CorrectChoicePoints.ToString()"></p>
                    <p>Počet bodů za špatnou volbu:</p>
                    <input class="radio input" title="Automatický" type="radio" id="wrongChoicePoints_automatic_radio" value="wrongChoicePoints_automatic_radio" name="wrongChoicePointsRadio" checked="@defaultWrongChoicePointsChecked" onchange="setWrongChoicePointsInputs(this)"><label class="radio-label" title="Automatický" for="wrongChoicePoints_automatic_radio">Automatický</label>
                    <input class="input" value="@subquestionTemplate.DefaultWrongChoicePoints.ToString()" id="wrongChoicePoints_automatic" readonly> <br />
                    <input class="radio input" title="Vlastní" type="radio" id="wrongChoicePoints_manual_radio" value="wrongChoicePoints_manual_radio" name="wrongChoicePointsRadio" checked="@(!defaultWrongChoicePointsChecked)" onchange="setWrongChoicePointsInputs(this)"><label class="radio-label" title="Vlastní" for="wrongChoicePoints_manual_radio">Vlastní</label>

                    @{
                        if (defaultWrongChoicePointsChecked)
                        {
                            <input class="input" type="number" step="any" min="-@subquestionTemplate.CorrectChoicePoints.ToString()" max="0" id="wrongChoicePoints_manual" name="wrongChoicePoints" value="@subquestionTemplate.WrongChoicePoints.ToString().Replace(",", ".")" readonly>
                        }
                        else
                        {
                            <input class="input" type="number" step="any" min="-@subquestionTemplate.CorrectChoicePoints.ToString()" max="0" id="wrongChoicePoints_manual" name="wrongChoicePoints" value="@subquestionTemplate.WrongChoicePoints.ToString().Replace(",", ".")">
                        }
                    }
                    <br />
                    <button type="submit" value="savePoints" name="action">Uložit</button>
                </form>
            }
        }
    </div>
</div>

<div id="backBtn"><a asp-action="TestTemplate"
        asp-route-testNameIdentifier="@Model.First().QuestionTemplate.TestTemplate.TestNameIdentifier" 
        asp-route-testNumberIdentifier="@Model.First().QuestionTemplate.TestTemplate.TestNumberIdentifier">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>