@model DomainModel.SubquestionResult

@using DomainModel

@{
    SubquestionResult subquestionResult = Model;
    SubquestionTemplate subquestionTemplate = subquestionResult.SubquestionTemplate;
    int subquestionType;
    if (subquestionTemplate == null)
    {
        subquestionType = 0;
    }
    else
    {
        subquestionType = (int)subquestionTemplate.SubquestionType;
    }
    int subquestionsCount = ViewBag.SubquestionsCount;
    int subquestionResultIdIndex = ViewBag.SubquestionResultIdIndex;

    string possibleAnswerListString = "";
    string correctAnswerListString = "";
    string studentAnswerListString = "";
    string subquestionText = "";
    if (subquestionTemplate != null)
    {
        subquestionText = subquestionTemplate.SubquestionText;
        if (subquestionTemplate.PossibleAnswerList != null)
        {
            for (int i = 0; i < subquestionTemplate.PossibleAnswerList.Count(); i++)
            {
                possibleAnswerListString += subquestionTemplate.PossibleAnswerList[i] + ";";
            }
        }

        if (subquestionTemplate.CorrectAnswerList != null)
        {
            for (int i = 0; i < subquestionTemplate.CorrectAnswerList.Count(); i++)
            {
                correctAnswerListString += subquestionTemplate.CorrectAnswerList[i] + ";";
            }
        }
    }

    if(subquestionResult.StudentsAnswerList != null)
    {
        for (int i = 0; i < subquestionResult.StudentsAnswerList.Length; i++)
        {
            studentAnswerListString += subquestionResult.StudentsAnswerList[i] + ";";
        }
    }

    int[] answerCompleteness = ViewBag.AnswerCmpleteness;
    string answerCompletenessString = "";
    for(int i = 0; i < answerCompleteness.Length; i++)
    {
        answerCompletenessString += answerCompleteness[i] + ";";
    }

    ViewData["Title"] = "Řešení testové otázky";
}

<div class="text-center">
    <h1>Řešení testové otázky</h1>

    <div id="solve-question-navigation">
        <h2>@(subquestionResultIdIndex + 1) / @subquestionsCount</h2>
        <p>@ViewBag.Message</p>
        <button class="navigation-element" value="1" onclick="navigateToSubquestion(this.value)">1</button>
    </div>

    <div id="subquestion-details">
        <h2>Otázka č. @(subquestionResultIdIndex + 1)</h2>
        @{
            if (subquestionTemplate == null)
            {
                <p>Chyba: otázku nelze zobrazit.</p>
            }
            else
            {
                <form method="POST" onsubmit="onSolveQuestionFormSubmission(@subquestionType)">
                    <input type="hidden" name="subquestionResultIndex" value="@subquestionResultIdIndex">
                    <button type="submit" id="previousSubquestion" value="@(subquestionResultIdIndex - 1)" name="newSubquestionResultIndex">Předchozí</button>
                    <button type="submit" id="nextSubquestion" value="@(subquestionResultIdIndex + 1)" name="newSubquestionResultIndex">Následující</button>
                    <br>
                    <input type="button" onclick="resetStudentAnswers(@subquestionType)" value="Vymazat odpovědi">
                    <br>
                    @{
                        if (subquestionTemplate.ImageSource != null)
                        {
                            string imageSource = "Uploads/" + subquestionTemplate.ImageSource;
                            <tr><td colspan="2"><img class="image" src="@imageSource"></td></tr>
                        }
                    }
                    <div id="SubquestionText">@subquestionTemplate.SubquestionText</div>
                    <br>
                    @{
                        switch(subquestionType)
                        {
                            case 1:
                                <table id="possible-answers-table">
                                    <tr>
                                        <th>Možné odpovědi</th>
                                    </tr>
                                    <tr id="possible-answer-1">
                                        <td><div class="possible-answer-text"></div></td>
                                    </tr>
                                </table>
                                <table id="student-answers-table">
                                    <tr>
                                        <th>Odpověď</th>
                                    </tr>
                                    <tr id="student-answer-1">
                                        <td><select class="student-answer-select" name="StudentsAnswerList[]"
                                        onchange="updateStudentsAnswersSelect(this.parentNode.parentNode.id, '@subquestionType')"></select>
                                        </td>
                                    </tr>
                                </table>
                                break;
                            case 2:
                                <table id="student-answers-table">
                                    <tr>
                                        <th>Označit</th>
                                        <th>Odpověď</th>
                                    </tr>
                                    <tr id="student-answer-1">
                                        <input type="hidden" class="student-answer-hidden">
                                        <td><input type="checkbox" class="student-answer-checkbox"></td>
                                        <td></td>
                                    </tr>
                                </table>
                                break;
                            case 3:
                                <table id="possible-answers-table">
                                    <tr>
                                        <th>Možné odpovědi</th>
                                    </tr>
                                    <tr id="possible-answer-1">
                                        <td><div class="possible-answer-text"></div></td>
                                    </tr>
                                </table>
                                <table id="student-answers-table">
                                    <tr>
                                        <th>Odpověď</th>
                                    </tr>
                                    <tr id="student-answer-1">
                                        <td>
                                            <select class="student-answer-select" name="StudentsAnswerList[]"
                                                onchange="updateStudentsAnswersSelect(this.parentNode.parentNode.id, '@subquestionType')"></select> -
                                            <select class="student-answer-select" name="StudentsAnswerList[]"
                                                onchange="updateStudentsAnswersSelect(this.parentNode.parentNode.id, '@subquestionType')"></select>
                                        </td>
                                    </tr>
                                </table>
                                break;
                            case 4:
                                <table id="student-answers-table">
                                    <tr>
                                        <th>Otázka</th>
                                        <th>Ano (platí)</th>
                                        <th>Ne (neplatí)</th>
                                    </tr>
                                    <tr id="student-answer-1">
                                        <td><div class="possible-answer-text"></div>
                                            <input type="hidden" class="possible-answer-hidden" name="possibleAnswers[]">
                                        </td>
                                        <td>
                                            <input checked class="student-answer-radio" type="radio" name="student-answer-radio-1">
                                            <input type="hidden" class="student-answer-hidden" name="StudentsAnswerList[]">Ano
                                        </td>
                                        <td><input class="student-answer-radio" type="radio" name="student-answer-radio-1">Ne</td>
                                    </tr>
                                </table>
                                break;
                            case 5:
                                <textarea id="student-answer" name="StudentsAnswerList[]" rows="4" cols="50" placeholder="Vaše odpověď"></textarea>
                                break;
                            case 6:
                                <table id="student-answers-table">
                                    <tr>
                                        <th>Označit</th>
                                        <th>Odpověď</th>
                                    </tr>
                                    <tr id="student-answer-1">
                                        <td><input type="radio" id="student-answer-radio-1" name="student-answer-radio"></td>
                                        <td></td>
                                    </tr>
                                </table>
                                <input type="hidden" class="student-answer-hidden" name="StudentsAnswerList[]">
                                break;
                            case 7:
                                <div id="subquestion-text-1"></div>
                                <select id="student-answer-select" name="StudentsAnswerList[]"></select>
                                <div id="subquestion-text-2"></div>
                                break;
                            case 8:
                                <div id="subquestion-text-1"></div>
                                <input type="text" id="gap-text" name="StudentsAnswerList[]" placeholder="(DOPLŇTE)">
                                <div id="subquestion-text-2"></div>
                                break;
                            case 9:
                                <table id="possible-answers-table">
                                    <tr>
                                        <th>Možné odpovědi</th>
                                    </tr>
                                    <tr id="possible-answer-1">
                                        <td><div class="possible-answer-text"></div></td>
                                    </tr>
                                </table>

                                <div id="subquestion-text-1" class="subquestion-text"></div>
                                <select id="student-answer-select-1" class="student-answer-select" name="StudentsAnswerList[]"
                                    onchange="updateStudentsAnswersSelect(this.parentNode.parentNode.id, '@subquestionType')"></select>
                                <div id="subquestion-text-2" class="subquestion-text"></div>
                                <select id="student-answer-select-2" class="student-answer-select" name="StudentsAnswerList[]"
                                    onchange="updateStudentsAnswersSelect(this.parentNode.parentNode.id, '@subquestionType')"></select>
                                <div id="subquestion-text-3" class="subquestion-text"></div>
                                <div id="additional-questions"></div>
                                break;
                            case 10:
                                <input type="hidden" id="student-answer-hidden" name="StudentsAnswerList[]" value="Nezodpovězeno">
                                <input type="range" id="slider-question" value="50" min="1" max="100"
                                    oninput="changeSliderOutputs(this.value)">
                                <output>Nezodpovězeno</output>
                                break;
                        }
                    }
                </form>
            }
        }
        
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/site.js"></script>
<script>
    solveQuestionPagePostProcessing('@subquestionsCount', '@subquestionResultIdIndex', '@subquestionType', '@possibleAnswerListString',
        '@correctAnswerListString', '@subquestionText', '@studentAnswerListString', '@answerCompletenessString');
</script>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>