@model ViewLayer.Models.StudentMenuModel

<header class="header">
    <div class="header-content content-width">
        <div class="header-left">
            <a class="header-button button button-transparent material-icons" title="Zpět" asp-area="" asp-controller="Home" asp-action="Index">arrow_back</a>
        </div>
        <h1 class="header-center header-title title" title="@Model.Title">@Model.Title</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" title="Odhlásit se" asp-area="" asp-controller="Account" asp-action="SignOut">logout</a>
        </div>
    </div>
</header>
<main class="main content-width">
    <section class="section">
        <article class="article">
            <h2 class="article-title title" title="Seznam studentů">Seznam studentů</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Číselný identifikátor</th>
                        <th>Jméno</th>
                        <th>Login</th>
                        <th>Seznam testů</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach ((string studentNumberIdentifier, string studentIdentifier, string login, string firstName, string lastName, string email) student in @Model.Students)
                        {
                            <tr>
                                <td>@student.studentIdentifier</td>
                                <td>@student.login</td>
                                <td>@student.firstName @student.lastName</td>
                                <td><a class="button" title="Zobrazit studentovy testy" asp-area="" asp-controller="Home" asp-action="BrowseSolvedTestList"
                                asp-route-studentIdentifier="@student.Item1">Zobrazit studentovy testy</a></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </article>
    </section>
</main>