@using Common
@{
    ViewData["Title"] = "Student menu";

    List<(string, string, string)> studentList = LoadStudents();
}

@functions{

    public List<(string, string, string)> LoadStudents()
    {
        List<(string, string, string)> studentList = new List<(string, string, string)>();

        foreach(var studentFile in Directory.GetFiles(Settings.GetStudentsPath())) {
            string studentIdentifier = "", login = "", name = "", surname = "";

            XmlReader xmlReaderStudent = XmlReader.Create(studentFile);
            while (xmlReaderStudent.Read())
            {
                if (xmlReaderStudent.Name == "rdf:Description" && xmlReaderStudent.NodeType != XmlNodeType.EndElement)
                {
                    studentIdentifier = xmlReaderStudent.GetAttribute("rdf:about").Split("#")[1];
                }

                if (xmlReaderStudent.Name == "ns0:login" && xmlReaderStudent.NodeType != XmlNodeType.EndElement)
                {
                    login = xmlReaderStudent.ReadInnerXml();
                }

                if (xmlReaderStudent.Name == "ns0:userFirstName" && xmlReaderStudent.NodeType != XmlNodeType.EndElement)
                {
                    name = xmlReaderStudent.ReadInnerXml();
                }

                if (xmlReaderStudent.Name == "ns0:userLastName" && xmlReaderStudent.NodeType != XmlNodeType.EndElement)
                {
                    surname = xmlReaderStudent.ReadInnerXml();
                }
            }
            studentList.Add((studentIdentifier, login, name + " " + surname));
        }
        return studentList;
    }

    public string ExtractFileExtension(string file)
    {
        string[] fileSplitByDot = file.Split(@".");
        return fileSplitByDot[fileSplitByDot.Length - 1];
    }

}

<header class="header">
    <div class="header-content content-width">
        <div>
            <a class="header-back button button-transparent material-icons" title="Zpět" asp-area="" asp-controller="Home" asp-action="Index">arrow_back</a>
        </div>
        <h1 class="header-title title" title="@ViewData["Title"]">@ViewData["Title"]</h1>
    </div>
</header>
<main class="main content-width">
    <section class="section">
        <article class="article">
            <h2 class="article-title title">Seznam studentů</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Číselný identifikátor</th>
                        <th>Jméno</th>
                        <th>Login</th>
                        <th>Seznam testů</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach ((string, string, string) student in studentList)
                        {
                            <tr>
                                <td>@student.Item1</td>
                                <td>@student.Item2</td>
                                <td>@student.Item3</td>
                                <td><a class="button" title="Zobrazit studentovy testy" asp-area="" asp-controller="Home" asp-action="BrowseSolvedTestList"
                                asp-route-studentIdentifier="@student.Item1">Zobrazit studentovy testy</a></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </article>
    </section>
</main>