@using Common
@{
    ViewData["Title"] = "Student menu";

    List<(string, string, string)> studentList = LoadStudents();
}

@functions{

    public List<(string, string, string)> LoadStudents()
    {
        List<(string, string, string)> studentList = new List<(string, string, string)>();

        foreach (var file in Directory.GetFiles(Settings.GetStudentsPath()))
        {
            string extension = ExtractFileExtension(file);
            if(extension == "rdf")
            {
                IGraph g = new Graph();
                FileLoader.Load(g, file);
                IEnumerable<INode> nodes = g.AllNodes;
                int nodeLine = 1;
                string studentIdentifier = "", login = "", name = "", surname = "";
                foreach (INode node in nodes)
                {
                    if (nodeLine == 1)
                    {
                        string[] splitByHashtag = node.ToString().Split("#");
                        studentIdentifier = splitByHashtag[1];
                    }
                    if (nodeLine == 3)
                    {
                        login = node.ToString();
                    }
                    else if (nodeLine == 9)
                    {
                        name = node.ToString();
                    }
                    else if (nodeLine == 11)
                    {
                        surname = node.ToString();
                    }
                    nodeLine++;
                }
                studentList.Add((studentIdentifier, login, name + " " + surname));
            }
        }
        return studentList;
    }

    public string ExtractFileExtension(string file)
    {
        string[] fileSplitByDot = file.Split(@".");
        return fileSplitByDot[fileSplitByDot.Length - 1];
    }

}

<h1>@ViewData["Title"]</h1>
<div class="student-to-main-menu"><a asp-area="" asp-controller="Home" asp-action="Index">Návrat do hlavního menu</a></div>

<div class="studentmenu-studentlist">
    Seznam studentů:
    <table class="table table-bordered">
        <tr>
            <th>Číselný identifikátor</th>
            <th>Jméno</th>
            <th>Login</th>
            <th>Seznam testů</th>
        </tr>
        @{
            int i = 0;
            foreach ((string, string, string) student in studentList)
            {
                <tr>
                    <td>@student.Item1</td>
                    <td>@student.Item2</td>
                    <td>@student.Item3</td>
                    <td><button class="testtemplate-to-itemtemplate"><a asp-area="" asp-controller="Home" asp-action="BrowseSolvedTestList"
                    asp-route-studentIdentifier="@student.Item1">Zobrazit studentovy testy</a></button></td>
                </tr>
                i++;
            }
        }
    </table>
</div>