@model ViewLayer.Models.PageModel

<header class="header">
    @{
        if(@Model.HeaderMessageData.message.Length > 0)
        {
            <div class="header-message @Model.HeaderMessageData.messageClass">
                <div class="header-center header-message-text title" title="@Model.HeaderMessageData.message">@Model.HeaderMessageData.message</div>
            </div>
        }
    }
    <div class="header-content content-width">
        <div class="header-left">
            <button class="header-button button button-transparent material-icons" id="themeBtn" title="Přepnout do světlého režimu" onclick="changeTheme(this)">light_mode</button>
        </div>
        <h1 class="header-center header-title title" title="@Model.Title">@Model.Title</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" id="signOutBtn" title="Odhlásit se" asp-area="" asp-controller="Account" asp-action="SignOut">logout</a>
        </div>
    </div>
</header>
@{
    string mainHeaderMessagePadding = (Model.HeaderMessageData.message.Length > 0 ? "main-header-message-padding" : "");
}
<main class="main max-content-width @mainHeaderMessagePadding">
    <section class="section justify-content-center">
        <article class="article flex">
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <td align="center">
                            <a class="button button-box-sizing" id="testTemplateListBtn" title="Správa zadání testů" asp-area="" asp-controller="Home" asp-action="TestTemplateList">Správa zadání testů</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a class="button button-box-sizing" id="manageSolvedTestListBtn" title="Správa vyřešených testů" asp-area="" asp-controller="Home" asp-action="ManageSolvedTestList">Správa vyřešených testů</a>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</main>