@model IEnumerable<DomainModel.QuestionTemplate>

@using DomainModel;
@using Common
@using System.Diagnostics;

@{
    bool testPointsDetermined = true;
    double? testPoints = 0;
    string? testPointsString = "";

    //minimum points
    double? minimumPoints = Model.First().TestTemplate.MinimumPoints;
    string minimumPointsString = "0";
    if (minimumPoints != null)
    {
        minimumPointsString = minimumPoints.ToString()!.Replace(",", ".");
    }

    bool userRequestedDifficultyPrediction = false;
    if (ViewBag.TestDifficultyMessage != null)
    {
        userRequestedDifficultyPrediction = true;
    }

    ViewData["Title"] = "Správa zadání testu " + Model.First().TestTemplate.TestNameIdentifier;
}

<div class="text-center">
    <h1>Správa zadání testu @Model.First().TestTemplate.TestNameIdentifier</h1>

    <div id="negative-points">
        <h2>Záporné body</h2>
        <form method="POST">
            <p>@ViewBag.NegativePointsMessage</p>
            <input type="hidden" value="@Model.First().TestTemplate.TestNumberIdentifier" name="testNumberIdentifier">
            <p><input class="radio input" title="Vypnuto (nejmenší možný počet bodů je vždy 0)" type="radio" id="negativePointsDisabled" value="1" name="negativePoints"><label class="radio-label" title="Vypnuto (nejmenší možný počet bodů je 0)" for="negativePointsDisabled">Vypnuto (nejmenší možný počet bodů je 0)</label></p>
            <p><input class="radio input" title="Zapnuto pouze v rámci otázky" type="radio" id="negativePointsEnabledForQuestion" value="2" name="negativePoints"><label class="radio-label" title="Zapnuto pouze v rámci otázky" for="negativePointsEnabledForQuestion">Zapnuto pouze v rámci otázky</label></p>
            <p><input class="radio input" title="Zapnuto" type="radio" id="negativePointsEnabled" value="3" name="negativePoints"><label class="radio-label" title="Zapnuto" for="negativePointsEnabled">Zapnuto</label></p>
            <p><input class="button" id="setNegativePointsBtn" title="Uložit" type="submit" value="Uložit"></p>
            <input type="hidden" value="setNegativePoints" name="action">
        </form>
    </div>

    <div id="question-template-list">
        <h2>Seznam otázek</h2>
        <table>
            <tr>
               <th>Jmenný identifikátor otázky</th>
               <th>Číselný identifikátor otázky</th>
               <th>Nadpis</th>
               <th>Počet bodů</th>
               <th>Správa otázky</th>
            </tr>
            @{
                int i = 0;
                foreach (var item in Model)
                {
                    bool questionPointsDetermined = true;
                    double? questionPoints = 0;
                    foreach(SubquestionTemplate subquestionTemplate in item.SubquestionTemplateList)
                    {
                        if(subquestionTemplate.SubquestionPoints == null)
                        {
                            testPointsDetermined = false;
                            questionPointsDetermined = false;
                            break;
                        }
                        questionPoints += subquestionTemplate.SubquestionPoints;
                    }
                    testPoints += questionPoints;
                    string? questionPointsString = "";
                    if(!questionPointsDetermined)
                    {
                        questionPointsString = "N/A";
                    }
                    else
                    {
                        double? questionPointsRound = CommonFunctions.RoundDecimal(questionPoints);
                        questionPointsString = questionPointsRound.ToString();
                    }
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.QuestionNameIdentifier)</td>
                        <td>@Html.DisplayFor(modelItem => item.QuestionNumberIdentifier)</td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@questionPointsString</td>
                        <td><a class="button" id="questionTemplateBtn_@i" title="Správa otázky" asp-area="" asp-controller="Home" asp-action="QuestionTemplate"
                        asp-route-questionNumberIdentifier="@item.QuestionNumberIdentifier">Správa otázky</a></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

@{
    if(!testPointsDetermined)
    {
        testPointsString = "N/A";
    }
    else
    {
        double? testPointsRound = CommonFunctions.RoundDecimal(testPoints);
        testPointsString = testPointsRound.ToString();
    }

    //negative points
    EnumTypes.NegativePoints negativePoints = Model.First().TestTemplate.NegativePoints;
    if (negativePoints == EnumTypes.NegativePoints.Enabled)
    {
        <script>
        document.getElementById("negativePointsEnabled").checked = true;
        </script>
    }
    else if (negativePoints == EnumTypes.NegativePoints.EnabledForQuestion)
    {
        <script>
        document.getElementById("negativePointsEnabledForQuestion").checked = true;
        </script>
    }
    else if (negativePoints == EnumTypes.NegativePoints.Disabled)
    {
        <script>
        document.getElementById("negativePointsDisabled").checked = true;
        </script>
    }
}

<div id="test-template">
    <h2>Parametry testu</h2>
    <table>
        <tr>
            <th>Jmenný identifikátor testu</th>
            <td>@Model.First().TestTemplate.TestNameIdentifier</td>
        </tr>
        <tr>
            <th>Číselný identifikátor testu</th>
            <td>@Model.First().TestTemplate.TestNumberIdentifier</td>
        </tr>
        <tr>
            <th>Nadpis</th>
            <td>@Model.First().TestTemplate.Title</td>
        </tr>
        <tr>
            <th>Počet otázek</th>
            <td>@Model.Count()</td>
        </tr>
        <tr>
            <th>Počet bodů</th>
            <td>@testPointsString</td>
        </tr>
    </table>
</div>

<div id="minimum-points">
    <h2>Minimální počet bodů</h2>
    <form method="POST">
        <p>@ViewBag.MinimumPointsMessage</p>
        <p>Minimální počet bodů: <input type="number" min="0" step=".01" required name="minimumPointsAmount" value="@minimumPointsString" /></p>
        <p><input class="button" id="setMinimumPointsBtn" title="Uložit" type="submit" value="Uložit"></p>
        <input type="hidden" value="setMinimumPoints" name="action">
        <input type="hidden" value="@testPointsDetermined.ToString()" name="testPointsDetermined">
    </form>
</div>

<div id="test-difficulty">
    <h2>Obtížnost testu</h2>
    <form method="POST">
        <p>@ViewBag.PredictedTestPointsMessage</p>
        @{
            if (userRequestedDifficultyPrediction)
            {
                <p>Předpokládaný průměrný počet bodů: @ViewBag.TestDifficultyMessage</p>
            }
            else
            {
                <p>Předpokládaný průměrný počet bodů: <button type="submit" value="getDifficultyPrediction" name="action">Zobrazit</button></p>
            }
        }
    </form>
</div>

<div id="backBtn"><a asp-action="TestTemplateList">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>