@model ViewLayer.Models.TestTemplateModel

@{
    if(@Model.QuestionList.Count == 0)
    {
        string message = "Test neobsahuje žádné otázky. Prosím opravte tuto chybu pomocí nástroje TAO Core.";
        WriteMessageToUser(message);
    }
}

@functions{
    public void WriteMessageToUser(string message)
    {
        <script>
        window.alert('@message');
        </script>
    }
}

<header class="header">
    @{
        if(@Model.HeaderMessageData.message.Length > 0)
        {
            <div class="header-message @Model.HeaderMessageData.messageClass">
                <div class="header-center header-message-text title" title="@Model.HeaderMessageData.message">@Model.HeaderMessageData.message</div>
            </div>
        }
    }
    <div class="header-content content-width">
        <div class="header-left">
            <a class="header-button button button-transparent material-icons" id="backBtn" title="Zpět" asp-area="" asp-controller="Home" asp-action="TestTemplateList">arrow_back</a>
            <button class="header-button button button-transparent material-icons" id="themeBtn" title="Přepnout do světlého režimu" onclick="changeTheme(this)">light_mode</button>
        </div>
        <h1 class="header-center header-title title" title="@Model.Title">@Model.Title</h1>
        <div class="header-right">
            <a class="header-text" id="userNameText" title="@User.Claims.ToList()[1].Value">@User.Claims.ToList()[1].Value.Split(" ")[0][0]@User.Claims.ToList()[1].Value.Split(" ")[1][0]</a>
            <a class="header-button button button-transparent material-icons g_id_signout" id="signOutBtn" title="Odhlásit se" asp-area="" asp-controller="Account" asp-action="SignOut">logout</a>
        </div>
    </div>
</header>
@{
    string mainHeaderMessagePadding = (Model.HeaderMessageData.message.Length > 0 ? "main-header-message-padding" : "");
}
<main class="main max-content-width @mainHeaderMessagePadding">
    <section class="section content-width">
        <article class="article flex">
            <h2 class="article-title title" title="Parametry testu">Parametry testu</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jmenný identifikátor testu</th>
                        <td>@Model.TestNameIdentifier</td>
                    </tr>
                    <tr>
                        <th>Číselný identifikátor testu</th>
                        <td>@Model.TestNumberIdentifier</td>
                    </tr>
                    <tr>
                        <th>Nadpis</th>
                        <td>@Model.TestParameters.Item3</td>
                    </tr>
                    <tr>
                        <th>Počet otázek</th>
                        <td>@Model.TestParameters.Item4</td>
                    </tr>
                    <tr>
                        <th>Počet bodů</th>
                        @{
                            if(@Model.TestPoints.Item2)
                            {
                                <td>@Model.TestPoints.Item1</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                    </tr>
                </table>
            </div>
        </article>
        <article class="article flex">
            <h2 class="article-title title">Záporné body</h2>
            <div class="article-content">
                <form method="POST">
                    <input type="hidden" value="@Model.TestNameIdentifier" name="testNameIdentifier">
                    <input type="hidden" value="@Model.TestNumberIdentifier" name="testNumberIdentifier">
                    <table class="article-table">
                        @{
                            if(@Model.NegativePointsOption != null)
                            {
                                <tr><th class="correct" align="center">Změny úspěšně uloženy</th></tr>
                                string negativePointsSaved = "";
                                if(@Model.NegativePointsOption == "negativePoints_no")
                                {
                                    negativePointsSaved = "(záporné body jsou nyní pouze v rámci otázky)";
                                }
                                else if(@Model.NegativePointsOption == "negativePoints_yes")
                                {
                                    negativePointsSaved = "(záporné body jsou nyní v rámci testu)";
                                }
                                <tr><td class="correct" align="center">@negativePointsSaved</td></tr>
                            }
                        }
                        <tr>
                            <td>
                                <input class="radio input" title="Záporné body pouze v rámci otázky" type="radio" id="negativePoints_no" value="negativePoints_no" name="negativePoints"><label class="radio-label" title="Záporné body pouze v rámci otázky" for="negativePoints_no">Záporné body pouze v rámci otázky</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="radio input" title="Záporné body i v rámci testu" type="radio" id="negativePoints_yes" value="negativePoints_yes" name="negativePoints"><label class="radio-label" title="Záporné body i v rámci testu" for="negativePoints_yes">Záporné body i v rámci testu</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input class="button" id="setNegativePointsBtn" title="Uložit" type="submit" value="Uložit">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </article>
    </section>
    <section class="section content-width">
        <article class="article flex">
            <h2 class="article-title title" title="Seznam otázek">Seznam otázek</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jmenný identifikátor otázky</th>
                        <th>Číselný identifikátor otázky</th>
                        <th>Nadpis</th>
                        <th>Počet bodů</th>
                        <th>Správa otázky</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach ((string, string, string, string) question in Model.QuestionList)
                        {
                            string points = "";
                            if(!(@Model.ItemParameters[i].Item6))
                            {
                                points = "N/A";
                            }
                            else
                            {
                                points = @Model.ItemParameters[i].Item5.ToString();
                            }

                            <tr>
                                <td>@question.Item3</td>
                                <td>@question.Item4</td>
                                <td>@Model.ItemParameters[i].Item3</td>
                                <td>@points</td>
                                <td><a class="button" id="itemTemplateBtn_@i" title="Správa otázky" asp-area="" asp-controller="Home" asp-action="ItemTemplate"
                                asp-route-testNameIdentifier="@Model.TestNameIdentifier"
                                asp-route-testNumberIdentifier="@Model.TestNumberIdentifier"
                                asp-route-itemNumberIdentifier="@Model.ItemParameters[i].Item1"
                                asp-route-itemNameIdentifier="@Model.ItemParameters[i].Item2">Správa otázky</a></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </article>
    </section>
</main>

@{
    if(!Model.NegativePoints)
    {
        <script>
            document.getElementById("negativePoints_no").checked = true;
        </script>
    }
    else
    {
        <script>
            document.getElementById("negativePoints_yes").checked = true;
        </script>
    }
}
