@model IEnumerable<DomainModel.TestTemplate>

@{
    ViewData["Title"] = "Správa zadání testů";
}

<div class="text-center">
    <h1>Správa zadání testů</h1>

    <div id="test-template-list">
        <table>
            <tr>
                <th>Jmenný identifikátor testu</th>
                <th>Číselný identifikátor testu</th>
                <th>Nadpis</th>
                <th>Smazat</th>
                <th>Správa</th>
            </tr>
            @{
                int i = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TestNameIdentifier)</td>
                        <td>@Html.DisplayFor(modelItem => item.TestNumberIdentifier)</td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td><button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteTemplate', '@item.TestNumberIdentifier', null, null, null, null, null)">Smazat test</button></td>
                        <td><a class="button" id="testTemplateBtn_@i" title="Správa testu"
                            asp-area="" 
                            asp-controller="Home" 
                            asp-action="TestTemplate" 
                            asp-route-testNumberIdentifier="@item.TestNumberIdentifier">Správa testu</a></td>
                    </tr>
                }
            }
        </table>
    </div>

    <p>@ViewBag.Message</p>

    <form method="POST">
        <input type="submit" value="Načíst testy" class="btn btn-primary" />
        <input type="hidden" value="add" name="action">
    </form>

    <button type="button" class="btn btn-primary" onclick="showConfirmActionForm('deleteAllTemplates', null, null, null, null, null, null)">Smazat všechny testy</button>

    <div id="confirm-action">
        <form method="POST">
            <label><div id="confirm-action-label"></div></label><br>
            <input title="Ano" type="submit" value="Ano"><br>
            <input title="Ne" type="button" value="Ne" onclick="hideConfirmActionForm()">
            <input type="hidden" id="testNumberIdentifier" name="testNumberIdentifier">
            <input type="hidden" id="action" name="action">
        </form>
    </div>
</div>

<div id="backBtn"><a asp-action="@ViewBag.Return">Zpět</a></div>

<div id="signOutBtn"><a asp-controller="Account" asp-action="GoogleSignOut">Odhlásit se</a></div>