@{
    ViewData["Title"] = "Test: " + @ViewBag.testNameIdentifier;

    (string testNameIdentifier, string testNumberIdentifier, string title, int amountOfItems) = LoadTestParameters();
}

@{
    List<(string, string, string, string)> questionList = LoadQuestions();
    List<(string, string, string, string, int)> itemParameters = LoadItemInfo();
    Console.WriteLine("asdd");
}



@functions{

    public (string, string, string, int) LoadTestParameters()
    {
        string testNameIdentifier = @ViewBag.testNameIdentifier;
        string testNumberIdentifier = @ViewBag.testNumberIdentifier;
        string title = "";
        int amountOfItems = 0;

        XmlReader xmlReader = XmlReader.Create("C:\\xampp\\exported\\tests\\" + testNameIdentifier + "\\tests\\" + testNumberIdentifier + "\\test.xml");
        while (xmlReader.Read())
        {
            if ((xmlReader.NodeType == XmlNodeType.Element) && (xmlReader.Name == "assessmentTest"))
            {
                if (xmlReader.HasAttributes)
                {
                    title = xmlReader.GetAttribute("title");
                }
            }

            if (xmlReader.Name == "assessmentItemRef" && xmlReader.NodeType != XmlNodeType.EndElement)
            {
                amountOfItems++;
            }
        }

        return (testNameIdentifier, testNumberIdentifier, title, amountOfItems);
    }

    public List<(string, string, string, string)> LoadQuestions()
    {
        string testNameIdentifier = ViewBag.testNameIdentifier;
        string testNumberIdentifier = ViewBag.testNumberIdentifier;
        List<(string, string, string, string)> questionList = new List<(string, string, string, string)>();
        string testPart = "";
        string testSection = "";
        string itemNameIdentifier = "";
        string itemNumberIdentifier = "";

        XmlReader xmlReader = XmlReader.Create("C:\\xampp\\exported\\tests\\" + testNameIdentifier + "\\tests\\" + testNumberIdentifier + "\\test.xml");
        while (xmlReader.Read())
        {
            if(xmlReader.Name == "testPart")
            {
                testPart = xmlReader.GetAttribute("identifier");
            }

            if (xmlReader.Name == "assessmentSection")
            {
                testSection = xmlReader.GetAttribute("identifier");
            }

            if (xmlReader.Name == "assessmentItemRef" && xmlReader.NodeType != XmlNodeType.EndElement)
            {
                itemNameIdentifier = xmlReader.GetAttribute("identifier");
                string itemNumberIdentifierToSplit = xmlReader.GetAttribute("href");
                string[] itemNumberIdentifierSplitBySlash = itemNumberIdentifierToSplit.Split(@"/");
                itemNumberIdentifier = itemNumberIdentifierSplitBySlash[3];
                questionList.Add((testPart, testSection, itemNameIdentifier, itemNumberIdentifier));
            }
        }

        return questionList;
    }

    public List<(string, string, string, string, int)> LoadItemInfo()//Jiné než v původní appce, načte seznam parametrů všech itemů
    {
        string title = "";
        string label = "";
        string itemNumberIdenfifier = "";
        string itemNameIdenfifier = "";
        int i = 0;
        List<(string, string, string, string, int)> itemParameters = new List<(string, string, string, string, int)>();
        List<(string, string, string, string)> questionList = LoadQuestions();

        foreach (var directory in Directory.GetDirectories("C:\\xampp\\exported\\tests\\" + @ViewBag.testNameIdentifier + "\\items\\"))
        {
            foreach (var file in Directory.GetFiles(directory))
            {
                string[] fileSplitBySlash = file.Split(@"\");
                if(fileSplitBySlash[fileSplitBySlash.Length - 1] != "qti.xml")
                {
                    continue;
                }
                else
                {
                    XmlReader xmlReader = XmlReader.Create(file);
                    while (xmlReader.Read())
                    {
                        if (xmlReader.NodeType == XmlNodeType.Element && xmlReader.HasAttributes)
                        {
                            if (xmlReader.Name == "assessmentItem")
                            {
                                itemNumberIdenfifier = questionList[i].Item4;
                                itemNameIdenfifier = questionList[i].Item3;
                                title = xmlReader.GetAttribute("title");
                                label = xmlReader.GetAttribute("label");
                                itemParameters.Add((itemNumberIdenfifier, itemNameIdenfifier, title, label, 666));
                                i++;
                            }
                        }
                    }                    
                }
            }
        }

        return itemParameters;
    }

    public string GetItemPath()
    {
        return "C:\\xampp\\exported\\tests\\" + @ViewBag.testNameIdentifier + "\\items\\" + @ViewBag.itemNumberIdentifier + "\\qti.xml";
    }

    //<td><button class="item-details-button" id="@i" onclick="javascript:asdtest('asd', @bee())">Vybrat otázku</button></td>
//                    <td><button class="item-details-button" id="@i" onclick="asdtest(@itemParameters[0].Item1, @itemParameters[0].Item2)">Vybrat otázku</button></td>


}

<h1>@ViewData["Title"]</h1>

<div class="testtemplate-to-testlist"><a asp-area="" asp-controller="Home" asp-action="TestList">Zpět</a></div>

<div class="testtemplate-test-parameters">
    Parametry testu:
    <br>
    Jmenný identifikátor testu: @testNameIdentifier
    <br>
    Číselný identifikátor testu: @testNumberIdentifier
    <br>
    Nadpis: @title
    <br>
    Počet otázek: @amountOfItems
    <br>
    Počet bodů: TODO
</div>

<div class="testtemplate-questionlist">
    Seznam otázek:
    <table class="table table-bordered">
        <tr>
            <th>Část testu</th>
            <th>Sekce testu</th>
            <th>Jmenný identifikátor otázky</th>
            <th>Číselný identifikátor otázky</th>
            <th>Počet bodů (zatím pro ID)</th>
            <th>Správa</th>
        </tr>
        @{
            int i = 0;
            foreach ((string, string, string, string) question in questionList)
            {
                <tr>
                    <td>@question.Item1</td>
                    <td>@question.Item2</td>
                    <td>@question.Item3</td>
                    <td>@question.Item4</td>
                    <td>TODO</td>
                    <td><button class="item-details-button" id="@i" onclick="loadQuestionInfo('@itemParameters[i].Item1', '@itemParameters[i].Item2', '@itemParameters[i].Item3', '@itemParameters[i].Item4', '@itemParameters[i].Item5')">Vybrat otázku</button></td>
                </tr>
                i++;
            }
        }
    </table>
</div>

<div class="testtemplate-item-parameters">
    Parametry otázky:
    <br>
    <div id="testtemplate-item-itemnumberidentifier">Číselný identifikátor otázky:</div>
    <br>
    <div id="testtemplate-item-itemnameidentifier">Jmenný identifikátor otázky:</div>
    <br>
    <div id="testtemplate-item-title">Nadpis otázky:</div>
    <br>
    <div id="testtemplate-item-label">Označení otázky:</div>
    <br>
    <div id="testtemplate-item-points">Počet bodů za otázku:</div>
</div>


