@model ViewLayer.Models.TestTemplateListModel
@using DomainModel;

@{
    ViewData["Title"] = @Model.Title;
}

<div class="text-center">
    <h1>@Model.Title</h1>
    <div id="test-template-list">
        <table>
            <tr>
                <th>Jmenný identifikátor testu</th>
                <th>Číselný identifikátor testu</th>
                <th>Nadpis</th>
                <th>Správa</th>
            </tr>
            @{
                int i = 0;
                foreach (TestTemplate testTemplate in @Model.TestTemplates)
                {
                    <tr>
                        <td>@testTemplate.TestNameIdentifier</td>
                        <td>@testTemplate.TestNumberIdentifier</td>
                        <td>@testTemplate.Title</td>
                        <td><a class="button" id="testTemplateBtn_i" title="Správa testu"
                            asp-area="" 
                            asp-controller="Home" 
                            asp-action="TestTemplate" 
                            asp-route-testNameIdentifier="@testTemplate.TestNameIdentifier" 
                            asp-route-testNumberIdentifier="@testTemplate.TestNumberIdentifier">Správa testu</a></td>
                    </tr>
                    i++;
                }
            }
        </table>
    </div>
</div>

<footer>
    <div class="container">
        <a asp-action="TeacherMenu">Zpět</a>
    </div>
</footer>