@{
    ViewData["Title"] = "Správa zadání testu " + @ViewBag.testNameIdentifier;
    string testNameIdentifier = @ViewBag.testNameIdentifier;
    string testNumberIdentifier = @ViewBag.testNumberIdentifier;
    string viewBagNegativePoints = @ViewBag.NegativePoints;

    TestController testController = new TestController();
    (_, _, string title, int amountOfItems) = testController.LoadTestParameters(testNameIdentifier, testNumberIdentifier);
    {}
    List<(string, string, string, string)> questionList = testController.LoadQuestions(testNameIdentifier, testNumberIdentifier);
    List<(string, string, string, string, int, bool)> itemParameters = testController.LoadItemInfo(testNameIdentifier, testNumberIdentifier);
    (int testPoints, bool testPointsDetermined) = testController.GetTestPoints(itemParameters);
    bool negativePoints = testController.NegativePointsManagement(testNameIdentifier, testNumberIdentifier);
    if(questionList.Count == 0)
    {
        //string message = "Test does not include any questions. Please correct this mistake using the TAO Core tool.";
        string message = "Test neobsahuje žádné otázky. Prosím opravte tuto chybu pomocí nástroje TAO Core.";
        WriteMessageToUser(message);
    }
}

@functions{

    public void WriteMessageToUser(string message)
    {
        <script>
        window.alert('@message');
        </script>
    }

}

<header class="header">
    <div class="header-content content-width">
        <div class="header-left">
            <a class="header-button button button-transparent material-icons" title="Zpět" asp-area="" asp-controller="Home" asp-action="TestTemplateList">arrow_back</a>
        </div>
        <h1 class="header-center header-title title" title="@ViewData["Title"]">@ViewData["Title"]</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" title="Odhlásit se" asp-area="" asp-controller="Account" asp-action="SignOut">logout</a>
        </div>
    </div>
</header>
<main class="main content-width">
    <section class="section">
        <article class="article">
            <h2 class="article-title title" title="Parametry testu">Parametry testu</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jmenný identifikátor testu</th>
                        <td>@testNameIdentifier</td>
                    </tr>
                    <tr>
                        <th>Číselný identifikátor testu</th>
                        <td>@testNumberIdentifier</td>
                    </tr>
                    <tr>
                        <th>Nadpis</th>
                        <td>@title</td>
                    </tr>
                    <tr>
                        <th>Počet otázek</th>
                        <td>@amountOfItems</td>
                    </tr>
                    <tr>
                        <th>Počet bodů</th>
                        @{
                            if(@testPointsDetermined)
                            {
                                <td>@testPoints</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                    </tr>
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Seznam otázek">Seznam otázek</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Část testu</th>
                        <th>Sekce testu</th>
                        <th>Jmenný identifikátor otázky</th>
                        <th>Číselný identifikátor otázky</th>
                        <th>Počet bodů</th>
                        <th>Detaily otázky</th>
                        <th>Správa otázky</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach ((string, string, string, string) question in questionList)
                        {
                            string points = "";
                            if(!(@itemParameters[i].Item6))
                            {
                                points = "N/A";
                            }
                            else
                            {
                                points = @itemParameters[i].Item5.ToString();
                            }

                            <tr>
                                <td>@question.Item1</td>
                                <td>@question.Item2</td>
                                <td>@question.Item3</td>
                                <td>@question.Item4</td>
                                <td>@points</td>
                                <td><button class="button" title="Detaily otázky" id="@i" onclick="loadQuestionInfo('@itemParameters[i].Item1', '@itemParameters[i].Item2', '@itemParameters[i].Item3', '@itemParameters[i].Item4', '@itemParameters[i].Item5', '@itemParameters[i].Item6')">Detaily otázky</button></td>
                                <td><a class="button" title="Správa otázky" asp-area="" asp-controller="Home" asp-action="ItemTemplate"
                                asp-route-testNameIdentifier="@testNameIdentifier"
                                asp-route-testNumberIdentifier="@testNumberIdentifier"
                                asp-route-itemNumberIdentifier="@itemParameters[i].Item1"
                                asp-route-itemNameIdentifier="@itemParameters[i].Item2">Správa otázky</a></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title" title="Parametry otázky">Parametry otázky</h2>
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Číselný identifikátor otázky</th>
                        <td id="testtemplate-item-itemnumberidentifier"></td>
                    </tr>
                    <tr>
                        <th>Jmenný identifikátor otázky</th>
                        <td id="testtemplate-item-itemnameidentifier"></td>
                    </tr>
                    <tr>
                        <th>Nadpis otázky</th>
                        <td id="testtemplate-item-title"></td>
                    </tr>
                    <tr>
                        <th>Označení otázky</th>
                        <td id="testtemplate-item-label"></td>
                    </tr>
                    <tr>
                        <th>Počet bodů za otázku</th>
                        <td id="testtemplate-item-points"></td>
                    </tr>
                </table>
            </div>
        </article>
        <article class="article">
            <h2 class="article-title title">Záporné body</h2>
            <div class="article-content">
                <form method="POST">
                    <input type="hidden" value="@testNameIdentifier" name="testNameIdentifier">
                    <input type="hidden" value="@testNumberIdentifier" name="testNumberIdentifier">
                    <table class="article-table">
                        @{
                            if(@viewBagNegativePoints != null)
                            {
                                <tr><th class="correct" align="center">Změny úspěšně uloženy</th></tr>
                                string negativePointsSaved = "";
                                if(@viewBagNegativePoints == "negativePoints_no")
                                {
                                    negativePointsSaved = "(záporné body jsou nyní pouze v rámci otázky)";
                                }
                                else if(@viewBagNegativePoints == "negativePoints_yes")
                                {
                                    negativePointsSaved = "(záporné body jsou nyní v rámci testu)";
                                }
                                <tr><td class="correct" align="center">@negativePointsSaved</td></tr>
                            }
                        }
                        <tr>
                            <td>
                                <input class="radio input" title="Záporné body pouze v rámci otázky" type="radio" id="negativePoints_no" value="negativePoints_no" name="negativePoints"><label class="radio-label" title="Záporné body pouze v rámci otázky" for="negativePoints_no">Záporné body pouze v rámci otázky</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="radio input" title="Záporné body i v rámci testu" type="radio" id="negativePoints_yes" value="negativePoints_yes" name="negativePoints"><label class="radio-label" title="Záporné body i v rámci testu" for="negativePoints_yes">Záporné body i v rámci testu</label>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input class="button" title="Uložit" type="submit" value="Uložit">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </article>
    </section>
</main>

@{
    if(!negativePoints)
    {
        <script>
            document.getElementById("negativePoints_no").checked = true;
        </script>
    }
    else
    {
        <script>
            document.getElementById("negativePoints_yes").checked = true;
        </script>
    }
}
