@model ViewLayer.Models.TestTemplateListModel
 
<header class="header">
    <div class="header-content content-width">
        <div class="header-left">
            @{
                if(@Model.UserRole >= 2)
                {
                    <a class="header-button button button-transparent material-icons" id="backBtn" title="Zpět" asp-area="" asp-controller="Home" asp-action="AdminMenu">arrow_back</a>
                }
                else
                {
                    <a class="header-button button button-transparent material-icons" id="backBtn" title="Zpět" asp-area="" asp-controller="Home" asp-action="TeacherMenu">arrow_back</a>
                }
            }
        </div>
        <h1 class="header-center header-title title" title="@Model.Title">@Model.Title</h1>
        <div class="header-right">
            <a class="header-button button button-transparent material-icons g_id_signout" id="signOutBtn" title="Odhlásit se" asp-area="" asp-controller="Home" asp-action="Index">logout</a>
        </div>
    </div>
</header>
<main class="main content-width">
    <section class="section">
        <article class="article">
            <div class="article-content">
                <table class="article-table">
                    <tr>
                        <th>Jméno ve složce</th>
                        <th>Identifikátor</th>
                        <th>Nadpis</th>
                        <th>Správa</th>
                    </tr>
                    @{
                        int i = 0;
                        foreach ((string, string, string) testIdentifiers in @Model.Tests)
                        {
                            <tr>
                                <td>@testIdentifiers.Item1</td>
                                <td>@testIdentifiers.Item2</td>
                                <td>@testIdentifiers.Item3</td>
                                <td><a class="button" id="testTemplateBtn_@i" title="Správa testu"
                                    asp-area="" 
                                    asp-controller="Home" 
                                    asp-action="TestTemplate" 
                                    asp-route-testNameIdentifier="@testIdentifiers.Item1" 
                                    asp-route-testNumberIdentifier="@testIdentifiers.Item2">Správa testu</a></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </article>
    </section>
</main>