@model IEnumerable<DomainModel.QuestionTemplate>

@using DomainModel;

@{
    ViewData["Title"] = "Správa zadání testu " + Model.First().TestTemplate.TestNameIdentifier;
}

<div class="text-center">
    <h1>Správa zadání testu @Model.First().TestTemplate.TestNameIdentifier</h1>

    <div id="test-template">
        <table>
            <tr>
                <th>Jmenný identifikátor testu</th>
                <td>@Model.First().TestTemplate.TestNameIdentifier</td>
            </tr>
            <tr>
                <th>Číselný identifikátor testu</th>
                <td>@Model.First().TestTemplate.TestNumberIdentifier</td>
            </tr>
            <tr>
                <th>Nadpis</th>
                <td>@Model.First().TestTemplate.Title</td>
            </tr>
            <tr>
                <th>Počet otázek</th>
                <td>@Model.Count()</td>
            </tr>
        </table>
    </div>

    <div id="question-template-list">
        <table>
            <tr>
               <th>Jmenný identifikátor otázky</th>
               <th>Číselný identifikátor otázky</th>
               <th>Nadpis</th>
               <th>Správa otázky</th>
            </tr>
            @{
                int i = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.QuestionNameIdentifier)</td>
                        <td>@Html.DisplayFor(modelItem => item.QuestionNumberIdentifier)</td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td><a class="button" id="questionTemplateBtn_@i" title="Správa otázky" asp-area="" asp-controller="Home" asp-action="QuestionTemplate"
                        asp-route-testNameIdentifier="@item.TestTemplate.TestNameIdentifier"
                        asp-route-testNumberIdentifier="@item.TestTemplate.TestNumberIdentifier"
                        asp-route-questionNameIdentifier="@item.QuestionNameIdentifier"
                        asp-route-questionNumberIdentifier="@item.QuestionNumberIdentifier">Správa otázky</a></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<footer>
    <div class="container">
        <a asp-action="TestTemplateList">Zpět</a>
    </div>
</footer>